<app-banner-image [bannerTitle]="'NGS GOATs'"></app-banner-image>
<section class="content-info">

    <div class="container paddings-mini">

        <div class="panel-box">


            <div class="pt-3 pb-5">

                <div class="row mb-5">
                    <div class="col text-center">
                        <span class="mr-5 finger" (click)="previous()"><i class="fas fa-caret-left"></i> Previous</span>
                        <span class="mr-5 ml-5 h3">Season {{selectedSeason}}</span>
                        <span class="ml-5 finger" (click)="next()">Next <i class="fas fa-caret-right"></i></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <ng-container *ngIf="doneLoading else loadingTemplate">
                            <div *ngIf="matches?.processedMatches else notAvailable">
                                <div *ngFor="let champion of sortMatchesCorrectly(matches.processedMatches); let i = index">
                                    <br *ngIf="i>0">
                                    <app-champ-expander [match]="champion"></app-champ-expander>
                                </div>
                            </div>
                            <ng-template #notAvailable>
                                <div class="text-center">
                                    <h5>Looks like we don't have that information</h5>
                                    <img src="/assets/obiwan.jpg">
                                </div>
                            </ng-template>
                        </ng-container>
                    </div>
                </div>
                <ng-template #loadingTemplate>
                    <div class="col text-center">
                        <div class="loading-box mx-auto mt-5">
                            <div class="loading-text"><i class="fas fa-spin fa-spinner"></i> Loading..</div>
                        </div>
                    </div>
                </ng-template>


                <!-- <div class="row mt-3" *ngFor="let season of grandFinals | keyvalue:sortOrder">

                    <div class="col">
                        <div class="text-center">
                            <h3> Season {{season.key}}</h3>
                        </div>
                        <div *ngIf="season.value?.processedMatches else notAvailable">
                            <div *ngFor="let champion of season.value.processedMatches">
                                <app-champ-expander [match]="champion"></app-champ-expander>
                            </div>
                        </div>
                        <ng-template #notAvailable>
                            <div class="text-center">
                                <h5>Looks like we don't have that information</h5>
                                <img src="/assets/obiwan.jpg">
                            </div>

                        </ng-template>
                    </div>

                </div> -->

            </div>
        </div>
    </div>
</section>