<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NGS Invatation</title>
  <style>
    body {
      background-color: grey;
    }

    .e-body {
      background-color: white;
      width: 75%;
      margin: auto;
      height: 400px;
    }

    .center {
      text-align: center;
    }

    .inline {
      display: inline-block;
    }

    .headerImg {
      width: 50px;
    }
  </style>
</head>

<body>

  <div class="e-body">
    <div class="center" style="padding-top: 35px;">
      <img class="inline headerImg" src="https://www.nexusgamingseries.org/assets/may-NGS_Picto2x.png">
      <h1 class="inline" style="padding: 5px;">You've been invited to <br>Nexus Gaming Series</h1>
      <img class="inline headerImg" src="https://www.nexusgamingseries.org/assets/may-NGS_Picto2x.png">
    </div>
    <div class="center" style="padding:5px;">
      Your friend {{username}}, has invited you to join their team at the Nexus Gaming Series,
      <br> An amateur Heroes of the Storm League!
    </div>
    <div class="center" style="padding-top: 10px;">
      Please join us by clicking this link and creating an account!
      <br> <a href="{{link}}">Accept Invite!</a>
    </div>
    <div class="center" style="margin-top: 10px;">
      <img src="https://www.nexusgamingseries.org/assets/Lettermark.png">
    </div>
  </div>


</body>

</html>
