<!-- Section Title -->
<div class="section-title single-player" style="background:url(img/slide/3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Player Profile</h1>
            </div>

            <!-- <div class="col-md-4">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Inner Page</li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- End Section Title -->

<!-- Section Area - Content Central -->
<section class="content-info pb-5">

    <!-- Single Team Tabs -->
    <div class="single-player-tabs">
        <div class="container">
            <div class="row">
                <!-- Side info single team-->
                <div class="col-lg-4 col-xl-3">

                    <div class="item-player single-player">
                        <div class="head-player">
                            <!-- <img src="asset/img/players/7.jpg" alt="location-team"> -->
                            <div style="height: 200px"></div>
                        </div>
                        <div class="info-player">
                            <span class="number-player">
                10
              </span>
                            <h4>
                                {{returnedProfile.displayName}}
                                <span>Main Role</span>
                            </h4>
                            <ul>
                                <li>
                                    <strong>Team:</strong> <span>{{returnedProfile.teamName}}</span>
                                </li>
                                <li><strong>Discord:</strong> <span>{{returnedProfile.discordTag}}</span></li>
                                <li><strong>MMR:</strong> <span>{{returnedProfile.averageMmr}}</span></li>
                                <li><strong>Matches:</strong> <span>90</span></li>
                                <li><strong>Seasons:</strong> <span>2</span></li>
                                <!-- todo: more player content later? -->
                                <!-- <li><strong>Goals:</strong> <span>108</span></li>
                                <li><strong>Discipline:</strong> <span>4 fouls against</span></li>
                                <li><strong>Passing:</strong> <span>40 free kicks</span></li> -->
                            </ul>

                            <h6>Follow {{returnedProfile.teamName}}</h6>

                            <ul class="social-player">
                                <li>
                                    <div>
                                        <a href="#" class="facebook">
                                            <i class="fab fa-twitch"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="#" class="twitter-icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="#" class="youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Attack -->
                    <!-- todo: possible panel for some patreon stuff? -->
                    <!-- <div class="panel-box">
                        <div class="titles no-margin">
                            <h4><i class="fa fa-user"></i>Personal Info</h4>
                        </div>
                        <ul class="list-panel">
                            <li>
                                <p>Weight <span>70 Kg</span></p>
                            </li>
                            <li>
                                <p>Height <span>1.70 Mts</span></p>
                            </li>
                            <li>
                                <p>Nationality <span>Colombia</span></p>
                            </li>
                            <li>
                                <p>Place of Birth <span>Cucuta</span></p>
                            </li>
                            <li>
                                <p>Date of Birth <span>March 5th, 1989</span></p>
                            </li>
                        </ul>
                    </div> -->
                    <!-- End Attack -->
                </div>
                <!-- end Side info single team-->

                <div class="col-lg-8 col-xl-9">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                        <li><a href="#career" data-toggle="tab">History</a></li>
                        <li><a href="#stats" data-toggle="tab">STATS</a></li>
                    </ul>
                    <!-- End Nav Tabs -->

                    <!-- Content Tabs -->
                    <div class="tab-content">
                        <!-- Tab One - overview -->
                        <div class="tab-pane active" id="overview">

                            <!-- edit buttons -->
                            <div class="row" *ngIf="auth.getUser() === returnedProfile.displayName">
                                <!-- if this is viewers profile show them the edit button -->
                                <div class="col-7">
                                    <p>Welcome to your player profile!</p>
                                    <p>The more info you complete in your profile the more information teams will have to find you!</p>
                                </div>
                                <div class="col-5">
                                    <div *ngIf="disabled">
                                        <button type="button" (click)="openEdit()" class="btn btn-primary float-right">Edit</button>
                                    </div>
                                    <div class="row" *ngIf="!disabled">
                                        <div class="col">
                                            <button type="button" (click)="openDialog()" class="mt-1 btn btn-danger "><span
                          class="icon-align"><i class="material-icons">delete_forever</i>Delete</span></button>
                                        </div>
                                        <div class="col">
                                            <button type="button" [disabled]="!profileForm.valid" (click)="save()" class="mt-1 btn btn-success "><span class="icon-align"><i
                            class="material-icons">check</i>Save</span></button>
                                        </div>
                                        <div class="col">
                                            <button type="button" (click)="cancel()" class="mt-1 btn btn-danger"><span class="icon-align"><i
                            class="material-icons">close</i>Cancel</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- content -->
                            <div class="panel-box padding-b">
                                <div class="titles">
                                    <h4>Overview</h4>
                                </div>
                                <!-- discord tag -->
                                <div class="row" *ngIf="!disabled">
                                    <div class="col">
                                        <app-discord-tag [disabled]="disabled" [(discordTag)]="returnedProfile.discordTag">
                                        </app-discord-tag>
                                    </div>
                                </div>
                                <!-- roles form control -->
                                <div class="row">
                                    <div class="col">
                                        <app-roles [disabled]="disabled" [(roles)]="returnedProfile.role"></app-roles>
                                    </div>
                                </div>
                                <!-- competitive level and description of play -->
                                <div class="row">
                                    <div class="col">
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-6">
                                        <app-competitive-level [disabled]="disabled" [(message)]="returnedProfile.competitiveLevel">
                                        </app-competitive-level>
                                    </div>
                                    <div class="col-6">
                                        <app-play-history [disabled]="disabled" [(description)]="returnedProfile.descriptionOfPlay">
                                        </app-play-history>
                                    </div>
                                </div>
                                <!-- storm league rank -->
                                <div class="row mt-5">
                                    <div class="col">
                                        <app-storm-league [disabled]="disabled" [(division)]="returnedProfile.hlRankMetal" [(rank)]="returnedProfile.hlRankDivision"></app-storm-league>
                                    </div>
                                </div>
                                <!-- looking for group -->
                                <div class="row mt-5" *ngIf="hideLookingForGroup()">
                                    <div class="col">
                                        <mat-slide-toggle disabled="{{disabled}}" [(ngModel)]="returnedProfile.lookingForGroup">
                                            Looking for team.
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                                <!-- times -->
                                <div class="row mt-5">
                                    <div class="col">
                                        <h6>Player Availability and Time Zone:</h6>
                                        <!-- !disabled && !returnedProfile.availability.monday.available || disabled &&  -->
                                        <app-times-available [customText]="''" [availObj]="returnedProfile.availability" (availValid)="recieveAvailTimeValidity($event)" [disabled]="disabled">
                                        </app-times-available>
                                    </div>
                                </div>
                                <!-- timezone -->
                                <div class="row mt-3">
                                    <div class="col">
                                        <app-timezone [(timezone)]="returnedProfile.timeZone" [disabled]="disabled"></app-timezone>
                                    </div>
                                </div>
                                <!-- panel box close -->
                            </div>
                            <!-- tab one close -->
                        </div>
                        <!-- Tab One - overview -->

                        <!-- Tab Theree - career -->
                        <div class="tab-pane" id="career">
                            <div class="col-lg-12">
                                <table class="table-striped table-responsive table-hover career">
                                    <thead>
                                        <tr>
                                            <th>Season</th>
                                            <th>Club</th>
                                            <th>Apps(Subs)</th>
                                            <th>Goals</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                2017/2018
                                            </td>
                                            <td>
                                                <img src="img/clubs-logos/colombia.png" alt="icon1"> Japan
                                            </td>
                                            <td>22(0)</td>
                                            <td>
                                                50
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2017/2018
                                            </td>
                                            <td>
                                                <img src="img/clubs-logos/japan.png" alt="icon1"> Japan
                                            </td>
                                            <td>22(0)</td>
                                            <td>
                                                50
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2017/2018
                                            </td>
                                            <td>
                                                <img src="img/clubs-logos/bra.png" alt="icon1"> Japan
                                            </td>
                                            <td>22(0)</td>
                                            <td>
                                                50
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2017/2018
                                            </td>
                                            <td>
                                                <img src="img/clubs-logos/arg.png" alt="icon1"> Japan
                                            </td>
                                            <td>22(0)</td>
                                            <td>
                                                50
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2017/2018
                                            </td>
                                            <td>
                                                <img src="img/clubs-logos/uru.png" alt="icon1"> Japan
                                            </td>
                                            <td>22(0)</td>
                                            <td>
                                                50
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2017/2018
                                            </td>
                                            <td>
                                                <img src="img/clubs-logos/nga.png" alt="icon1"> Japan
                                            </td>
                                            <td>22(0)</td>
                                            <td>
                                                50
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2017/2018
                                            </td>
                                            <td>
                                                <img src="img/clubs-logos/mex.png" alt="icon1"> Japan
                                            </td>
                                            <td>22(0)</td>
                                            <td>
                                                50
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2017/2018
                                            </td>
                                            <td>
                                                <img src="img/clubs-logos/rusia.png" alt="icon1"> Japan
                                            </td>
                                            <td>22(0)</td>
                                            <td>
                                                50
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2017/2018
                                            </td>
                                            <td>
                                                <img src="img/clubs-logos/aus.png" alt="icon1"> Japan
                                            </td>
                                            <td>22(0)</td>
                                            <td>
                                                50
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2017/2018
                                            </td>
                                            <td>
                                                <img src="img/clubs-logos/arabia.png" alt="icon1"> Japan
                                            </td>
                                            <td>22(0)</td>
                                            <td>
                                                50
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Tab Theree - career -->

                        <!-- Tab Theree - stats -->
                        <div class="tab-pane" id="stats">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row mt-2" *ngIf="returnedProfile.toonHandle && returnedProfile.toonHandle.length>0">
                                        <div class="col">
                                            <div>See this user's NGS Stats at Heroes Profile</div>
                                            <a href="{{hotsProfile.getHPPlayerLink(returnedProfile.toonHandle,returnedProfile.displayName)}}" target="_blank">{{returnedProfile.displayName}}</a>
                                        </div>
                                    </div>
                                    <div class="row mt-2" *ngIf="disabled">
                                        <div class="col">
                                            <div>User Hots Log Profile:</div>
                                            <a href="{{hotsLogsService.returnProfileLink(returnedProfile.hotsLogsPlayerID)}}" target="_blank">HOTS LOGS Url</a>
                                        </div>
                                    </div>
                                    <div class="stats-info">
                                        <ul>
                                            <li>
                                                Appearances
                                                <h3>50</h3>
                                            </li>

                                            <li>
                                                Goals
                                                <h3>10</h3>
                                            </li>

                                            <li>
                                                Wins
                                                <h3>16</h3>
                                            </li>

                                            <li>
                                                Losses
                                                <h3>5</h3>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-xl-4">
                                    <!-- Attack -->
                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><i class="fa fa-calendar"></i>Attack</h4>
                                        </div>
                                        <ul class="list-panel">
                                            <li>
                                                <p>Goals <span>60</span></p>
                                            </li>
                                            <li>
                                                <p>Goals Per Match <span>1.37</span></p>
                                            </li>
                                            <li>
                                                <p>Shots <span>4,621</span></p>
                                            </li>
                                            <li>
                                                <p>Shooting Accuracy % <span>32%</span></p>
                                            </li>
                                            <li>
                                                <p>Penalties Scored <span>30</span></p>
                                            </li>
                                            <li>
                                                <p>Big Chances Created <span>293</span></p>
                                            </li>
                                            <li>
                                                <p>Hit Woodwork <span>107</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Attack -->
                                </div>

                                <div class="col-lg-6 col-xl-4">
                                    <!-- Attack -->
                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><i class="fa fa-calendar"></i>Team Play</h4>
                                        </div>
                                        <ul class="list-panel">
                                            <li>
                                                <p>Passes <span>140,417</span></p>
                                            </li>
                                            <li>
                                                <p>Passes Per Match <span>162.14</span></p>
                                            </li>
                                            <li>
                                                <p>Pass Accuracy % <span>76%</span></p>
                                            </li>
                                            <li>
                                                <p>Crosses <span>8,148</span></p>
                                            </li>
                                            <li>
                                                <p>Cross Accuracy % <span>22%</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Attack -->
                                </div>

                                <div class="col-lg-6 col-xl-4">
                                    <!-- Attack -->
                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><i class="fa fa-calendar"></i>Defence</h4>
                                        </div>
                                        <ul class="list-panel">
                                            <li>
                                                <p>Clean Sheets <span>226</span></p>
                                            </li>
                                            <li>
                                                <p>Goals Conceded <span>1,170</span></p>
                                            </li>
                                            <li>
                                                <p>Goals Conceded Per Match <span>1.35</span></p>
                                            </li>
                                            <li>
                                                <p>Saves <span>392</span></p>
                                            </li>
                                            <li>
                                                <p>Tackles <span>7,438</span></p>
                                            </li>
                                            <li>
                                                <p>Tackle Success % <span>75%</span></p>
                                            </li>
                                            <li>
                                                <p>Blocked Shots <span>1,208</span></p>
                                            </li>
                                            <li>
                                                <p>Interceptions <span>5,334</span></p>
                                            </li>
                                            <li>
                                                <p>Clearances <span>11,436</span></p>
                                            </li>
                                            <li>
                                                <p>Headed Clearance <span>3,710</span></p>
                                            </li>
                                            <li>
                                                <p>Aerial Battles/Duels Won <span>25,401</span></p>
                                            </li>
                                            <li>
                                                <p>Errors Leading To Goal <span>59</span></p>
                                            </li>
                                            <li>
                                                <p>Own Goals <span>27</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Attack -->
                                </div>
                            </div>

                        </div>
                        <!-- End Tab Theree - stats -->
                    </div>
                    <!-- Content Tabs -->
                </div>
            </div>
        </div>
    </div>
    <!-- Single Team Tabs -->

</section>