<!-- Section Title -->
<app-banner-image [bannerAdditionalClasses]="'single-player'" [bannerTitle]="'Player Profile'" [special]="returnedProfile.displayName"></app-banner-image>
<!-- End Section Title -->

<!-- Section Area - Content Central -->
<section class="content-info pb-5">

    <!-- Single Team Tabs -->
    <div class="single-player-tabs">
        <div class="container">
            <div class="row">
                <!-- Side info single team-->
                <div class="col-lg-4 col-xl-3">

                    <div class="item-player single-player">
                        <div class="head-player">
                            <img src="{{returnedProfile.avatar| commonPipe:user.avatarFQDN}}" alt="player-avatar">
                            <div style="height: 200px"></div>
                        </div>
                        <div class="info-player">
                            <span class="number-player">

              </span>
                            <h4>
                                {{returnedProfile.displayName}}
                                <!-- <span>Main Role</span> -->
                            </h4>
                            <ul>
                                <li>
                                    <strong>Team:</strong> <span>
                                      <app-team-link [team]="returnedProfile.teamName">
                                        {{returnedProfile.teamName}}
                                      </app-team-link>
                                    </span>
                                </li>
                                <li><strong>Discord:</strong> <span>{{returnedProfile.discordTag}}</span></li>
                                <li><strong>Heroes Profile MMR:</strong> <span>{{returnedProfile.heroesProfileMmr}}</span></li>
                                <li *ngIf="returnedProfile.ngsMmr"><strong>NGS League MMR:</strong>
                                    <span>{{returnedProfile.ngsMmr}}</span></li>
                                <li><strong>Hots Logs MMR:</strong> <span>{{returnedProfile.averageMmr}}</span></li>
                                <li><strong>Matches:</strong> <span>{{estimateGamesPlayed()}}</span></li>
                                <li><strong>Seasons:</strong> <span>{{returnedProfile.seasonsPlayed}}</span></li>
                                <li *ngIf="mvpCounts>0"><strong>MVPs:</strong> <span>{{mvpCounts}}</span></li>
                                <!-- <li><strong>Goals:</strong> <span>108</span></li>
                                <li><strong>Discipline:</strong> <span>4 fouls against</span></li>
                                <li><strong>Passing:</strong> <span>40 free kicks</span></li> -->
                            </ul>

                            <h6 *ngIf="returnedProfile.twitch || returnedProfile.twitter || returnedProfile.youtube">
                                Follow {{returnedProfile.displayName}}
                            </h6>

                            <ul class="social-player">
                                <li *ngIf="returnedProfile.twitch">
                                    <div>
                                        <a href="{{returnedProfile.twitch | commonPipe:util.prePendHttp}}" target="_blank" class="facebook">
                                            <i class="fab fa-twitch"></i>
                                        </a>
                                    </div>
                                </li>
                                <li *ngIf="returnedProfile.twitter">
                                    <div>
                                        <a href="{{returnedProfile.twitter | commonPipe:util.prePendHttp}}" target="_blank" class="twitter-icon">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div *ngIf="returnedProfile.youtube">
                                        <a href="{{returnedProfile.youtube | commonPipe:util.prePendHttp}}" target="_blank" class="youtube">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- end Side info single team-->

                <div class="col-lg-8 col-xl-9">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="finger" [ngClass]="{'active': index==0}"><a (click)="setTab(0)">Overview</a></li>
                        <li class="finger" [ngClass]="{'active': index==1}"><a (click)="setTab(1)">History</a></li>
                        <li class="finger" [ngClass]="{'active': index==2}"><a (click)="setTab(2)">STATS</a></li>
                    </ul>
                    <!-- End Nav Tabs -->

                    <!-- Content Tabs -->
                    <div class="tab-content">
                        <!-- Tab One - overview -->
                        <div class="tab-pane" [ngClass]="{'active': index==0}" *ngIf="index==0">

                            <!-- edit buttons -->
                            <div class="row" *ngIf="auth.getUser() === returnedProfile.displayName">
                                <!-- if this is viewers profile show them the edit button -->
                                <div class="col-7">
                                    <p>Welcome to your player profile!</p>
                                    <p>The more info you complete in your profile the more information teams will have to find you!</p>
                                </div>
                                <div class="col-5">
                                    <div *ngIf="disabled">
                                        <button type="button" (click)="openEdit()" class="btn btn-primary float-right">Edit</button>
                                    </div>
                                    <div class="row" *ngIf="!disabled">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <button type="button" (click)="openDialog()" class="mt-1 btn btn-danger "><span class="icon-align"><i
                                                    class="material-icons">delete_forever</i>Delete</span></button>
                                                </div>
                                                <div class="col">
                                                    <button type="button" [disabled]="!validate()" (click)="save()" class="mt-1 btn btn-success "><span class="icon-align"><i
                                                    class="material-icons">check</i>Save</span></button>
                                                </div>
                                                <div class="col">
                                                    <button type="button" (click)="cancel()" class="mt-1 btn btn-danger"><span
                                                  class="icon-align"><i
                                                    class="material-icons">close</i>Cancel</span></button>
                                                </div>
                                            </div>
                                            <div class="row mt-1" *ngIf="errors.length>0">
                                                <div class="col text-center">
                                                    <div class="text-danger alert alert-danger" *ngFor="let error of errors">{{error}}</div>
                                                </div>
                                            </div>
                                            <div class="row mt-1 mb-3">
                                                <div class="col">
                                                    <button class="btn btn-primary" (click)="updateUserMMR()">Update
                                                        MMR</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- avatar -->
                            <div *ngIf="!disabled" class="panel-box padding-b">
                                <div class="titles">
                                    <h4>Player Avatar and Socials</h4>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4>NOTE: These avatars must be approved by admin before taking affect</h4>
                                        {{returnedProfile.avatar}}
                                        <app-image-upload [playerName]="returnedProfile.displayName" [showEdit]="true" [existingImage]="returnedProfile.avatar" [width]="400" [imageType]="'avatar'" [height]="200"></app-image-upload>
                                        <div class="mt-3 p-3" *ngIf="auth.isCaster()">
                                            <mat-form-field class="mt-3 full-width">
                                                <input matInput placeholder="Caster Name" [(ngModel)]="returnedProfile.casterName">
                                                <mat-hint>If you are a caster you must enter this; it will be displayed with all matches you elect to cast.</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="mt-3">
                                            <app-twitch [(twitch)]="returnedProfile.twitch">
                                            </app-twitch>
                                        </div>
                                        <div class="mt-3">
                                            <app-twitter [(twitter)]="returnedProfile.twitter">
                                            </app-twitter>
                                        </div>
                                        <div class="mt-3">
                                            <app-youtube [(youtube)]="returnedProfile.youtube">
                                            </app-youtube>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- content -->
                            <div class="panel-box padding-b">
                                <div class="titles">
                                    <h4>Overview</h4>
                                </div>
                                <!-- discord tag -->
                                <div class="row" *ngIf="!disabled">
                                    <div class="col">
                                        <mat-form-field class="mt-3 full-width">
                                            <input matInput placeholder="Discord Tag" [formControl]="discordTagFormControl" [(ngModel)]="returnedProfile.discordTag">
                                            <mat-error *ngIf="discordTagFormControl.hasError('required')">
                                                Discord Tag is required.
                                            </mat-error>
                                            <mat-error *ngIf="discordTagFormControl.hasError('invalidTag')">
                                                Discord Tag pattern not recognized.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- roles form control -->
                                <div class="row mt-3">
                                    <div class="col">
                                        <app-roles [disabled]="disabled" [(roles)]="returnedProfile.role"></app-roles>
                                    </div>
                                </div>
                                <!-- competitive level and description of play -->
                                <div class="row">
                                    <div class="col">
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-6">
                                        <app-competitive-level [disabled]="disabled" [(competitiveLevel)]="returnedProfile.competitiveLevel">
                                        </app-competitive-level>
                                    </div>
                                    <div class="col-6">
                                        <app-play-history [disabled]="disabled" [(description)]="returnedProfile.descriptionOfPlay">
                                        </app-play-history>
                                    </div>
                                </div>
                                <!-- storm league rank -->
                                <div class="row mt-5">
                                    <div class="col">
                                        <app-storm-league [disabled]="disabled" [(division)]="returnedProfile.hlRankMetal" [(rank)]="returnedProfile.hlRankDivision"></app-storm-league>
                                    </div>
                                </div>
                                <!-- looking for group -->
                                <div class="row mt-5" *ngIf="hideLookingForGroup()">
                                    <div class="col">
                                        <mat-slide-toggle disabled="{{disabled}}" [(ngModel)]="returnedProfile.lookingForGroup">
                                            Looking for team.
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                                <!-- times -->
                                <div class="row mt-5">
                                    <div class="col">
                                        <h6>Player Availability and Time Zone:</h6>
                                        <!-- !disabled && !returnedProfile.availability.monday.available || disabled &&  -->
                                        <app-times-available [customText]="''" [availObj]="returnedProfile.availability" (availValid)="recieveAvailTimeValidity($event)" [disabled]="disabled">
                                        </app-times-available>
                                    </div>
                                </div>
                                <!-- timezone -->
                                <div class="row mt-3">
                                    <div class="col">
                                        <app-timezone [(timezone)]="returnedProfile.timeZone" [(error)]="timezoneError" [disabled]="disabled"></app-timezone>
                                    </div>
                                </div>
                                <!-- panel box close -->
                            </div>
                            <!-- tab one close -->
                        </div>
                        <!-- Tab One - overview -->

                        <!-- Tab Theree - career -->
                        <div class="tab-pane pb-5" [ngClass]="{'active': index==1}" *ngIf="index==1">
                            <app-history [playerProfile]="returnedProfile"></app-history>
                        </div>
                        <!-- Tab Theree - career -->

                        <!-- Tab Theree - stats -->
                        <div class="tab-pane pb-5" [ngClass]="{'active': index==2}" *ngIf="index==2">
                            <div *ngIf="index==2">
                                <app-player-stats [playerID]="returnedProfile.displayName" [playerToon]="returnedProfile.toonHandle">
                                </app-player-stats>
                            </div>
                        </div>
                        <!-- End Tab Theree - stats -->
                    </div>
                    <!-- Content Tabs -->
                </div>
            </div>
        </div>
    </div>
    <!-- Single Team Tabs -->

</section>