<div class="row row-style">
    <div class="col">
        <app-user-quick-view [userId]="player"></app-user-quick-view>
    </div>
    <div class="col">
        <app-team-quick-view [teamName]="viewTeam"></app-team-quick-view>
    </div>
    <div class="col">
        {{resultantMmr}}
    </div>
    <div class="col">
        <div class="text-center">
            <button class="btn btn-success" (click)="actionAccount(true)">Aprrove</button>
            <button class="btn btn-danger ml-1" (click)="actionAccount(false)">Deny</button>
        </div>

    </div>
</div>