<section class="content-info">
    <!-- Content Central -->
    <section class="container">
        <div class="row padding-top">
            <!-- Accordion -->
            <div class="col-md-12">
                <!-- Info -->
                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4><i class="fa fa-coffee"></i>Questions That Need Answering</h4>
                    </div>
                    <!-- Accorodion Faq -->
                    <div class="row">

                        <div class="accordion" style="width: 100%" id="accordionExample">
                            <div class="card">
                                <div class="acc-trigger" id="headingOne">

                                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  How are season division placements determined?
                                        </a>

                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            <strong>
                                            3.0.4 The NGS league will be divided into divisions based on enrollment
                                            numbers.
                                            Teams are placed into divisions based on the averaged MMR of their four
                                            highest MMR players. A list of divisions and their MMR ranges will be posted
                                            here once placements are complete.
                                        </strong>
                                        </p>
                                        <p>
                                            What this means is where the Placement Committee begins! They take the top 4 highest MMR players (MMR calculated by taking a flat average of an individual player’s UR, HL, TL and then averaging between said 4 players) on your team’s roster (total of 5-9
                                            players). This sets up an initial placement spread and helps to create upper and lower bound ideas between each Division. After that, they look at your past performance in NGS as a team if applicable or as known
                                            individuals from prior seasons. This works as an unofficial promotion/demotion system for past playoff teams or lower ranking teams and Grand Champions as well! They also take into account any outside performance
                                            in other leagues or tournaments if that information is relevant, available or provided. Other discretions of placements are solely based on the decisions of the Placement Committee in an effort to provide the
                                            best competition experience for all Divisions as equally as possible!
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingTwo">

                                    <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                   Can I be on two different teams if they are in different divisions?
                                  </a>

                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">

                                        <p><strong>2.1.4 Team members may only play on one NGS team at a time.</strong>
                                        </p>

                                        <p><strong>2.3.3 A player who is on another team in the Nexus Gaming Series must
                                            first be
                                            removed from
                                            that team before being allowed to join another team as a new member or an
                                            off-roster sub.</strong></p>

                                        <p>Regardless of Division or Coasts, a player is only allowed to register and play for one team. However, once you leave a team and decide to join another, you can play with the new team freely following this stipulation:</p>

                                        <p><strong> 2.2.2.3 A player may not play for more than one team in any given
                                              week
                                              during
                                              the NGS
                                              season.</strong></p>


                                        <p> This prevents individuals from jumping between multiple teams in a single round of matches which can cause conflict.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingThree">

                                    <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    What if I have multiple battle.net accounts? Which ones can I use to participate?
                                  </a>

                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">

                                        <p>
                                            <strong>7.0.4</strong> covers a few topics regarding deception within the league. You should be sure to register your account on the website and the account you use should be what is considered your “main account.”
                                            This implies your account with the most accurate and up to date information and usually refers to the account with the most amount of games played and most active within the last 6 months. Smurfing is a big
                                            no-no and could quickly get you suspended from playing.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingFourn">

                                    <a data-toggle="collapse" data-target="#collapseFourn" aria-expanded="true" aria-controls="collapseFourn">
                                                              What if I need to use an off-roster substitute?
                                                            </a>

                                </div>
                                <div id="collapseFourn" class="collapse" aria-labelledby="headingFourn" data-parent="#accordionExample">
                                    <div class="card-body">

                                        <p>
                                            Be sure to read the quick rules located under <strong>2.3 Off-Roster
                                              Subs!</strong> Off-roster subs are completely viable during the regular season following those rules. Just remember to inform the opposing team captain and your Division Moderator as soon as possible!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingFive">

                                    <a data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                  The opposing team captain is requesting to use an off-roster substitute for our match
                                  this week. Can I
                                  deny it?
                                </a>

                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                    <div class="card-body">

                                        <p>
                                            As the team captain, you are allowed to deny an off-roster sub under these circumstances only,
                                            <strong>found in 2.3.2.</strong> Specifically <strong>2.3.2.4</strong> identifies the circumstance where the opposing team captain failed to notify you 24 hours minimum in advance in which case you should contact
                                            your Division Moderator immediately to inform them of the situation. Of course, you are always free to accept any off-roster sub despite reasons to deny them! In the end it is your decision!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingSix">

                                    <a data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                  Can I get a roster change after playoffs start?
                                </a>

                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            <strong>2.2.3 No roster additions will be allowed once the playoff season
                                          starts.</strong>
                                        </p>
                                        <p>
                                            This prevents any last-minute drastic changes to a main roster that could affect playoff outcomes unfairly and that are not comparable to a team’s regular season.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingSeven">

                                    <a data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                   What about using an off-roster sub for playoffs?
                                 </a>

                                </div>
                                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            <strong>2.3.6 Off-Roster Subs will not be allowed once rosters lock for playoffs.
                                       See Section 6.0 for
                                       playoff format.</strong>
                                        </p>
                                        <p>
                                            Also, unfortunately no for the same reasons. You can find the remaining playoff rules and format under <strong>6.0</strong> Playoffs!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingEight">

                                    <a data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                                  How do I find an opposing team captain to schedule my upcoming match?
                                </a>

                                </div>
                                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            In the NGS discord (which you should join if you haven’t), we have a very convenient #captains_list channel in order by Division, Coast and alphabetically by team name! Here you can find not only the captains of each team but also any other main points
                                            of contacts including assistant captains and managers. You can also find captains on the NGS website by going to their team profile page and they are marked with a crown in front of their name.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingNine">

                                    <a data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                                  I have sent the opposing team captain several message but have not heard back. What
                                  can I do?
                                </a>

                                </div>
                                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            All teams are pingable in discord! The first recommendation is to ping the entire team in your division chat channel and request that someone from the team contact you in lieu of their captain being unresponsive. With this, it is also important to immediately
                                            contact your Division Moderator about the issue and they can reach out as well.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingTen">

                                    <a data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                  What should we do if our opponents do not show up to a match?
                                </a>

                                </div>
                                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            <strong> 4.1.1 There will be a 15 minute grace period to attend matches. If a team is
                                            more than 15
                                            minutes late, the opposing captain can request a forfeit from a moderator.
                                            If this occurs three (3) or
                                            more times, they may be disqualified from the league for that
                                            season.</strong>
                                        </p>
                                        <p>
                                            <strong>4.1.1.1</strong> and <strong>4.1.1.2</strong> also label the circumstance of communication when scheduling a double header!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingEleven">

                                    <a data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                                  Who do I contact if I think the opposing team is cheating or using a player outside
                                  their roster? Who do I
                                  contact to report toxic/abusive chat I have received in discord and or in game from
                                  another member of
                                  NGS?
                                </a>

                                </div>
                                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            You can always contact any of the Moderators or Board members if you suspect any foul play or unsportsmanlike behavior and it will be thoroughly and fairly investigated to keep the integrity of NGS. The Disciplinary Committee will also be involved to
                                            determine the best course of action proceeding. All Community Guidelines can be found in the rules section <strong>
                                      7.0
                                    </strong>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingTweleve">

                                    <a data-toggle="collapse" data-target="#collapseTweleve" aria-expanded="true" aria-controls="collapseTweleve">
                                  How do I get a caster for my match?
                                </a>

                                </div>
                                <div id="collapseTweleve" class="collapse" aria-labelledby="headingTweleve" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            The sooner you schedule your matches and put them on the NGS website calendar, the more likely a caster will be available to pick it up! All casters are volunteers, so they always do their best to pick up games as frequently as they are able and see all
                                            matches presented on this calendar.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingThirteen">

                                    <a data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
                                  Who do I contact to report a toxic or unprofessional caster?
                                </a>

                                </div>
                                <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            Anything regarding the casters of NGS should be brought to the attention of either the Head Caster, Jayzon, or the Assistant Head Caster, Wenis. Clips or other forms of information are helpful to evaluate the situation as well!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingFoutreen">

                                    <a data-toggle="collapse" data-target="#collapseFoutreen" aria-expanded="true" aria-controls="collapseFoutreen">
                                  I have a player that needs to leave the team for personal reasons. We no longer have
                                  enough players to
                                  play our remaining games. Is there anything I can do?
                                </a>

                                </div>
                                <div id="collapseFoutreen" class="collapse" aria-labelledby="headingFoutreen" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            Of course! We suggest you take a look in the discord channel #free_agent_apps and on the website while you are logged in. As captain, you should turn on the “Looking for More” option on your team profile page so free agents signed up on the website can
                                            find you and you can see the “Find Players” option in your drop-down menu to browse those players as well. Lastly, review <strong>2.3 Off-Roster
                                     Subs</strong> in the rules in case you need a quick fix for an upcoming match! (Playoffs not included)
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingFifteen">

                                    <a data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="true" aria-controls="collapseFifteen">
                                      How do I report a match after it has been played? Who is responsible for reporting
                                      it?
                                    </a>

                                </div>
                                <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            The winning team is responsible for uploading the match. The best place to find this information and more is to check out <a href="https://www.youtube.com/watch?v=YeaboBTrCwM" target="_blank">this
                                              short video!</a> Enjoy!

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingSixteen">

                                    <a data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="true" aria-controls="collapseSixteen">
                                  I am the captain of the team and I need to step down. How do I transfer the team to a
                                  new captain?
                                </a>

                                </div>
                                <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            Simply log into your NGS profile on the website and go to your team page, select “Manage” and “Change Captain”, then select the player you wish to promote! Be sure to tell your Division Moderator as well so they can get the #captains_list in discord to
                                            reflect this change!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingSeventeen">

                                    <a data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="true" aria-controls="collapseSeventeen">
                                  As a captain, am I required to read the rules and familiarize my team with them?
                                </a>

                                </div>
                                <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            Absolutely! <strong>7.0.8 Ignorance of these rules is not an excuse to break
                                      them.</strong>
                                        </p>


                                        <p>This being said, any of the Moderators can and are more than happy to help you through them if you have any questions or concerns. While most of the rules are basic amongst any league or competition, it is important
                                            to understand and know where to find this information as it also has the structure and format of the season and other topics.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingEighteen">

                                    <a data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="true" aria-controls="collapseEighteen">
                                  As a captain, do I need to know how to set up a game lobby? Are there any resources to
                                  help me with
                                  this? How is the order of map picks and bans determined?
                                </a>

                                </div>
                                <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            We recommend you familiarize yourself with setting up your own custom lobby. Some casters may set one up for you or the opposing team captain, but it is always best that you know yourself too! Section <strong>4.3 Match Setup</strong>                                            can be found on the website rules page or you can check out
                                            <a href="https://www.youtube.com/watch?v=tZC-oYV3AWo" target="_blank">this
                                              video
                                      here</a> for a quick and easy walk through of the entire process!

                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="acc-trigger" id="headingNineteen">

                                    <a data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="true" aria-controls="collapseNineteen">
                                                           What are the restrictions for team names? What are the
                                                           restrictions for team logos? Are mature themes
                                                           allowed?
                                                            </a>

                                </div>
                                <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>
                                            Overall, it should be appropriate enough for casters to say on twitch stream without repercussion and appropriate enough for a minor to see. While NGS is not 100% family friendly, many participants and volunteers are parents and others are under the age
                                            of 18 so the use of mature themes will likely be requested to change before the season begins.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Accorodion Faq -->
                </div>
                <!-- End Info-->
            </div>
            <!-- End Accordion -->
        </div>
    </section>
    <!-- End Content Central -->
</section>
