<style>
    .toc-link {
        text-decoration: underline;
        cursor: pointer;
    }
</style>
<section class="content-info">
    <!-- Content Central -->
    <section class="container">
        <div class="row padding-top">
            <div class="col">
                <h1 id="nexus-gaming-series-season-6-rules-and-guidelines"><strong>Nexus Gaming Series Season 6 Rules and Guidelines</strong></h1>
                <ol>
                    <li><span onclick="rulesScrollTo('10-code-of-conduct')" class="toc-link">Code of Conduct</span></li>
                    <li>
                        <span class="toc-link" onclick="rulesScrollTo('20-team-roster')">Team Roster</span>
                    </li>
                    <li>League Structure</li>
                    <li>Matches</li>
                    <li>Disconnects and Pauses</li>
                    <li>Playoffs</li>
                    <li>Community Guidelines</li>
                    <li>Changes to the Rules and Guidelines</li>
                </ol>
                <p>&nbsp;</p>
                <span id="10-code-of-conduct">
                <h2 ><strong>1.0</strong> Code of Conduct</h2>
                <p>Nexus Gaming Series, hereafter referred to as NGS, exists to create a fun and safe place for players to enjoy a competitive league experience where they can test their mettle against teams of similar skill levels. Members are expected
                    to maintain a level of civility and respect toward other community members and the NGS Staff, Moderators and Leadership. Players are expected to act in accordance with general good will. We will not tolerate any toxic behavior.</p>
                    </span>
                <p>&nbsp;</p>
                <h2 id="20-team-roster"><strong>2.0</strong> Team Roster</h2>
                <h3 id="21-team"><strong>2.1</strong> Team</h3>
                <p><strong>2.1.1</strong> The league is open to anyone; there are no rank restrictions.</p>
                <p><strong>2.1.2</strong> Rosters will lock 2 weeks before a new season start in order to allow time for placements to be done.</p>
                <p><strong>2.1.3</strong> Teams must have one team captain specified - the captain will be responsible for coordinating matches with other teams and all correspondence with league leadership, moderators and staff.</p>
                <ul>
                    <li>
                        <p><strong>2.1.3.1</strong> A team may designate up to two Assistant Captains to schedule or handle issues in their stead.</p>
                    </li>
                    <li>
                        <p><strong>2.1.3.2</strong> A team may have an off roster Team Manager that does not compete in the league with that team.</p>
                    </li>
                    <li>
                        <p><strong>2.1.3.3</strong> A team may have an off roster Coach that does not compete in the league with that team.</p>
                    </li>
                </ul>
                <p><strong>2.1.4</strong> Team members may only play on one NGS team at a time. Playing under more than one Battle.Net ID is prohibited.</p>
                <p><strong>2.1.5</strong> Team members must have a public HOTSLogs profile connected to the Battle.net ID they use for NGS. They are to keep this profile public throughout the season.</p>
                <p><strong>2.1.6</strong> All team members must be registered on the NGS website with a current Battle.Net ID prior to the season start or within 72 hours of joining a team once the season begins.</p>
                <ul>
                    <li>
                        <p><strong>2.1.6.1</strong> Members must register on the NGS website with the Battle.Net ID they have played the most games on. Permission to register with an alternate account instead may be requested from a moderator if you believe
                            it is more accurate.</p>
                    </li>
                    <li>
                        <p><strong>2.1.6.2</strong> Members not listed on the team’s roster on the NGS website are considered “Off-Roster Subs” (See Section 2.3 Off-Roster Subs)</p>
                    </li>
                    <li>
                        <p><strong>2.1.6.3</strong> If you are an EU player that is joining NGS on an NA account, you must register on the website with your NA account and send a DM to the leadership with your EU Battle.net ID.</p>
                    </li>
                </ul>
                <p><strong>2.1.7</strong> Team members must play their NGS games under the Battle.Net ID they are registered with on the website.</p>
                <ul>
                    <li><strong>2.1.7.1</strong> While a member&#39;s account is banned from Heroes of the Storm, they may not participate in NGS matches, including through the use of secondary account.</li>
                </ul>
                <p><strong>2.1.8</strong> If a member changes their Battle.net ID, the change must be reflected on the website within 72 hours.</p>
                <h3 id="22-roster-changes"><strong>2.2</strong> Roster Changes</h3>
                <p><strong>2.2.1</strong> A roster change is defined as “the adding of a player to a team.”</p>
                <p><strong>2.2.2</strong> Teams are allowed unlimited roster changes during the season with the following criteria:</p>
                <ul>
                    <li>
                        <p><strong>2.2.2.1</strong> Each team must have a minimum roster of five (5) and a maximum of nine (9).</p>
                    </li>
                    <li>
                        <p><strong>2.2.2.2</strong> Each team must maintain three (3) of their original roster members from season start through season end. These members must participate in at least one match during the regular season.</p>
                    </li>
                    <li>
                        <p><strong>2.2.2.3</strong> A player may not play for more than one team in any given week during the NGS season.</p>
                    </li>
                    <li>
                        <p><strong>2.2.2.4</strong> A new member added to a team once the season starts may not have an MMR higher than the division’s upper bounds.</p>
                        <ul>
                            <li>
                                <p><strong>2.2.2.4.1</strong> A player&#39;s MMR is the average of their UD, TL and HL MMRs based on HOTSLogs profiles.</p>
                            </li>
                            <li>
                                <p><strong>2.2.2.4.2</strong> Moderators will approve all new roster additions prior to them being added to your roster.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p><strong>2.2.2.5</strong> No roster additions may take place within 24 hours before a team&#39;s match is scheduled to be played.</p>
                    </li>
                </ul>
                <p><strong>2.2.3</strong> Rosters will soft lock two weeks before the end of a division&#39;s regular season. (See 3.0.4) Roster additions are limited to two (2) players during this two week period. At the end of a division&#39;s regular
                    season, rosters will hard lock, and no additions will be permitted.</p>
                <h3 id="23-off-roster-subs"><strong>2.3</strong> Off-Roster Subs</h3>
                <p>Teams may use a single substitute for any player in their active roster for matches during the regular season as outlined below:</p>
                <p><strong>2.3.1</strong> If a team wants to play with an off-roster sub for a match, they must inform the opposing team’s captain of this and provide a link to the substitute player’s HOTSLogs profile.</p>
                <p><strong>2.3.2</strong> An opposing team’s captain cannot deny a substitute player for any other reasons than those listed below:</p>
                <ul>
                    <li>
                        <p><strong>2.3.2.1</strong> The opposing team’s captain is allowed to deny a substitute player in cases where the the substitute player does not have a public HOTSLogs profile.</p>
                    </li>
                    <li>
                        <p><strong>2.3.2.2</strong> The opposing team’s captain is allowed to deny a substitute player in cases where the substitute player’s MMR is higher than the division’s upper bound.</p>
                    </li>
                    <li>
                        <p><strong>2.3.2.3</strong> The opposing team’s captain is allowed to deny a substitute player in cases where the substitute player’s HOTSLogs profile has fewer than 300 played games.</p>
                    </li>
                    <li>
                        <p><strong>2.3.2.4</strong> An opposing team’s captain may deny a substitute player for receiving less than 24 hours notice of the off-roster sub and their HOTSLogs profile, in which case they must contact their division moderator
                            to let them know immediately. If their division moderator is unavailable, any online moderator or head staff can be contacted for assistance.</p>
                    </li>
                </ul>
                <p><strong>2.3.3</strong> A player who is on another team in the Nexus Gaming Series must first be removed from that team before being allowed to join another team as a new member or an off-roster sub.</p>
                <p><strong>2.3.4</strong> All substitutes must be reported to a moderator. Failure to do so may result in a forfeit of matches involving unreported substitutes. Multiple infractions may result in further penalty.</p>
                <p><strong>2.3.5</strong> Any team found using an off-roster sub without obtaining prior approval from the opposing captain will have any matches played with that player forfeited.</p>
                <p><strong>2.3.6</strong> Off-Roster Subs will not be allowed once rosters hard lock for playoffs. See Section 6.0 for playoff format.</p>
                <p><strong>2.3.7</strong> NGS will review, approve, or reject any player substitution at its sole discretion. </p>
                <p>&nbsp;</p>
                <h2 id="30-league-structure"><strong>3.0</strong> League Structure</h2>
                <p><strong>3.0.1</strong> Nexus Gaming Series is a North America-based amateur league.</p>
                <p><strong>3.0.2</strong> Each NGS season will be eight (8) weeks in regular season length with four (4) weeks of playoffs following afterwards.</p>
                <p><strong>3.0.3</strong> The regular season will consist of Round Robin play where points are accumulated based on wins and dominations. The week starts Monday at 00:00 Pacific time (PT) and and ends Sunday at 23:59 Pacific time.</p>
                <p><strong>3.0.4</strong> The Season 6 outline is as follows:</p>
                <ul>
                    <li>
                        <p><strong>Heroic</strong></p>
                        <ul>
                            <li>Regular season start (all Divs): Monday February 25</li>
                            <li>Roster soft lock (Heroic): Sunday March 31</li>
                            <li>Regular season end (Heroic): Sunday April 14 (7 weeks)</li>
                            <li>Playoffs (Heroic): Monday April 15 - Sunday May 12 (4 weeks)</li>
                            <li>Finals (all Divs): Monday May 13 - Sunday May 19</li>
                        </ul>
                    </li>
                    <li>
                        <p><strong>Division A</strong></p>
                        <ul>
                            <li>Regular season start (all Divs): Monday February 25</li>
                            <li>Roster soft lock (Div A): Sunday April 14</li>
                            <li>Regular season end (Div A): Sunday Apr 28 (9 weeks)</li>
                            <li>Playoffs (Div A): Monday April 29 - Sunday May 12 (2 weeks)</li>
                            <li>Finals (all Divs): Monday May 13 - Sunday May 19</li>
                        </ul>
                    </li>
                    <li>
                        <p><strong>Divisions B-D</strong></p>
                        <ul>
                            <li>Regular season start (all Divs): Monday February 25</li>
                            <li>Roster soft lock (Div B-D): Sunday April 7</li>
                            <li>Regular season end (Div B-D): Sunday April 21 (8 weeks)</li>
                            <li>Playoffs (Div B-D): Monday April 22 - Sunday May 12 (3 weeks)</li>
                            <li>Finals (all Divs): Monday May 13 - Sunday May 19</li>
                        </ul>
                    </li>
                </ul>
                <p><strong>3.0.5</strong> The NGS league is divided into five (5) MMR divisions. Teams are placed into divisions based on the averaged MMR of their four highest MMR players. Divisions with larger numbers of players are futher split into coasts.
                    The Season Six Divisions are as follows:</p>
                <ul>
                    <li>Heroic Division (2700-∞)</li>
                    <li>Division A (2500-2699)</li>
                    <li>Division B West (2350-2499)</li>
                    <li>Division B East (2350-2499)</li>
                    <li>Division C West (2250-2349)</li>
                    <li>Division C East (2250-2349)</li>
                    <li>Division D West (0-2249)</li>
                    <li>Division D East (0-2249)</li>
                </ul>
                <h3 id="31-games-and-points-awarded"><strong>3.1</strong> Games and Points awarded</h3>
                <p><strong>3.1.1</strong> At the outset of the regular season, each team will be assigned eight (8) matches with corresponding weeks in which they must be played.</p>
                <p><strong>3.1.2</strong> Teams will also be assigned approximately two (2) to four (4) additional matches, depending on division size, which may be scheduled at any time during the regular season.</p>
                <p><strong>3.1.3</strong> Each match against an opposing team will follow a best of three (3) format.</p>
                <ul>
                    <li>
                        <p><strong>3.1.3.1</strong> A match result of 2-0 awards three (3) points to the winning team and zero (0) to the losing team.</p>
                    </li>
                    <li>
                        <p><strong>3.1.3.2</strong> A match result of 2-1 awards two (2) points to the winning team and one (1) to the losing team.</p>
                    </li>
                </ul>
                <h3 id="32-disbanding-and-forfeits"><strong>3.2</strong> Disbanding and Forfeits</h3>
                <p><strong>3.2.1</strong> If a team disbands before playing at least half of their matches, all of that team’s matches will be recorded as forfeits. This includes games that were already played.</p>
                <p><strong>3.2.2</strong> If a team disbands after having played at least half of their matches, all of their remaining matches will be recorded as forfeits. Matches already played before the team disbanded will remain unchanged.</p>
                <p><strong>3.2.3</strong> If a team forfeits more than three (3) times in one season, their team will be disqualified from the season and their matches will be decided per sections 3.2.1 or 3.2.2, as applicable.</p>
                <p><strong>3.2.4</strong> Depending on the circumstances, NGS, at its sole discretion, may decide to overrule these sections.</p>
                <p>&nbsp;</p>
                <h2 id="40-matches"><strong>4.0</strong> Matches</h2>
                <h3 id="41-season-match-rules--process"><strong>4.1</strong> Season Match Rules / Process</h3>
                <p><strong>4.1.1</strong> There will be a 15 minute grace period to attend matches. If a team is more than 15 minutes late, the opposing captain can request a forfeit from a moderator. If this occurs three (3) or more times, they may be disqualified
                    from the league for that season.</p>
                <ul>
                    <li>
                        <p><strong>4.1.1.1</strong> If a team is late due to scheduling a double header and the first match running over, the captain of the opposing team will be asked if they can wait for the match to end. If they cannot, the team will
                            forfeit the first game of the second match.</p>
                    </li>
                    <li>
                        <p><strong>4.1.1.2</strong> We recommend allowing 120 minutes per match when scheduling to ensure sufficient time to play three games and allow for delays/technical issues, etc.</p>
                    </li>
                </ul>
                <p><strong>4.1.2</strong> Map Selections will be determined by the following rules:</p>
                <ul>
                    <li>
                        <p><strong>4.1.2.1</strong> Map bans/picks are done by a &quot;digital coinflip&quot; on the Discord server.</p>
                    </li>
                    <li>
                        <p><strong>4.1.2.2</strong> Coin Flip Winner chooses first map pick OR first draft pick.</p>
                        <ul>
                            <li>
                                <p><strong>4.1.2.2.1</strong> Map Ban/Pick Order: The team selecting the first map selects a map to ban, then the other team selects a map to ban. After the two bans, the team with map choice selects the game one map from
                                    the remaining maps in the pool.</p>
                            </li>
                            <li>
                                <p><strong>4.1.2.2.2</strong> After the first game, in all subsequent games, the losing team chooses to either select the map or to have first pick during the draft. The team that picks the map will go second during that game’s
                                    hero selection process.</p>
                            </li>
                            <li>
                                <p><strong>4.1.2.2.3</strong> Maps may not be repeated during a match. Teams are required to inform the referee or opposing team of their selection within 2 minutes of the previous game ending.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <h3 id="42-maps"><strong>4.2</strong> Maps</h3>
                <p><strong>4.2.1</strong> The Season Six map pool consists of nine (9) maps. The are as follows:</p>
                <ul>
                    <li>Alterac Pass</li>
                    <li>Battlefield of Eternity</li>
                    <li>Cursed Hollow</li>
                    <li>Dragon Shire</li>
                    <li>Infernal Shrines</li>
                    <li>Sky Temple</li>
                    <li>Tomb of the Spider Queen</li>
                    <li>Towers of Doom</li>
                    <li>Volskaya Foundry</li>
                </ul>
                <h3 id="43-match-setup"><strong>4.3</strong> Match Setup</h3>
                <p>NGS matches are played on the North American servers.</p>
                <p><strong>4.3.1</strong> Matches should be played on the Central server unless both teams agree to play on a different server.</p>
                <ul>
                    <li>
                        <p><strong>4.3.1.1</strong> Each team has 2 minutes to address an incorrect server assignment. If an incorrect server is being used, the game will be reset with the same draft picks on the agreed server.</p>
                    </li>
                    <li>
                        <p><strong>4.3.1.2</strong> If neither team addresses the incorrect server assignment within the first 2 minutes, the game will continue without penalty to either team.</p>
                    </li>
                </ul>
                <p><strong>4.3.2</strong> Starting side is based upon the order in the match listing on the website. The team on the left will be on the blue (home) side, the second team will be on the red (away) side.</p>
                <p><strong>4.3.3</strong> Only verified spectators are allowed in game: NGS Casters, NGS Observers.</p>
                <p><strong>4.3.4</strong> POV streams are allowed, and the opponent must be notified. The POV stream cannot be denied.</p>
                <ul>
                    <li><strong>4.3.4.1</strong> A minimum 1 minute delay is required of POV streams.</li>
                </ul>
                <p><strong>4.3.5</strong> One captain must create a custom game in the client and proceed to invite the opposing captain and each of their team members. Casters must also be invited if assigned to the match.</p>
                <p><strong>4.3.6</strong> Captains are responsible for ensuring the opposing team is fielding eligible players.</p>
                <ul>
                    <li>
                        <p><strong>4.3.6.1</strong> Teams are allowed to swap players in between games so long as all players in both games of a match are on their current rosters, or approved off-roster substitutes.</p>
                    </li>
                    <li>
                        <p><strong>4.3.6.2</strong> If a player on a team is ineligible to play, this must be addressed in the game lobby or within the first 2 minutes of the game. If the opposing team fails to do so within the first 2 minutes, the game
                            will continue without penalty to either team.</p>
                    </li>
                </ul>
                <h3 id="44-heroskinmounttalent-bans"><strong>4.4</strong> Hero/Skin/Mount/Talent Bans</h3>
                <p><strong>4.4.1</strong> New heroes will be banned for the remainder of the week they are released in, as well as one additional full week (ending Sunday).</p>
                <p><strong>4.4.2</strong> Reworked heroes will be banned on a case by case basis, as determined by the Rules Committee. The duration will be the same as a new hero. </p>
                <p><strong>4.4.3</strong> Talents and heroic abilities may be banned temporarily if they are found to be bugged. Talents and heroic abilities will be banned on a case by case basis, as determined by the Rules Committee.</p>
                <p><strong>4.4.4</strong> Hero skin and mount bans will be decided by the Rules Committee.</p>
                <p><strong>4.4.5</strong> If a banned hero is selected in draft, the draft must be reset and begin again with the same picks and bans up until the banned hero was selected.</p>
                <ul>
                    <li>
                        <p><strong>4.4.5.1</strong> If a banned hero is picked again by the same team after the draft has already been reset for this reason, the team picking the hero forfeits that map.</p>
                    </li>
                    <li>
                        <p><strong>4.4.5.2</strong> If a banned hero pick is not addressed before the game begins, the team that has selected the banned hero forfeits that map. This map forfeit must be addressed within the match. If it is not addressed during
                            the match, the match result will stand.</p>
                    </li>
                </ul>
                <p><strong>4.4.6</strong> If a banned talent or heroic ability is selected by a team, the map is forfeit by that team.</p>
                <ul>
                    <li><strong>4.4.6.1</strong> If a banned talent or heroic ability pick is not caught during the match, it must be reported to a moderator within 48 hours after the match concludes. If it is not reported within 48 hours, the match result
                        will stand.</li>
                </ul>
                <p><strong>4.4.7</strong> The following skins are banned (all tints included):</p>
                <ul>
                    <li>Archangel Diablo </li>
                    <li>Cyberhawk Kael&#39;thas</li>
                    <li>Maraudin&#39; Muradin</li>
                    <li>Striker Li-Ming</li>
                    <li>Mecha Tyrael</li>
                    <li>Cuddle Bear Stitches</li>
                </ul>
                <p><strong>4.4.8</strong> The following mounts are banned:</p>
                <ul>
                    <li>Countess Kerrigan Mount (Bat)</li>
                    <li>Crimson Arthas Mount (Gargoyle)</li>
                    <li>Invisible Horse</li>
                </ul>
                <p><strong>4.4.9</strong> Each team has 2 minutes to address a banned skin or mount. If a team is found to be using a banned skin or mount within the first 2 minutes on the game clock, the game will be reset with the same draft picks.</p>
                <ul>
                    <li>
                        <p><strong>4.4.9.1</strong> If neither team addresses a banned skin or mount within the first 2 minutes, the game will continue without penalty to either team.</p>
                    </li>
                    <li>
                        <p><strong>4.4.9.2</strong> Regarding mounts: if a team sees that their opponent is using a skin that does have a banned mount, they should pause the game and ask what mount is being used in case they do not see the mount by the 2
                            minute mark.</p>
                    </li>
                </ul>
                <h3 id="45-scheduling-matches"><strong>4.5</strong> Scheduling Matches</h3>
                <p><strong>4.5.1</strong> At the start of the season, teams will be assigned an opponent for each week. These are called ‘Fixed matches’. In addition, there will be matches assigned that can be scheduled at any point during the season. These
                    are called ‘Flex Matches’.</p>
                <p><strong>4.5.2</strong> Scheduling of matches will be done between team captains or their designee. Teams are permitted to play matches on any day and at any time of the week. Once match times are agreed upon, the team captain or their
                    designee must input the match into NGS scheduler on the website.</p>
                <p><strong>4.5.3</strong> A Fixed match must be scheduled between Monday 00:00 PT of the start of the corresponding round, and Sunday 23:59 PT one week later. There is one round each week. All team Fixed matches and their corresponding weeks
                    will be posted at season start.</p>
                <p><strong>4.5.4</strong> Fixed Matches are to be scheduled before the corresponding round begins. The date and time can be agreed to by the captains at any point, but the actual playing of a Fixed match must fall within the one week window
                    for that round.</p>
                <ul>
                    <li><strong>4.5.4.1</strong> If a match has not been scheduled by 23:59 PT of the last day of a round, teams must contact their division moderator to let them know why.</li>
                </ul>
                <p><em>Example: Say that Round 1 starts January 1. Round 2 starts on January 8, and Round 3 on January 15. Teams must schedule their Round 2 Fixed match so that it is played between January 8 and January 15, and it must be added to the calendar by January 8. The teams will receive all of their Fixed matchups prior to Round 1, so a Round 2 Fixed Match can be put on the calendar any time between when the match schedule is issued before the season starts and January 8. However, the match itself must be played within the Jan 8-15 window.</em></p>
                <p><strong>4.5.5</strong> Flex Matches may be scheduled at any point during the Season. They must be on the calendar prior to seven days before the end of the season.</p>
                <p><em>Example: The Regular Season ends on March 31. All Flex matches must be on the calendar by March 24. They may be scheduled for any day from the start of the season through March 31.</em></p>
                <p><strong>4.5.6</strong> If a team is unable to schedule during a particular round, that team will forfeit their match. Upon forfeiting 3 matches, a team is disqualified from the season. (see section 3.2 Disbanding and Forfeits)</p>
                <ul>
                    <li><strong>4.5.6.1</strong> To minimize scheduling conflicts, it is strongly recommended that teams have at least 3 days available during each week. One of those days should be a weekend (Fri - Sunday) and two during the week (Mon - Thurs).</li>
                </ul>
                <p><strong>4.5.7</strong> If teams are unable to agree on a scheduled time for their match, both teams will receive zero (0) points for their match.</p>
                <ul>
                    <li>
                        <p><strong>4.5.7.1</strong> Teams must inform their Division Moderator that the match could not be scheduled ASAP. The Division Moderator will discuss the scheduling conflict with both team captains.</p>
                    </li>
                    <li>
                        <p><strong>4.5.7.2</strong> If it is deemed that one team was the primary cause of the scheduling difficulty, that team will be given zero (0) points and the opposing team will be awarded three (3) points for that match. This is determined
                            on a case by case basis if requested by one of the involved teams.</p>
                    </li>
                </ul>
                <p><strong>4.5.8</strong> If a match must be rescheduled, the team that cannot attend the match must notify the captain of the opposing team at least 24 hours in advance. The opposing team captain can agree to re-schedule or decline to reschedule
                    if they cannot accommodate the change.</p>
                <ul>
                    <li><strong>4.5.8.1</strong> If the teams are unable to reschedule, the team that cannot attend will forfeit the match and three (3) points will be awarded to the opposing team.</li>
                </ul>
                <p><strong>4.5.9</strong> Any disputes regarding scheduling and forfeits will be handled by Division Moderators on a case by case basis.</p>
                <h3 id="46-match-result-submissions"><strong>4.6</strong> Match Result Submissions</h3>
                <p><strong>4.6.1</strong> The captain (or designee) of the team that won the match is responsible for reporting results.</p>
                <p><strong>4.6.2</strong> To submit match results, teams will use the NGS website submission process.</p>
                <p><strong>4.6.3</strong> Failure of the winning team to submit the match results by the end of the week following their match will result in both teams receiving 0 points.</p>
                <ul>
                    <li><strong>4.6.3.1</strong> For example, all matches played during week 1 must have their results reported by the end of week 2.</li>
                </ul>
                <p><strong>4.6.4</strong> All regular season results MUST be submitted by the end of the last week of the regular season (this includes matches from the last week of the regular season) in order for playoffs to start on time and the league
                    to stay on schedule.</p>
                <ul>
                    <li><strong>4.6.4.1</strong> Any matches not reported/completed by 11:59 PT of the final day of the regular season will result in both teams for those matches receiving 0 points.</li>
                </ul>
                <p><strong>4.6.5</strong> Any disputes regarding match reporting will be handled by Division Moderators on a case by case basis.</p>
                <p>&nbsp;</p>
                <h2 id="50-disconnects-and-pauses"><strong>5.0</strong> Disconnects and Pauses</h2>
                <p><strong>5.0.1</strong> A team&#39;s roster is considered locked for a game once the first ban is locked in during a draft. Prior to the first ban being locked in, a team may bring in a sub if a player disconnects from the game, and the
                    game will be remade.</p>
                <p><strong>5.0.2</strong> If a player disconnects during draft after the first ban has been locked in, then that team has 10 minutes to have their team member reconnect, or the game must be forfeited.</p>
                <ul>
                    <li><strong>5.0.2.1</strong> If the player is unable to reconnect, and both captains agree, they can remake the game with a sub instead, if one is available. In that case, the draft will continue where it left off and all prior heroes
                        picked, and hero bans will be picked the same as before the player dropped.</li>
                </ul>
                <p><strong>5.0.3</strong> Teams may pause a total of 3 times per game due to disconnects or technical issues. The amount of pause time must not exceed 10 minutes per match per team. If a team uses their full 10 minutes, they must unpause
                    the game. If their then opponent requests that the game be resumed, and the team that has paused refuses to resume, the map is forfeit and results in a map win for their opponent.</p>
                <p><strong>5.0.4</strong> Teams will announce an unpausing before actually doing so. This requires a countdown from 3 after both teams have confirmed they are ready.</p>
                <p><strong>5.0.5</strong> Any team abusing the pause system will be punished. The abuse of the pause system will also result in a default forfeit of the ongoing match. NGS will review any abuse of pause concerns and additional sanctions may
                    be applied at its discretion.</p>
                <p>&nbsp;</p>
                <h2 id="60-playoffs"><strong>6.0</strong> Playoffs</h2>
                <h3 id="61-general-format"><strong>6.1</strong> General Format</h3>
                <p><strong>6.1.1</strong> Division A - D playoffs will consist of a single-elimination bracket. Heroic will consist of a double-elimination bracket.</p>
                <p><strong>6.1.2</strong> Division B - D playoffs will consist of the top 8 teams from the East side and the top 8 teams from the West side of each division. Each coast of each division will have their own separate bracket, with the coastal
                    champions of that division meeting in a grand-final. Matches will be best-of-three, except for the grand-finals, which will be best-of-five.</p>
                <p><strong>6.1.3</strong> Division A playoffs will consist of the top 8 teams of the division. Matches will be best-of-three, except for the finals, which will be best-of-five.</p>
                <p><strong>6.1.4</strong> Heroic playoffs will consist of the top 6 teams of the division. Matches will be best-of-three, except for the finals, which will be best-of-five.</p>
                <p><strong>6.1.5</strong> Each playoff round will last one week.</p>
                <p><em>Note that the playoff rounds will begin immediately following the end of the regular season, so scheduling times with other teams should begin as soon as seedings are available. The exact dates of each division&#39;s playoffs are noted in Section 3.04.</em></p>
                <p><strong>6.1.6</strong> Teams tied in points after the regular season will be ranked according to the priority listed below:</p>
                <ul>
                    <li>
                        <p><strong>6.1.6.1</strong> In the case of a tie on points, the team that is higher seeded is:</p>
                        <p> <em>A head to head check will be performed immediately when 2 teams are left</em></p>
                        <ol>
                            <li>The team with the most points in the head to head matches against the other tied teams.</li>
                            <li>The team with the highest total KDA over the season. This will be calculated manually to several decimal places, breaking all ties unless teams have the exact same ratio of kills:deaths.</li>
                            <li>If the teams are still tied, and the tie determines seeding only, then the seeding will be determined by coinflip. If the tie determines whether teams will advance to playoffs, a B01 bracket will be used to break the ties as
                                required.
                            </li>
                        </ol>
                    </li>
                </ul>
                <p><em>Example 1: Teams A, B, and C are tied in overall points. Team A scored 6 points against teams B and C (two dominations), B scored 2 points against A and C  (an 0-2 loss to A and a 2-1 win over C), and C scored 1 point against A and B (an 0-2 loss to A and a 2-1 loss to B). The ranking would be A/B/C.<br>Example 2: Team A and B each scored 4 points against the other two tied teams. Team C scored 1. Team C is the third seed. The head-to-head result between A and B determines the first and second seeds.<br>Example 3: Team A scored 5 points against B and C. B scored 2, and C scored 2. Team A is the first seed. The match between B and C determines the second and third seeds.<br>Example 4: Team A, B, and C, each scored 3 points against the other two. KDA is now evaluated to determine seeding order. In the unlikely event two or more teams are still tied, either a coin flip (seeding only) or Best-of-one series (playoff entry) will determine seeding order.</em></p>
                <h3 id="62-disconnects-during-playoffs"><strong>6.2</strong> Disconnects During Playoffs</h3>
                <p>Pause time is increased from 10 minutes to 15 minutes per team, per match, for the playoffs.</p>
                <h3 id="63-match-selection-during-playoffs"><strong>6.3</strong> Match Selection During Playoffs</h3>
                <p><strong>6.3.1</strong> The team seeded highest in the match (“Home”) will start the process by choosing first draft pick OR first map selection for the first game of the match. Map bans proceed as normal.</p>
                <p><strong>6.3.2</strong> The team that chose the battleground for the first game will go second during the first game’s hero selection process.</p>
                <p><strong>6.3.3</strong> In the following games of a match, the losing team of the previous game will have the choice for either battleground selection or first hero pick in the draft. The team that picks the battleground will go second
                    during that game’s hero selection process.</p>
                <p><strong>6.3.4</strong> Battlegrounds may not be repeated during a match. Teams are required to inform the referee or opposing team of their selection within 2 minutes of the previous game ending.</p>
                <p>&nbsp;</p>
                <h2 id="70-community-guidelines"><strong>7.0</strong> Community Guidelines</h2>
                <p><strong>7.0.1</strong> Players shall not engage in any toxic or unsportsmanlike behavior. This includes, but is not limited to, use of excessive swears, derogatory, and/or any other hate-filled language, etc., regardless of whether such
                    behavior is directed at other Players or NGS Volunteers, Moderators, or Leadership. NGS takes all allegations of toxic or unsportsmanlike behavior extremely seriously and such behavior will not be tolerated.</p>
                <p><strong>7.0.2</strong> Players shall not harass or verbally assault other members of NGS, or the Heroes of the Storm Community at large. This includes harassment or verbal assault that takes place in-game, on the NGS Discord server, Twitter,
                    Facebook, and/or any other form of communication. NGS takes all allegations of harassment or verbal assault extremely seriously and such behavior will not be tolerated.</p>
                <p><strong>7.0.3</strong> Players shall not cause disruption of their Matches, or any other NGS Match. Any Player found violating this section will be subject to immediate removal from their Match and/or result in a Forfeit of that Match,
                    in addition to any other disciplinary action.</p>
                <p><strong>7.0.4</strong> Players shall not engage in any attempts to deceive the league leadership or other Players. This includes, but is not limited to, smurfing, playing on a non-registered account, allowing someone to play on your account,
                    giving false information, not submitting new team members to your Division Moderator for approval, using multiple accounts on the NGS Discord server for the purpose of deception, etc. </p>
                <p><strong>7.0.5</strong> Players shall not cheat or use any known exploits or bugs to their advantage during a Match. Known bugs and exploits will be posted in the Announcements channel on the NGS discord. Any Player or Team found violating
                    this section will receive a Forfeit of that Match and/or a Disband from NGS, in addition to any other disciplinary action.</p>
                <p><strong>7.0.6</strong> Any Player found violating any rule in this section will be subject to disciplinary action, up to and including a silence on the NGS Discord server, a suspension, and/or permanent ban from all NGS activities.</p>
                <p><strong>7.0.7</strong> NGS, its Board of Directors, and the NGS Disciplinary Committee, in their sole discretion, reserve the right to enforce every rule in this section and issue any disciplinary action, as they deem fit.</p>
                <p><strong>7.0.8</strong> Ignorance of these rules is not an excuse to break them.</p>
                <h3 id="71-appeal-process"><strong>7.1</strong> Appeal Process</h3>
                <p><strong>7.1.1</strong> A community member or team captain may submit a written appeal for review by NGS if they disagree with a silence, suspension, ban, or any other disciplinary action that has been given due to any infraction(s).</p>
                <p><strong>7.1.2</strong> The appeal letter should state why the person believes the disciplinary action is in error as well as suggestions on what disciplinary action (if any) they see as appropriate.</p>
                <p><strong>7.1.3</strong> NGS will make a final decision to either remove, amend, or sustain the current disciplinary action after reviewing the player statement. All of the Nexus Gaming Series rules and consequences outlined in this document
                    are subject to change at any time at the discretion of the NGS team. NGS prides itself on providing a fun, community based league that is free from any toxicity. These rules are meant to provide a guideline that the leadership team
                    and NGS community can use to ensure this goal.</p>
                <p>&nbsp;</p>
                <h2 id="80-changes-to-the-rules-and-guidelines"><strong>8.0</strong> Changes to the Rules and Guidelines</h2>
                <p>All subsequent changes to this document outside of grammatical and syntax fixes will be announced to the NGS community through the NGS Discord.</p>
                <p>&nbsp;</p>
                <h2 id="glossary-of-terms"><strong>Glossary of Terms</strong></h2>
                <p><strong>Match:</strong> a best-of-3 set of games played against a single opponent<br><strong>Game:</strong> the act of playing a Heroes of the Storm map against an opposing team<br><strong>Round:</strong> a week during which at least one
                    Fixed match is played. Rounds start Monday at 0:00 Pacific time and end the following Sunday at 23:59 Pacific time.<br><strong>Disband:</strong> the breaking up of an organized team.<br><strong>Forfeit:</strong> losing a game or match
                    without playing it due to being unable to field a roster in time for a match, unable to schedule a match, or other circumstances.<br><strong>Division:</strong> a number of teams grouped together for competitive purposes according to
                    skill level<br><strong>Region:</strong> the geographic designation that splits some divisions<br><strong>Record:</strong> the total number of points a team has received from matches.<br><strong>Flex Matches:</strong> Matches that can
                    scheduled for any week of the regular season.<br><strong>Fixed Matches:</strong> Matches that must be played during a specific week of the regular season. </p>

            </div>
        </div>
    </section>
</section>