<div class="container pt-4">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h2>Matches</h2>
                </div>
            </div>
            <div class="row mt-2" *ngFor="let round of rounds | keyvalue">
                <div class="col">
                    <h4>Round: {{round.key}}</h4>
                    <div class="row" *ngFor="let match of round.value">
                        <div class="col">
                            <div *ngIf="match.home.teamName">{{match.home.teamName}}</div>
                        </div>
                        <div class="col">
                            - VS -
                        </div>
                        <div class="col">
                            <div *ngIf="match.away.teamName; else bye">{{match.away.teamName}}</div>
                        </div>
                        <div class="col">
                            <div [hidden]="byeWeekHide(match)">
                                <div *ngIf="showSchedule(match); else showLink">
                                    {{displayTime(match.scheduledTime.startTime)}}
                                </div>
                                <ng-template #showLink>
                                    <a [routerLink]="['/schedule/scheduleMatch',match.matchId]">Schedule this Match!</a>
                                </ng-template>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- </div> -->

        </div>
    </div>
</div>
<ng-template #bye>
    BYE
</ng-template>