<div class="row">
    <div class="col">


        <div class="mt-3  row p-2 border-team">
            <div class="col">
              <div class="p-2 mb-2" style="background-color: #e2e2e2;">
                <h3>ADMIN ONLY:</h3>
                <div class="row mt-2">
                    <div class="col">
                        <h3>Private Notes:</h3>
                        <app-notes-view [id]="returnedProfile._id" [update]="updateNotes"></app-notes-view>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-notes-create [id]="returnedProfile._id" (noteCreated)="refreshNotes($event)"></app-notes-create>
                    </div>
                </div>
              </div>
              <hr>
                <div class="row">
                  <div class="col">
                     <h3 style="display: inline-flex;"> Public Visible Profile: </h3> <button style="display: inline-flex; margin-left: 50%" class="btn btn-success" (click)="adminSave()"> Save</button>
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Public Notes</h3>
                        <div>
                          <mat-form-field style="width: 650px;">
                            <textarea matInput [(ngModel)]="returnedProfile.adminNotes"></textarea>
                          </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3>Account Alias</h3>
                        <app-user-search (userSelected)="receiveUser($event)" [filterSelf]="false" [buttonText]="'Select user to associate alias..'"></app-user-search>
                        <div class="row mt-1" *ngIf="returnedProfile.accountAlias">
                          <div class="col">
                            <button class="btn btn-danger" (click)="returnedProfile.accountAlias=null"><i class="fa fa-scissors mr-1"></i>Remove Alias</button>
                          </div>
                        </div>
                        <div class="row mt-1">
                          <div class="col"></div>
                          <div class="col">
                            <div *ngIf="returnedProfile.accountAlias"><app-player-small-card [playerUID]="returnedProfile.accountAlias"></app-player-small-card></div>
                          </div>
                          <div class="col"></div>
                        </div>

                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col">
                        <h3>User Team Management:</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>
                            Current Team ID: <span *ngIf="returnedProfile.teamId && returnedProfile.teamId != 'nil' else noTeam">{{returnedProfile.teamId}}</span>

                        </div>
                        <div>
                            Current Team Name: <span *ngIf="returnedProfile.teamName && returnedProfile.teamId != 'nil' else noTeam"></span>{{returnedProfile.teamName}}
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col" *ngIf="returnedProfile.teamId || returnedProfile.teamName">
                        <button class="btn btn-info" (click)="removeTeam()"> Remove this team
                   </button>
                    </div>
                    <div class="col" *ngIf="!returnedProfile.teamId || !returnedProfile.teamName">
                        <div class="row">
                            <div class="col">
                                Add new team info:
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-team-search [buttonText]="'Assign Team'" (teamSelected)="newTeam($event)">
                                </app-team-search>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <div><strong>Ranking</strong></div>
                        <app-verified-storm-ranks-display-name [admin]="true" [displayName]="returnedProfile.displayName">
                        </app-verified-storm-ranks-display-name>
                    </div>
                </div>

            </div>
        </div>


        <ng-template #noTeam>
            <span>No Team Currently</span>
        </ng-template>

        <div class="row mt-3">
            <div class="col">
                <h3>Other User Managable Info:</h3>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="full-width mb-5">
            <!-- <mat-form-field class="full-width mt-2">
                          <input matInput placeholder="HotS Logs ID" [(ngModel)]="returnedProfile.hotsLogsPlayerID">
                      </mat-form-field> -->
            <mat-slide-toggle class="full-width mt-2" [(ngModel)]="returnedProfile.pendingTeam">
                Pending team invite.
            </mat-slide-toggle>
            <mat-form-field class=" full-width mt-2">
              <mat-label>Discord Tag</mat-label>
                <input matInput placeholder="Discord Tag" [(ngModel)]="returnedProfile.discordTag">
            </mat-form-field>
            <mat-slide-toggle class="full-width mt-2" [(ngModel)]="returnedProfile.smurfAccount">
                Smurf / Banned Account
            </mat-slide-toggle>
            <div class="mt-2" *ngIf="returnedProfile.lowReplays">
                <strong>This User Has A Low Amount Heroes Profile of Replays!!!</strong>
            </div>
        </div>


    </div>
</div>
