<div class="row">
    <div class="col">


        <div class="row">
            <div class="col">

                <div class="mt-3  row p-2 border-team">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h3>User Team Management:</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div>
                                    Current Team ID: <span *ngIf="returnedProfile.teamId && returnedProfile.teamId != 'nil' else noTeam">{{returnedProfile.teamId}}</span>

                                </div>
                                <div>
                                    Current Team Name: <span *ngIf="returnedProfile.teamName && returnedProfile.teamId != 'nil' else noTeam"></span>{{returnedProfile.teamName}}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col" *ngIf="returnedProfile.teamId || returnedProfile.teamName">
                                <button class="btn btn-info" (click)="removeTeam()"> Remove this team
                 </button>
                            </div>
                            <div class="col" *ngIf="!returnedProfile.teamId || !returnedProfile.teamName">
                                <div class="row">
                                    <div class="col">
                                        Add new team info:
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <app-team-search [buttonText]="'Assign Team'" (teamSelected)="newTeam($event)">
                                        </app-team-search>
                                    </div>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <ng-template #noTeam>
                    <span>No Team Currently</span>
                </ng-template>

                <div class="row mt-3">
                    <div class="col">
                        <h3>Other User Managable Info:</h3>
                    </div>
                    <div class="col">
                        <button class="btn btn-success" (click)="adminSave()"> Save
             </button>
                    </div>
                </div>
                <div class="full-width mb-5">
                    <mat-form-field class="full-width mt-2">
                        <input matInput placeholder="HotS Logs ID" [(ngModel)]="returnedProfile.hotsLogsPlayerID">
                    </mat-form-field>
                    <mat-slide-toggle class="full-width mt-2" [(ngModel)]="returnedProfile.pendingTeam">
                        Pending team invite.
                    </mat-slide-toggle>
                    <mat-form-field class=" full-width mt-2">
                        <input matInput placeholder="Discord Tag" [(ngModel)]="returnedProfile.discordTag">
                    </mat-form-field>
                    <mat-slide-toggle class="full-width mt-2" [(ngModel)]="returnedProfile.smurfAccount">
                        Smurf / Banned Account
                    </mat-slide-toggle>
                    <div class="mt-2" *ngIf="returnedProfile.lowReplays">
                        <strong>This User Has A Low Amount Heroes Profile of Replays!!!</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
