<div class="row">
    <div class="col text-center">
        <div *ngIf="recMatch && recMatch.friendlyDeadline">Schedule match by: {{scheduleDeadline | commonPipe: util.getFormattedDate:"dddd M/D/YYYY"}}
        </div>
        Play match by: <span *ngIf="recMatch && recMatch.friendlyDeadline else freeGame">{{match.friendlyDeadline}}</span>
        <ng-template #freeGame> Open Game or No Deadline Set Yet </ng-template>

    </div>
</div>
<app-match-view [passMatch]="recMatch"></app-match-view>
<div class="row mt-2">
    <div class="col text-center">
        <span *ngIf="recMatch && !recMatch.scheduledTime">
      <div class="p-1 text-danger" *ngIf="checkDate(recMatch) else timeElapsed">
        This match was not scheduled before it's due date contact an admin!
      </div>
      <ng-template #timeElapsed>
        <div *ngIf="userCanSchedule()">
          <button class="btn btn-info" (click)="scheduleMatch(recMatch.matchId)"> Schedule this match! </button></div>
      </ng-template>
    </span>
    </div>
</div>