<tr>
    <td>
        <img src="{{teamServ.imageFQDN(_match.home.logo)}}" alt="icon">
        <strong>{{_match.home.teamName}}</strong><br>
        <!-- <small class="meta-text">GROUP H.</small> -->
    </td>
    <td class="text-center">Vs</td>
    <td>
        <img src="{{teamServ.imageFQDN(_match.away.logo)}}" alt="icon1">
        <strong>{{_match.away.teamName}}</strong><br>
        <!-- <small class="meta-text">GROUP H.</small> -->
    </td>
    <td>
        {{util.getFormattedDate(_match.scheduledTime.startTime, "MMM DD hh:mm A zz")}}<br>
        <small class="meta-text">Mordovia Arena,Saransk</small>
    </td>
</tr>