<div class="container" *ngIf="showMe">
    <div class="whiteBg">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <!-- captain options -->
                    <div class="row" *ngIf="showEditDialog()">
                        <div class="col-8 offset-2">
                            <div class="row mt-3">
                                <div class="col-6">
                                    <p>Welcome to your team profile!</p>
                                    <p>The more info you complete in your profile the more information players will have to find you!</p>
                                </div>
                                <div class="col-6">
                                    <div *ngIf="editOn == true">
                                        <button type="button" (click)="openEdit()" class="btn btn-primary float-right">Edit</button>
                                    </div>
                                    <div *ngIf="!editOn">
                                        <div class="row">
                                            <div class="col">
                                                <div class="dropdown">
                                                    <button type="button" class="mt-1 btn btn-danger dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="icon-align">
                                                  <i class="material-icons md-18">settings</i>
                                                  Manage
                                                </span>
                                              </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item finger" (click)="openCaptainChangeDialog()"><span class="icon-align"><i
                                                      class="material-icons">cached</i>Change
                                                    captain</span></a>
                                                        <!-- <a class="dropdown-item finger" (click)="openDialog()"><span class="icon-align"><i class="material-icons">delete_forever</i>Delete team</span></a> -->
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col">
                                                <button type="button" [disabled]="!validate()" (click)="save()" class="mt-1 btn btn-success ">Save</button>
                                            </div>

                                            <div class="col">
                                                <button type="button" (click)="cancel()" class="mt-1 btn btn-danger">Cancel</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <button type="button" (click)="adminRefreshMMR()" class="mt-1 btn btn-info">Update Team
                                                MMR</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- admin options -->
                    <div class="row" *ngIf="componentEmbedded">
                        <div class="col-8 offset-2">
                            <div class="row">
                                <div class="col">
                                    <div class="dropdown">
                                        <button type="button" class="mt-1 btn btn-danger dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon-align">
                                            <i class="material-icons md-18">settings</i>
                                                 Manage
                                        </span>
                                    </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item finger" (click)="openAdminCaptainChangeDialog()"><span class="icon-align"><i class="material-icons">cached</i>Change captain</span></a>
                                            <a class="dropdown-item finger" (click)="openAdminDeleteDialog()"><span class="icon-align"><i class="material-icons">delete_forever</i>Delete team</span></a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col">
                                    <button type="button" (click)="adminRefreshMMR()" class="mt-1 btn btn-info">Update Team MMR</button>
                                </div>
                                <div class="col">
                                    <button type="button" [disabled]="!validate()" (click)="adminSave()" class="mt-1 btn btn-success ">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- request to join team -->
                    <!-- <div class="row mt-3" *ngIf="showRequestToJoin() ">
                        <div class="col-8 offset-2">
                            <div class="row">
                                <div class="col text-center">
                                    <button class="btn btn-success" (click)="requestToJoin()">Request to Join Team</button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="row mt-3">
                    <div class="col-sm-12 col-md-5">
                        <app-image-upload [showEdit]="auth.getUser()===returnedProfile.captain || componentEmbedded" [embedded]="componentEmbedded" [teamName]="returnedProfile.teamName" [teamLogo]="returnedProfile.logo"></app-image-upload>
                    </div>
                    <div class="col-sm-12 col-md-7">
                        <mat-form-field class="mat-FullWidth" *ngIf="componentEmbedded">
                            <input matInput placeholder="Team Id" [(ngModel)]="returnedProfile._id" disabled="true">
                            <mat-error *ngIf="nameControl.hasError('invalidCharacters')">
                                Invalid character entered
                            </mat-error>
                            <mat-error *ngIf="nameControl.hasError('required')">
                                Team name is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="mat-FullWidth">
                            <input matInput placeholder="Team Name" [formControl]="nameControl" [(ngModel)]="returnedProfile.teamName" (ngModelChange)="modelChange()">
                            <mat-error *ngIf="nameControl.hasError('invalidCharacters')">
                                Invalid character entered
                            </mat-error>
                            <mat-error *ngIf="nameControl.hasError('required')">
                                Team name is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="mat-FullWidth" *ngIf="showDivision">
                            <input matInput placeholder="Team Division" [(ngModel)]="returnedProfile.divisionDisplayName" disabled="true">
                        </mat-form-field>
                        <mat-form-field class="mat-FullWidth">
                            <input matInput placeholder="Team MMR Average" [(ngModel)]="returnedProfile.teamMMRAvg" disabled="true">
                        </mat-form-field>
                        <mat-form-field class="mat-FullWidth">
                            <input matInput placeholder="Team Captain" [(ngModel)]="returnedProfile.captain" disabled="true">
                        </mat-form-field>
                        <mat-slide-toggle *ngIf="checkRosterSize()" [disabled]="editOn" [(ngModel)]="returnedProfile.lookingForMore">
                            Looking for More.
                        </mat-slide-toggle>
                    </div>
                </div>

                <div *ngIf="!componentEmbedded">

                    <!-- add team member -->

                    <div class="row mt-3" *ngIf="!editOn">
                        <div class="col">
                            <div *ngIf="checkRosterSize() else sizeLimit">
                                <h3>Invite users to your team!</h3>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Existing User:
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                Invite a player that already has a profile on the NGS Website using their battle tag.
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>

                                        <app-user-search [filterUser]="filterUsers" [type]="'unteamed'" [buttonText]="'Invite User'" (userSelected)="invite($event)"></app-user-search>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                New User:
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                Invite a user to join the NGS Website!
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-7">
                                                <mat-form-field class="mat-FullWidth">
                                                    <input matInput [formControl]="emailControl" [(ngModel)]="emailAddress" placeholder="Enter users email to send them an invite to the NGS Website!">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <button type="button" [disabled]="emailControl.invalid" (click)="inviteEmail()">Invite!</button>
                                            </div>
                                        </div>



                                    </mat-expansion-panel>
                                </mat-accordion>

                            </div>
                        </div>
                        <ng-template #sizeLimit>
                            <div class="text-center">
                                <div> You have reached the team size limit! 9 Members </div>
                                <div> {{returnedProfile.teamMembers.length}} members on roster </div>
                                <div> {{returnedProfile.pendingMembers.length}} members pending roster add </div>
                            </div>
                        </ng-template>

                    </div>



                    <div class="row mt-3">
                        <div class="col">
                            <span class="p-3 text-success">{{message}}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div>View this teams NGS Stats at Heroes Profile</div>
                        <a href="{{heroProfile.getHPTeamLink(returnedProfile.teamName)}}" target="_blank"> {{returnedProfile.teamName}} </a>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col">
                        <h2>Current Team Members:</h2>
                    </div>
                </div>
                <!-- team members list -->
                <div class="row mt-3">
                    <div class="col">
                        <div class="row mt-3" *ngFor="let player of displayMembersLeft">
                            <!-- player name -->
                            <div class="col-7 verticalAlign">
                                <a [routerLink]="['/profile/', user.routeFriendlyUsername(player.displayName)]">
                                    <i *ngIf="player.displayName == returnedProfile.captain" class="fas fa-crown"></i> {{player.displayName}}
                                </a>
                            </div>
                            <!-- leave button : shows for user only -->
                            <div *ngIf="showLeaveTeam(player.displayName)" class="col">
                                <button class="btn btn-danger" (click)="openConfirmRemove(player.displayName)" [disabled]="deleteUserButtonOn(player.displayName)">
                                Leave Team 
                            </button>
                            </div>
                            <!-- remove from team : shows for admin and captain -->
                            <div *ngIf="!editOn" class="col">
                                <button class="btn btn-danger" (click)="openConfirmRemove(player.displayName)" [disabled]="deleteUserButtonOn(player.displayName)"> X </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row mt-3" *ngFor="let player of displayMembersRight">
                            <!-- player name -->
                            <div class="col">
                                <a [routerLink]="['/profile/', user.routeFriendlyUsername(player.displayName)]">
                                    <i *ngIf="player.displayName == returnedProfile.captain" class="fas fa-crown"></i> {{player.displayName}}
                                </a>
                            </div>
                            <!-- leave button : shows for user only -->
                            <div *ngIf="showLeaveTeam(player.displayName)" class="col">
                                <button class="btn btn-danger" (click)="openConfirmRemove(player.displayName)" [disabled]="deleteUserButtonOn(player.displayName)">
                                Leave Team 
                            </button>
                            </div>
                            <!-- remove from team : shows for admin and captain -->
                            <div *ngIf="!editOn" class="col">
                                <button class="btn btn-danger" (click)="openConfirmRemove(player.displayName)" [disabled]="deleteUserButtonOn(player.displayName)"> X </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="showEditDialog()">
                    <div class="row mt-3">
                        <div class="col">
                            <h2>Pending Members:</h2>
                        </div>
                    </div>
                    <!-- team members list -->
                    <div class="row mt-3">
                        <div class="col">
                            <div class="row mt-3" *ngFor="let player of displayPendingMembersLeft">
                                <div class="col-7 verticalAlign">
                                    <a [routerLink]="['/profile/', user.routeFriendlyUsername(player.displayName)]">{{player.displayName}}</a>

                                </div>
                                <!-- <div *ngIf="showLeaveTeam(player.displayName)" class="col">
                                    <button class="btn btn-danger" (click)="openConfirmRemove(player.displayName)" [disabled]="deleteUserButtonOn(player.displayName)">
          Leave Team
        </button>
                                </div>
                                <div *ngIf="!editOn" class="col">
                                    <button class="btn btn-danger" (click)="openConfirmRemove(player.displayName)" [disabled]="deleteUserButtonOn(player.displayName)">
          X </button>
                                </div> -->
                            </div>
                        </div>
                        <div class="col">
                            <div class="row mt-3" *ngFor="let player of displayPendingMembersRight">
                                <div class="col">
                                    <a [routerLink]="['/profile/', user.routeFriendlyUsername(player.displayName)]">{{player.displayName}}</a>
                                </div>
                                <!-- <div *ngIf="showLeaveTeam(player.displayName)" class="col">
                                    <button class="btn btn-danger" (click)="openConfirmRemove(player.displayName)" [disabled]="deleteUserButtonOn(player.displayName)">
          Leave Team
        </button>
                                </div>
                                <div *ngIf="!editOn" class="col">
                                    <button class="btn btn-danger" (click)="openConfirmRemove(player.displayName)" [disabled]="deleteUserButtonOn(player.displayName)">
          X </button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mt-3">
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                            <mat-select placeholder="Team Competitive Level" [disabled]="editOn" [(ngModel)]="returnedProfile.competitiveLevel">
                                <mat-option *ngFor="let level of competitonLevel" [value]="level.val">
                                    {{level.display}}
                                </mat-option>
                            </mat-select>
                            <mat-hint align="start"><strong>Generally how serious / competitively you're looking to play</strong> </mat-hint>
                        </mat-form-field>
                        <mat-form-field class="mat-FullWidth">
                            <mat-label>Describe the teams play history / style</mat-label>
                            <textarea matInput cdkTextareaAutosize [(ngModel)]="returnedProfile.descriptionOfTeam" [disabled]="editOn"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        Roles the team needs:
                        <section>
                            <mat-checkbox class="role-margin" [(ngModel)]="returnedProfile.rolesNeeded.tank" [disabled]="editOn">Tank</mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="returnedProfile.rolesNeeded.offlane" [disabled]="editOn">Offlane</mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="returnedProfile.rolesNeeded.meleeassassin" [disabled]="editOn">Melee Assassin</mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="returnedProfile.rolesNeeded.rangedassassin" [disabled]="editOn">Ranged Assassin</mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="returnedProfile.rolesNeeded.support" [disabled]="editOn">Support</mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="returnedProfile.rolesNeeded.flex" [disabled]="editOn">Flex</mat-checkbox>
                        </section>
                    </div>
                </div>
                <!-- Availability Schedule -->
                <app-times-available [availObj]="returnedProfile.availability" [disabled]="editOn" (availValid)="receiveValidTimes($event)"></app-times-available>

                <div class="row mt-3">
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                            <mat-select placeholder="Timezone:" [formControl]="timezoneControl" [(ngModel)]="returnedProfile.timeZone">
                                <mat-option *ngFor="let zone of timezone.timezones" [value]="zone.value" [disabled]="editOn">
                                    {{zone.text}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="timezoneControl.hasError('required')">
                                Timezone is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- <div class="row mt-3" *ngIf="showRegisteredQuestionnaire() else registered">
                    <div class="col">
                        <app-questionnaire [team]="returnedProfile"></app-questionnaire>

                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<ng-template #registered>
    <div *ngIf="auth.getUser()==returnedProfile.captain">
        <div class="text-center text-success p-5"> Thanks for registering for NGS Season 6! Good Luck and We'll see you in the Nexus</div>
    </div>

</ng-template>