<!-- Widget Text-->
<div class="panel-box">
    <div class="titles no-margin">
        <h4> {{matchInfo.home.teamName}} VS {{matchInfo.away.teamName}} </h4>
    </div>
    <div class="row pb-2">
        <div class="col">
            <div class="text-center">
                <iframe width="100%" [src]="potg.potg_link | safe" frameborder="0" allowfullscreen></iframe>
            </div>
            <span class="finger"><a (click)="smile(potg.match_id)"><i class="far fa-laugh-squint"></i> <span *ngIf="potg.likes>0 else noLikes"> {{potg.likes}}</span></a>
            </span>
            <div class="mt-1 text-center">
                <a *ngIf="matchInfo.matchId" [routerLink]="['/match/view/', matchInfo.matchId]" class="btn theme">View
                  Match Info</a>
            </div>
        </div>
    </div>
</div>

<ng-template #noLikes>
    No Simles Yet
</ng-template>
