<div class="container pt-4">
    <div class="row">
        <div class="col">
            <div class="row" *ngIf="!this.provDiv; else provDiv">
                <div class="col">

                    <app-division-selector (selectedDiv)="calculateRounds($event)"></app-division-selector>

                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-select placeholder="Round:" [(ngModel)]="selectedRound" (ngModelChange)="getMatches()" disableOptionCentering>
                            <mat-option *ngFor="let round of rounds; let i = index" [value]="round">{{round}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <ng-template #provDiv>
                <div class="row mt-3" *ngIf="rounds.length>0">
                    <div>
                        <div class="col">
                            <mat-form-field>
                                <mat-select placeholder="Round:" [(ngModel)]="selectedRound" (ngModelChange)="getMatches()" disableOptionCentering>
                                    <mat-option *ngFor="let round of rounds; let i = index" [value]="round">{{round}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
            </ng-template>
            <!-- else noMatches -->
            <div *ngIf="matches.length>0 else noMatch">
                <div class="row">
                    <div class="col">
                        <h2>Matches</h2>
                    </div>
                </div>
                <div class="row mt-3" *ngFor="let match of matches">
                    <div class="col">
                        <app-match-view-verticle [passMatch]="match"></app-match-view-verticle>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- <ng-template #bye>
    BYE
</ng-template> -->
<ng-template #noMatch>
    <div>No matches currently for this round!</div>
</ng-template>