<ng-template #noSched>
    <div class="row">
        <div class="col">
            <h4>No schedules currently!</h4>
        </div>
    </div>
</ng-template>
<!-- *ngIf="matches.length>0 else noSched" -->
<div>
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-select placeholder="Round:" [(ngModel)]="selectedRound" (ngModelChange)="getMatches()" disableOptionCentering>
                    <mat-option *ngFor="let round of rounds; let i = index" [value]="round">{{round}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table-striped  table-hover">
            <thead>
                <tr>
                    <th>Home</th>
                    <th class="text-center">VS</th>
                    <th>Away</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let match of matches">
                    <td>
                        <app-team-link [team]="match.home.teamName">
                            <img src="{{team.imageFQDN(match.home.logo)}}" alt="icon">
                            <strong>
                          {{match.home.teamName}}
                          </strong>
                        </app-team-link>
                        <br>

                        <!-- <small class="meta-text">GROUP H.</small> -->
                    </td>
                    <td class="text-center">Vs</td>
                    <td>
                        <app-team-link [team]="match.away.teamName">
                            <img src="{{team.imageFQDN(match.away.logo)}}" alt="icon1">
                            <strong>
                         {{match.away.teamName}}
                        </strong>
                        </app-team-link>
                        <br>
                        <!-- <small class="meta-text">GROUP H.</small> -->
                    </td>
                    <td>
                        <span *ngIf="match.scheduledTime && match.scheduledTime.startTime else tbd">{{util.getFormattedDate(match.scheduledTime.startTime, "MMM DD hh:mm A zz")}}</span><br>
                        <span *ngIf="match.casterName"><small class="meta-text">Caster: {{match.casterName}}, <a
                href="{{util.prePendHttp(match.casterUrl)}}" target="_blank">{{match.casterUrl}}</a></small></span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <ng-template #tbd> Not yet scheduled </ng-template>

</div>
