.medal {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.rank {
    /* position: absolute;
    top: 50px;
    left: 71px; */
    text-align: center !important;
    color: #F2692E;
    font-size: 80px;
    font-weight: 900;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
}

.masterKplusRank {
    /* position: absolute;
    top: 50px;
    left: 0px; */
    text-align: center !important;
    color: #F2692E;
    font-size: 80px;
    font-weight: 900;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
}

.masterCplusRank {
    /* position: absolute;
    top: 50px;
    left: 25px; */
    text-align: center !important;
    color: #F2692E;
    font-size: 80px;
    font-weight: 900;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
}

.masterXplusRank {
    position: absolute;
    top: 40px;
    left: 49px;
    color: #F2692E;
    font-size: 80px;
    font-weight: 900;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
}
