.medal {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.rank {
    position: absolute;
    top: 40px;
    left: 96px;
    color: #CCEDF7;
    font-size: 80px;
    font-weight: 900;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
}