<!-- (ngModelChange)="modifyForm(returnedProfile.hlRankMetal)" -->
<div *ngIf="!edit">
    <mat-form-field class="mt-3">
        <mat-select placeholder="Hero League Division" [formControl]="heroeLeagueDivisionControl" [(ngModel)]="divisionValue" disableOptionCentering>
            <mat-option *ngFor="let medal of hlMedals" [value]="medal">
                {{medal}}
            </mat-option>
            <mat-error *ngIf="heroeLeagueDivisionControl.hasError('required')">
                Hero League Division is required
            </mat-error>
        </mat-select>
    </mat-form-field>



    <div *ngIf="divisionValue != 'Unranked'">
        <div class="pe-full-width" *ngIf="divisionValue != 'Master' && divisionValue != 'Grand Master'">
            <mat-form-field class="pe-full-width">
                <mat-select placeholder="Hero League Rank" [formControl]="heroeLeagueRankControl" [(ngModel)]="rankValue" disableOptionCentering>
                    <mat-option *ngFor="let rank of hlDivision" [value]="rank">
                        {{rank}}
                    </mat-option>
                    <mat-error *ngIf="heroeLeagueRankControl.hasError('required')">
                        Hero League Rank is required
                    </mat-error>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="pe-full-width" *ngIf="divisionValue == 'Master' || divisionValue == 'Grand Master'">
            <mat-form-field class="pe-full-width">
                <input matInput type="number" placeholder="Hero League Rank" [formControl]="heroeLeagueRankControl" [(ngModel)]="rankValue">
            </mat-form-field>
            <mat-error *ngIf="heroeLeagueRankControl.hasError('required')">
                Hero League Rank is required
            </mat-error>
        </div>
    </div>
</div>
<div *ngIf="edit">
    {{divisionValue}} {{rankValue}}
</div>