    /* .largeStatContainer {
        background-size: cover !important;
        background-position: top center !important;
        background-repeat: no-repeat !important;
        position: relative;
        width: 500px;
    } */

    .statContainer {
        background-size: cover !important;
        background-position: top center !important;
        background-repeat: no-repeat !important;
        position: relative;
        width: 500px;
    }

    @media screen and (max-width: 375px) {
        .statContainer {
            width: 330px;
        }
    }

    .smallStat {
        padding-top: 55px;
        padding-bottom: 55px;
        background-color: #0000007a;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        padding-left: 30px;
    }

    .largeStat {}

    .statText {
        font-size: 2em;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .displayText {
        font-size: 1.5em;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    /* .statPos {
        position: absolute;
        display: inline-block;
        margin-left: 20px;
    } */
