<app-banner-image [bannerTitle]="bannerText"></app-banner-image>
<div class="container forceFull">
    <div class="row mt-4" *ngIf="match">
        <div class="col">
            <!-- <div class="row">
                <div class="col text-center">
                    <h3>Match Details</h3>
                </div>
            </div> -->
            <div class="panel-box pb-4">
                <div class="text-center pt-4 pb-4">
                    <h4>Match Up</h4>
                </div>
                <app-match-results-header [match]="match"></app-match-results-header>
                <app-match-view [passMatch]="match"></app-match-view>
                <!-- <div *ngIf="match.away.score || match.home.score" class="p-2">
                    <app-games-information [match]="match"></app-games-information>
                </div> -->
                <div class="text-center mb-5 mt-5"><span class="h4">Match Up History:</span></div>
                <app-matchup-info-embeddable [teamA]="match.home.id" [teamB]="match.away.id" [hideLogos]="true"></app-matchup-info-embeddable>
            </div>
        </div>
    </div>
    <div class="row mt-4" *ngIf="event">
        <div class="col">
            <!-- <div class="row">
                <div class="col text-center">
                    <h3>Event Details</h3>
                </div>
            </div> -->
            <div class="mt-3">
                <app-event-display [event]="event"></app-event-display>
            </div>

        </div>
    </div>
</div>
