@import '@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ngs-dark-primary: mat-palette($mat-orange);
$ngs-dark-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$ngs-dark-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$ngs-dark-theme: mat-dark-theme($ngs-dark-primary, $ngs-dark-accent, $ngs-dark-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.ngs-dark {
    @include angular-material-theme($ngs-dark-theme);
}

$ngs-light-primary: mat-palette($mat-purple);
$ngs-light-accent: mat-palette($mat-indigo, A200, A100, A400);
$ngs-light-warn: mat-palette($mat-red);
$ngs-light-theme: mat-light-theme($ngs-light-primary, $ngs-light-accent, $ngs-light-warn);
@include angular-material-theme($ngs-light-theme);
