/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
body,
html {
    height: 100%;
    margin: 0;
}

.mat-tab-body-wrapper {
    flex-grow: 1;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/assets/testGutter.png');
}

.footer-padding {
    margin-top: 25px;
}

.finger {
    cursor: pointer;
}

.container {
    background-color: white;
    height: 100%;
}

.forceFull {
    height: 100%;
    background-color: white;
}