/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
body,
html {
    height: 100%;
}

.appRoot {
    height: 100%;
}


/* .mat-tab-body-wrapper {
    flex-grow: 1;
} */

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, transparent, rgb(69, 57, 82) 20%, rgb(69, 57, 82) 15% 80%, transparent), url('/assets/hexagonGutter.png');
}

.forceFull {
    min-height: 100vh;
}

/* rgb(114, 112, 112) */
/* 
this class sets a div height of reasonable px length to give the illusion that the page is longer when 
no content has loaded in, without this your footer flys around the page as contnet grows or shrinks
 */

.fillWhileLoading {
    height: 700px;
}


/*
this sets a height of the entire view height, used when the content will probably never fill the page so 
that the footer rests at the bottom
*/

.fillUpDeadSpace {
    height: 100vh;
}


/* .footer-padding {
    margin-top: 25px;
}



.container {
    background-color: white;
    height: 100%;
}
*/

.mat-FullWidth {
    width: 100%;
}

.finger {
    cursor: pointer;
}