/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
body,
html {
    height: 100%;
}

.appRoot {
    height: 100%;
}


/* .mat-tab-body-wrapper {
    flex-grow: 1;
} */

body {
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(to right, transparent, rgb(69, 57, 82) 20%, rgb(69, 57, 82) 80%, transparent),     url('/assets/testGutter.png');*/
    background: linear-gradient(to right, transparent, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 75%, transparent), url('/assets/testGutter.png');
    /* background: linear-gradient(to right, transparent, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 80%, transparent), url('/assets/hexagonGutter.png'); */
    /* background: url('/assets/hexagonGutter.png'); */
    /* background: url('/assets/testGutter.png'); */
}

.forceFull {
    min-height: 100vh;
}

.mat-FullWidth {
    width: 100%;
}

.finger {
    cursor: pointer;
}