<div class="container pt-4 forceFull">
    <div class="row">
        <div class="col">
            <a [routerLink]="['/_admin/dashboard']">Back to Dashboard</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">

            <h3>Regarding Pending Member Adds:</h3>

            <strong>Flags for possible denial or further review:</strong>
            <ul>
                <li>Ideally, try to only approve adds in your assigned division.</li>
                <li>Do not approve any adds in a division in which you are a player. </li>
                <li>Not placed in SL</li>
                <li>Few games uploaded on HP (less than 150)</li>
                <li>Abnormally high WR, higher than 55% (especially when combined with low number of games) </li>
                <li>Is the account flagged as a potential smurf?</li>
                <li>Is the account a legal add for the division? (You'll have to get a screen shot of the rank from the player or captain)</li>
                <li>In the case that an account is close to the SL limit, be sure to check match history for tanking to get under.</li>
            </ul>

            <p> <strong>Season roster add limits</strong> </p>
            <table>
                <thead>
                    <tr>
                        <th>Division</th>
                        <th>Limit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <strong> Heroic</strong>
                        </td>
                        <td>
                            no limit
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>A</strong>
                        </td>
                        <td>
                            Diamond 2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>B</strong>
                        </td>
                        <td>
                            Diamond 5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>C</strong>
                        </td>
                        <td>
                            Plat 3
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>D</strong>
                        </td>
                        <td>
                            Plat 5
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>E</strong>
                        </td>
                        <td>
                            Gold 3
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row header-style mt-3">
        <div class="col">
            Player
        </div>
        <div class="col">
            Team
        </div>
        <div class="col-2">
            Resultant MMR
        </div>
        <div class="col-2 text-center">
            Actions
        </div>
    </div>
    <div *ngFor="let queueItem of queue">
        <app-approve-member-view [info]="queueItem" (accountActioned)="updateView($event)"></app-approve-member-view>
    </div>
</div>
