<div class="container pt-4">
    <div class="row header-style">
        <div class="col">
            Player
        </div>
        <div class="col">
            Team
        </div>
        <div class="col">
            Resultant MMR
        </div>
        <div class="col text-center">
            Actions
        </div>
    </div>
    <div *ngFor="let queueItem of queue">
        <app-approve-member-view [info]="queueItem" (accountActioned)="updateView($event)"></app-approve-member-view>
    </div>
</div>