<ng-container *ngIf="orientation == 'horizontal'">
    <div class="row">
        <div class="col-3 text-center" *ngFor="let rank of toDisplay">
            {{rank.year}} Season {{rank.season}}
            <ng-container [ngSwitch]="rank.status">
                <div *ngIf="admin">
                    <strong>Admin Mod:</strong>
                    <app-storm-league [(division)]="rank.hlRankMetal" [disabled]="false" [(rank)]="rank.hlRankDivision"></app-storm-league>
                    <button class="btn btn-warning" (click)="saveUpdate(rank)">Save</button>
                </div>
                <app-storm-league *ngSwitchCase="'verified'" [disabled]="true" [division]="rank.hlRankMetal" [rank]="rank.hlRankDivision">
                </app-storm-league>
                <ng-container *ngSwitchCase="'pending'">
                    <div>Pending admin verification</div>
                </ng-container>
                <ng-container *ngSwitchCase="'na'" [ngTemplateOutlet]="upload" [ngTemplateOutletContext]="{rank:rank}"></ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="orientation == 'vertical'">
    <div class="row mt-3" *ngFor="let rank of toDisplay; let i=index;">
        <div class="col text-center">
            <hr *ngIf="i>0"> {{rank.year}} Season {{rank.season}}
            <ng-container [ngSwitch]="rank.status">
                <div *ngIf="admin">
                    <strong>Admin Mod:</strong>
                    <app-storm-league [(division)]="rank.hlRankMetal" [disabled]="false" [(rank)]="rank.hlRankDivision"></app-storm-league>
                    <button class="btn btn-warning" (click)="saveUpdate(rank)">Save</button>
                </div>
                <app-storm-league *ngSwitchCase="'verified'" [disabled]="true" [division]="rank.hlRankMetal" [rank]="rank.hlRankDivision">
                </app-storm-league>
                <ng-container *ngSwitchCase="'pending'">
                    <div>Pending admin verification</div>
                </ng-container>
                <ng-container *ngSwitchCase="'na'" [ngTemplateOutlet]="upload" [ngTemplateOutletContext]="{rank:rank}"></ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>


<div class="row mt-3" *ngIf="uploadImage">
    <div class="col">
        In order for a mod to approve your SL rank screen cap upload, it must have the following:
        <ul>
            <li>Your FULL battle tag (including numbers) visible</li>
            <li>The Statistics tab highlighted</li>
            <li>The correct season selected and visible</li>
            <li>Your rank for that season clearly visible</li>
            <li>Under game types, please have QM, UR and SL selected</li>
        </ul>
        <div class="text-center"><img style="max-width: 75%;" src="/assets/img/rankExampleImage.jpg"></div>
        <app-image-upload [imageType]="'stormVerification'" [width]="800" [height]="450" [showEdit]="true" (imageParsed)="imagedParsed($event)"></app-image-upload>
        <app-loading [showLoading]="saving" [displayText]="'Saving'"></app-loading>
    </div>
</div>

<ng-template #upload let-rank="rank">
    <div class="row">
        <div class="col">

            <div>has not been verified</div>
            <div>Upload an image of your</div>
            <div>ranking to get verified.</div>
            <div *ngIf="showUploadButton">
                <button class="btn btn-primary" (click)="openImageUploader(rank.year, rank.season)">Image Upload</button>
            </div>
        </div>
    </div>
</ng-template>
