<div *ngIf="!edit">
    <mat-label>Discord Tag:</mat-label>
    <mat-form-field class="fullWidth">
      <mat-label>Discord Tag</mat-label>
        <input matInput placeholder="Discord Tag" [formControl]="discordTagFormControl" [(ngModel)]="discordTagValue" (ngModelChange)="update()">
        <mat-error *ngIf="discordTagFormControl.hasError('required')">
            Discord Tag is required.
        </mat-error>
        <mat-error *ngIf="discordTagFormControl.hasError('invalidTag')">
            Discord Tag pattern not recognized.
        </mat-error>
    </mat-form-field>
</div>
<div *ngIf="edit">
    <span>Discord Tag: {{discordTagValue}}</span>
</div>
