<div class="container forceFull">
    <div class="row">

        <div class="col mx-auto">
            <div class="card mt-5 mx-auto" style="max-width: 650px">
                <div class="card-header">
                    You have been logged out of Nexus Gaming Series!
                </div>
                <div class="card-body">
                    <p class="">You have been logged out of Nexus Gaming Series, however battle.net does not provide a method for destroying your session with them, so please go to a battle.net webpage and action a logout.</p>
                    <p class="text-center"> <a href="https://us.battle.net/login/logout?app=com-root">You may use this link to expidite the battle.net logout</a> </p>
                </div>
            </div>
        </div>

    </div>
</div>