<div class="club-ranking">
    <h5><span>Division Rankings</span></h5>
    <div class="info-ranking">

        <div *ngIf="!offSeason else offSeasonTemplate">
            <div class="text-center p-3 ngs-dark">

                <app-division-selector [inputDiv]="passDiv" (selectedDiv)="selectedDiv($event)"></app-division-selector>
            </div>
            <ul *ngIf="!noDivisions else showNoDivisions">
                <ng-container *ngIf="standings.length>0 else noReported">
                    <li *ngFor="let standing of standings">
                        <span class="position">
                                  {{standing.standing}}
                                </span>
                        <div style="width: 200px; display: inline-flex;" class="obnoxious-long-name-band-aid">
                            <app-team-link [team]="standing.teamName">
                                {{standing.teamName}}</app-team-link>
                        </div>
                        <span class="points">
                                  {{standing.points}}
                                </span>
                    </li>
                </ng-container>
            </ul>
        </div>


        <ng-template #showNoDivisions>
            <div class="text-center no-division-box-padding">
                <h5>No divisions currently!</h5>
                <h6 class="text-white">Check back later!</h6>
            </div>
        </ng-template>
        <ng-template #offSeasonTemplate>
            <div class="text-center no-division-box-padding">
                <h5>We're in off season now!</h5>
                <h6 class="text-white">Check back later!</h6>
            </div>
        </ng-template>
    </div>
</div>

<ng-template #noReported>
    <span>No Reported Matches Yet</span>
</ng-template>