<div class="club-ranking">
    <h5><span>Division Rankings</span></h5>
    <div class="info-ranking">

        <div class="text-center p-3 ngs-dark" *ngIf="!noDivisions">

            <app-division-selector [inputDiv]="passDiv" (selectedDiv)="selectedDiv($event)"></app-division-selector>

        </div>
        <ul *ngIf="!noDivisions else showNoDivisions">
            <li *ngFor="let standing of standings">
                <span class="position">
          {{standing.standing}}
        </span>
                <app-team-link [team]="standing.teamName">{{standing.teamName}}</app-team-link>
                <span class="points">
          {{standing.points}}
        </span>
            </li>
        </ul>
        <ng-template #showNoDivisions>
            <div class="text-center no-division-box-padding">
                <h5>No divisions currently!</h5>
                <h6 class="text-white">Check back later!</h6>
            </div>
        </ng-template>
    </div>
</div>
