<div class="club-ranking">
    <h5><span>Division Rankings</span></h5>
    <div class="info-ranking">

        <div class="text-center p-3 ngs-dark">

            <app-division-selector [inputDiv]="passDiv" (selectedDiv)="selectedDiv($event)"></app-division-selector>

        </div>
        <ul>
            <li *ngFor="let standing of standings">
                <span class="position">
          {{standing.standing}}
        </span>
                <app-team-link [team]="standing.teamName">{{standing.teamName}}</app-team-link>
                <span class="points">
          {{standing.points}}
        </span>
            </li>
        </ul>
    </div>
</div>
