<div class="table-responsive">
    <table class="table-striped  table-hover result-point">
        <thead class="point-table-head">
            <tr>
                <th class="text-left">Rank</th>
                <th class="text-left">Team</th>
                <th class="text-center">Points</th>
                <th class="text-center">Dominations</th>
                <th class="text-center">Games<br>Won</th>
                <th class="text-center">Games<br>Lost</th>
                <th class="text-center">Matches<br>Played</th>
            </tr>
        </thead>

        <tbody class="text-center">
            <tr *ngFor="let standing of standings">
                <td class="text-left number">{{standing.standing}}
                    <!-- todo: figure up or down if possible -->
                    <!-- <i class="fa fa-caret-up" aria-hidden="true"></i>-->
                </td>
                <td class="text-left">
                    <!-- <img src="img/clubs-logos/colombia.png" alt="Colombia"> -->
                    <span>
                      <app-team-link [team]="standing.teamName" [season]="seasonVal">{{standing.teamName}}</app-team-link>
                    </span>
                </td>
                <td>{{standing.points}}</td>
                <td>{{standing.dominations}}</td>
                <td>{{standing.wins}}</td>
                <td>{{standing.losses}}</td>
                <td>{{standing.matchesPlayed}}</td>
            </tr>

        </tbody>
    </table>
</div>

<!-- <div class="panel-box padding-b mt-3">
    <div class="titles">
        <h4>Legend</h4>
    </div>
    <div class="row">
        <div class="col">
            <span class="h6">P</span> - Points <br>
            <span class="h6">D</span> - Dominations <br>
            <span class="h6">MW</span> - Map Wins <br>
            <span class="h6">ML</span> - Map Losses <br>
            <span class="h6">MP</span> - Games Played
        </div>
    </div>

</div> -->
