<div class="container">
    <div>
        <div class="row">
            <div class="col">

                <div class="row">
                    <div class="col">
                        <h2>Caster Dashboard</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h5>Filter Matches By:</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- <mat-form-field class="mat-FullWidth">
                            <mat-select placeholder="Division:" [(ngModel)]="selectedDivision" (ngModelChange)="doFilterMatches(selectedDivision, selectedRound, filterTeam)" disableOptionCentering>
                                <mat-option [value]="null"> </mat-option>
                                <mat-option *ngFor="let division of divisions; let i = index" [value]="division.divisionConcat">{{division.displayName}}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <app-division-selector (selectedDiv)="doFilterMatches($event, selectedRound, filterTeam)"></app-division-selector>
                    </div>
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                            <mat-select placeholder="Round:" [(ngModel)]="selectedRound" (ngModelChange)="doFilterMatches(selectedDivision, selectedRound, filterTeam)" disableOptionCentering>
                                <mat-option [value]="null"> </mat-option>
                                <mat-option *ngFor="let round of rounds" [value]="round">{{round}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                            <input matInput placeholder="Team Name" [(ngModel)]="filterTeam" (ngModelChange)="doFilterMatches(selectedDivision, selectedRound, filterTeam)">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-checkbox [(ngModel)]="scheduledOnly" (ngModelChange)="filterScheduled(scheduledOnly)">Only Scheduled Matches.</mat-checkbox>
                    </div>
                </div>
                <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="pageEventHandler($event)">

                </mat-paginator>
                <div *ngIf="displayArray.length==0" style="height: 650px"></div>
                <div class="row mb-3 p-4" *ngFor="let match of displayArray; let ind = index" [ngClass]="{'bg-light':ind%2==0}">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                {{match.divisionDisplayName}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a [routerLink]="['/teamProfile/',team.routeFriendlyTeamName(match.home.teamName)]">{{match.home.teamName}}</a>

                            </div>
                            <div class="col">
                                -VS-
                            </div>
                            <div class="col">
                                <a [routerLink]="['/teamProfile/',team.routeFriendlyTeamName(match.away.teamName)]">{{match.away.teamName}}</a>

                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                Scheduled Time: <span *ngIf="match.scheduledTime !=undefined && match.scheduledTime !=null else notScheduled">{{displayTime(match.scheduledTime.startTime)}}</span>
                                <ng-template #notScheduled>
                                    <span>Not Yet Scheduled</span>
                                </ng-template>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div *ngIf="match.casterName != undefined && match.casterName != null else addCasterButton">
                                    Caster: {{match.casterName}} Url: {{match.casterUrl}}
                                </div>
                                <ng-template #addCasterButton>
                                    <app-caster-inputs [matchId]="match.matchId"></app-caster-inputs>
                                </ng-template>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>