<app-banner-image [bannerTitle]="'Past Seasons'"></app-banner-image>
<section class="content-info">

    <div class="container paddings-mini">
        <!-- Content Text-->
        <div class="panel-box pt-5 pb-5">
            <div class="row">
                <div class="col-xl-6 col-lg-12 my-auto col-md-12">
                    <div class="row">
                        <div class="col-md-7 my-auto col-sm-12">
                            <h5>Select Previous Season To View</h5>
                        </div>
                        <div class="col">
                            <mat-form-field class="mat-FullWidth">
                                <mat-select placeholder="Previous Seasons" [(ngModel)]="selectedSeason" (ngModelChange)="seasonSelected()">
                                    <mat-option *ngFor="let season of seasonsList" [value]="season">
                                        {{season}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 my-auto col-md-12">
                    <div class="row">
                        <div class="col-md-7 my-auto col-sm-12">
                            <h5>Select Previous Season Division To View</h5>
                        </div>
                        <div class="col">
                            <div *ngIf="selectedSeason">
                                <mat-form-field class="mat-FullWidth">
                                    <mat-select placeholder="Season {{selectedSeason}} Divisions" [(ngModel)]="selectedDivision" (ngModelChange)="divisionSelected()">
                                        <mat-option *ngFor="let division of divisionList" [value]="division">
                                            {{division.displayName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Content Text-->
        </div>
    </div>

    <div *ngIf="selectedDivision">
        <app-division [passSeason]="selectedSeason" [passDivision]="selectedDivision"></app-division>
    </div>

</section>
