<app-banner-image [bannerTitle]="'Rules'" [bannerCrumbLink]="'/'" [bannerCrumbRoot]="'Home'" [bannerCrumbBranch]="'Post'"></app-banner-image>
<section class="content-info">

    <div class="container paddings-mini">
        <div class="row">

            <!-- Sidebars -->
            <aside class="col-lg-3">

                <!-- Widget Categories-->
                <!-- replace with blog categories -->
                <!-- <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>Categories</h4>
                    </div>
                    <div class="info-panel">
                        <ul class="list">
                            <li><i class="fa fa-check"></i><a href="#">Design</a></li>
                            <li><i class="fa fa-check"></i><a href="#">Photos</a></li>
                            <li><i class="fa fa-check"></i><a href="#">Videos</a></li>
                            <li><i class="fa fa-check"></i><a href="#">Lifestyle</a></li>
                            <li><i class="fa fa-check"></i><a href="#">Technology</a></li>
                        </ul>
                    </div>
                </div> -->
                <!-- End Widget Categories-->

                <!-- Widget Text-->
                <!-- <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>{{displayBlog.fields.author.fields.name}}</h4>
                    </div>
                    <div class="info-panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore.</p>
                    </div>
                </div> -->
                <!-- End Widget Text-->

                <!-- Widget img-->
                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>{{displayBlog.fields.author.fields.name}}</h4>
                    </div>
                    <img src="{{displayBlog.fields.author.fields.image.fields.file.url}}" alt="">
                    <div class="row">
                        <div class="info-panel" *ngIf="displayBlog.fields.author.fields.shortBio">
                            <p [innerHTML]="md.convertMarkdown(displayBlog.fields.author.fields.shortBio)"></p>
                        </div>
                    </div>
                </div>
                <!-- End Widget img-->
            </aside>
            <!-- End Sidebars -->


            <div class="col-lg-9">
                <!-- Content Text-->
                <div class="panel-box">
                    <div class="titles no-margin">
                        <h4>{{displayBlog.fields.title}}</h4>
                    </div>
                    <div class="centerImage text-center mt-4 mb-2">
                        <img class="image-size" src="{{displayBlog.fields.heroImage.fields.file.url}}" alt="">
                    </div>

                    <div class="info-panel">
                        <div [innerHTML]="md.convertMarkdown(displayBlog.fields.description)"></div>
                        <div id="markedBody" [innerHTML]="md.convertMarkdown(displayBlog.fields.body)"></div>
                    </div>
                </div>
                <!-- End Content Text-->

            </div>
        </div>
    </div>


</section>
