<div class="container forceFull">
    <div class="row" *ngIf="!Auth.isAuthenticated(); else loggedIn">

        <div class="col mx-auto">
            <div class="card mt-5 mx-auto" style="max-width: 650px">
                <div class="card-header text-center">
                    Nexus Gaming Series Login
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">We manage authentication and login via Battle.net</h5>
                    <div class="text-center"><a href="api/auth/bnet" class="btn btn-primary bNet">Login with Battle.Net!</a></div>
                    <div class="text-center mt-1"><img class="text-center" src="assets/Blizz_Corp_RGB_LightBkgd.png" width="145"></div>
                    <p class="disclaimer">We do not capture any private data (ie: email); however we do create a profile including your battle.net battle tag and collect information regarding your play schedule and MMR etc.</p>

                </div>
            </div>

        </div>

    </div>
    <ng-template #loggedIn>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <h2>Welcome to the Nexus Gaming Series app!</h2>
                <a type="button" class="btn btn-success" href="/profile/{{profile}}">Check out your profile!</a>
            </div>
            <div class="col-sm"></div>
        </div>
    </ng-template>
</div>
