<div class="containter pt-4">
    <div class="row">
        <div class="col">


            <div class="row border border-dark rounded mb-3 p-2" *ngIf='selectedTeams.length>0 && selectedDiv'>
                <div class="col">
                    <h5>Confirmation:</h5>
                    <div class="row">
                        <div class="col">
                            Adding teams:
                            <div *ngFor="let team of selectedTeams; let i = index">{{team.teamName}}</div>
                        </div>
                        <div class="col">
                            to Division:
                            <div>{{selectedDiv.displayName}}</div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-success" (click)="divisionTeams()">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-secondary border border-dark text-white p-2">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span>
              <h5>Teams:</h5>
            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Team Name:
                        </div>
                        <div class="col">
                            Team MMR:
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span>
              <h5>Divisions:</h5>
            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Division Name:
                        </div>
                        <div class="col">
                            Division MMR Bracket:
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="row p-2" style="border-style: solid" [ngClass]="{'border border-info bg-info text-white': isSelected(team)}" *ngFor="let team of undivisionTeams">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div><strong>Team Name</strong></div>
                                    {{team.teamName}}
                                </div>
                                <div class="col">
                                    <div><strong>Team MMR:</strong></div>
                                    <div>Hots Logs: {{team.teamMMRAvg}}</div>
                                    <div>Heroes Profile: {{team.hpMmrAvg}}</div>
                                    <div>NGS MMR: {{team.ngsMmrAvg}}</div>
                                </div>
                                <div class="col">
                                    <a class="finger underline" (click)="teamSelected(team)">Click to <span *ngIf="isSelected(team) else select"> deselect </span>
                                        <ng-template #select>select</ng-template> team
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div><strong>Preferred Coast</strong></div>
                                    {{team.questionnaire.eastWest}}
                                </div>
                                <div class="col">
                                    <div>
                                        <strong>
                                        <app-team-link [team]="team.teamName" [target]="'_blank'">Team Profile</app-team-link>
                                      </strong>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="col">
                    <div class="row finger p-2" [ngClass]="{'border border-warning bg-warning text-dark': isDivSelected(division)}" *ngFor="let division of divisions">
                        <div class="col">
                            {{division.displayName}}
                        </div>
                        <div class="col">
                            <div>Max MMR: {{division.maxMMR}}</div>
                            <div>Min MMR: {{division.minMMR}}</div>
                        </div>
                        <div class="col">
                            <a class="finger underline" (click)="divSelected(division)">Click to Select Division</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>