<div class="container forceFull">
    <div class="row bg-white">
        <div class="col">
            <div class="row">
                <div class="col">
                    <a [routerLink]="['/_admin/dashboard']">Back to Dashboard</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <h2>Admin Management</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-5 mx-auto">
                    <mat-form-field class="mat-FullWidth">
                      <mat-label>Filter by name</mat-label>
                        <input matInput placeholder="Filter by name" [(ngModel)]="filterName" (ngModelChange)="filterUsers(filterName)">
                    </mat-form-field>
                </div>
            </div>
            <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEventHandler($event)">

            </mat-paginator>
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">User Name:</th>
                            <th scope="col">Current Admin Rights:</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of displayArray">
                            <td>{{user.displayName}}</td>
                            <td>
                                <div class="row" *ngFor="let acl of user.adminRights | keyvalue">
                                    <div class="col">
                                        {{acl.key}} : {{acl.value}}
                                    </div>
                                </div>
                            </td>
                            <td><a [routerLink]="[user._id]" class="btn btn-success">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
