<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <strong>Name:</strong>
                <app-team-link [team]="disTeam.teamName" [target]="'_blank'">{{disTeam.teamName}}</app-team-link>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <strong>Division:</strong> {{disTeam.divisionConcat}}
            </div>
        </div>
        <div class="row">
            <!-- REMOVING HOTS LOGS
               <div class="col-12">
                Average hotsLogs MMR: {{disTeam.teamMMRAvg}}
            </div> -->
            <div class="col-12">
                <strong>Average heroProfile MMR:</strong> {{disTeam.hpMmrAvg}}
            </div>
            <div class="col-12">
                <strong>Storm League Avg:</strong> {{disTeam.stormRankAvg}}
                <div>
                    <app-storm-league [ngsRankNumber]="disTeam.stormRankAvg"></app-storm-league>
                </div>

            </div>
        </div>
    </div>
</div>
