<div class="row">
    <div class="col-lg-12">
        <div class="panel-box padding-b">
            <div class="titles">
                <h4>External Sources:</h4>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row mt-2" *ngIf="hpProfileLink">
                        <div class="col">
                            <div>Check out this players profile at Heroes Profile
                            </div>
                            <a href="{{hpProfileLink}}" target="_blank">{{displayName}}</a>
                        </div>
                    </div>
                    <div class="row mt-2" *ngIf="toonHandle && displayName">
                        <div class="col">
                            <div>To see more in depth league stats check this players profile at Heroes Profile
                            </div>
                            <a href="{{hotsProfile.getNgsHpPlayerLink(toonHandle,displayName)}}" target="_blank">{{displayName}}</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row mt-2" *ngIf="hotsLogsPlayerID">
                        <div class="col">
                            <div>User Hots Log Profile:</div>
                            <a href="{{hotsLogsService.returnProfileLink(hotsLogsPlayerID)}}" target="_blank">HOTS
                                    LOGS
                                    Url</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- <div class="stats-info" *ngIf="!noStats">
            <ul>
                <li>
                    Appearances
                    <h3>{{statistics.stats.games}}</h3>
                </li>

                <li>
                    Takedowns
                    <h3>{{statistics.stats.stats.Takedowns}}</h3>
                </li>

                <li>
                    Wins
                    <h3>{{statistics.stats.wins}}</h3>
                </li>

                <li>
                    Losses
                    <h3>{{losses}}</h3>
                </li>
            </ul>
        </div> -->
    </div>
</div>

<!-- <div class="row" *ngIf="!noStats">
    <div class="col-lg-6 col-xl-4">
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><i class="fa fa-calendar"></i>Offense</h4>
            </div>
            <ul class="list-panel">
                <li>
                    <p>Average Hero Damage <span>{{statistics.stats.averages.HeroDamage}}</span></p>
                </li>
                <li>
                    <p>Average KDA <span>{{statistics.stats.averages.KDA}}</span></p>
                </li>
                <li>
                    <p>Total Kills <span>{{statistics.stats.stats.Takedowns}}</span></p>
                </li>
                <li>
                    <p>Total Assists <span>{{statistics.stats.stats.Assists}}</span></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6 col-xl-4">
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><i class="fa fa-calendar"></i>Siege</h4>
            </div>
            <ul class="list-panel">
                <li>
                    <p>Average Siege <span>{{statistics.stats.averages.SiegeDamage}}</span></p>
                </li>
                <li>
                    <p>Average Minion Damage<span>{{statistics.stats.averages.MinionDamage}}</span></p>
                </li>
                <li>
                    <p>Average XPM<span>{{statistics.stats.averages.XPM}}</span></p>
                </li>
                <li>
                    <p>Average MCPG<span>{{statistics.stats.averages.MercCampCaptures}}</span></p>
                    <p>Mercenary Captures Per Game</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6 col-xl-4">
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><i class="fa fa-calendar"></i>Support</h4>
            </div>
            <ul class="list-panel">
                <li>
                    <p>Average Damage Soak <span>{{statistics.stats.averages.DamageSoaked}}</span></p>
                </li>
                <li>
                    <p>Average Healing <span>{{statistics.stats.averages.Healing}}</span></p>
                </li>
                <li>
                    <p>Median Time Spent Dead <span>{{statistics.stats.median.TimeSpentDead}}</span></p>
                </li>
                <li>
                    <p>Time CC Enemy Heroes <span>{{statistics.stats.median.TimeCCdEnemyHeroes}}</span></p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row" *ngIf="noStats">
    <div class="col text-center">
        <h4>We didn't find any stats for this user!</h4>
    </div>
</div> -->