<div class="hero-header">
    <div id="hero-slider" #heroSlider class="hero-slider slider-position">
        <div class="item-slider background-adj" [ngStyle]="{'background':'url('+currentSlide.thumbnailUrl+')'}">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="info-slider">
                            <h1>{{currentSlide.title}}</h1>
                            <p [innerHTML]="currentSlide.excerpt">
                            </p>
                            <a (click)="goToBlogPage(currentSlide)" class="finger btn-cst btn-iw outline"><span
                                class="buttonText">Read More <i class="fas fa-long-arrow-alt-right"></i></span></a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" (click)="prev()" role="button">
                    <div class="badge-pill carouselBackground" style="padding-top:5px;">
                        <span class="carousel-control-prev-icon" style="opacity: 1;" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </div>

                </a>
                <a class="carousel-control-next" (click)="next()" role="button">
                    <div class="badge-pill carouselBackground" style="padding-top:5px;">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </div>

                </a>
            </div>
        </div>
    </div>
</div>