<app-banner-image [bannerTitle]="'Caster Dashboard'">
</app-banner-image>

<section class="content-info">

    <!-- Single Team Tabs -->
    <div class="single-team-tabs">
        <div class="container">
            <div class="row">
                <!-- Left Content - Tabs and Carousel -->
                <div class="col-xl-12 col-md-12">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="finger" [ngClass]="{'active': index==0}"><a (click)="setTab(0)">Live Casts</a></li>
                        <li class="finger" [ngClass]="{'active': index==1}"><a (click)="setTab(1)">Replay Casts</a></li>
                    </ul>
                    <!-- End Nav Tabs -->
                </div>

                <div class="col pb-5">
                    <!-- Content Tabs -->
                    <div class="tab-content">
                        <!-- Tab One - overview -->
                        <div class="tab-pane" [ngClass]="{'active': index==0}" *ngIf="index==0">
                            <app-live-casts></app-live-casts>
                        </div>
                        <!-- Tab One - overview -->

                        <!-- Tab Two - squad -->
                        <div class="tab-pane" [ngClass]="{'active': index==1}" *ngIf="index==1">
                            <app-replay-casts></app-replay-casts>
                        </div>
                        <!-- End Tab Two - squad -->
                    </div>
                    <!-- Content Tabs -->
                </div>
            </div>
        </div>
    </div>
    <!-- Single Team Tabs -->

</section>
<!-- End Section Area -  Content Central -->