<div class="table-responsive">
    <table class=" table-striped table-hover">
        <thead>
            <tr>
                <th *ngIf="showRound">R #</th>
                <th>Home</th>
                <th class="text-center">VS</th>
                <th>Away</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let match of matchesVal">
                <td *ngIf="showRound">
                    <span *ngIf="hasDeadline(match) || match.type == 'tournament' else free">{{match.round}}</span>
                    <ng-template #free>FLEX</ng-template>
                </td>
                <td>
                    <img src="{{teamServ.imageFQDN(match.home.logo)}}" alt="icon">
                    <strong>
                  <app-team-link [team]="match.home.teamName" [season]="seasonVal">
                    {{match.home.teamName}}
                  </app-team-link>

          </strong><br>
                    <!-- <small class="meta-text">GROUP H.</small> -->
                </td>
                <td class="text-center">Vs</td>
                <td>
                    <img src="{{teamServ.imageFQDN(match.away.logo)}}" alt="icon1">
                    <strong>
            <app-team-link [team]="match.away.teamName" [season]="seasonVal">
              {{match.away.teamName}}
            </app-team-link>

          </strong><br>

                </td>
                <td>
                    <ng-container *ngIf="showCaster && auth.isCaster()">
                        <strong>Match ID:</strong><span> {{match.matchId}}</span><br>
                        <strong>Division:</strong><span> {{match.divisionConcat}}</span><br>
                        <span *ngIf="!match.vodLinks || match.vodLinks.length==0">
                          <a class="btn btn-primary" [href]="match.reportLink" target="_blank">
                             Report Form
                          </a>
                          <br>
                        </span>
                    </ng-container>

                    <span *ngIf="!match.reported else resultsButton">
                      <span *ngIf="match.scheduledTime && match.scheduledTime.startTime else tbd"><strong>Scheduled Time: </strong>{{util.getFormattedDate(match.scheduledTime.startTime, "MMM DD hh:mm A zz")}}<br></span>
                    <span><a [routerLink]="['/matchupHistory', {teamAid:match.home.id, teamBid:match.away.id}]">Match Up History</a> <br></span>
                    <span *ngIf="match.casterName else casterButton"><small class="meta-text">Caster: {{match.casterName}}, <a href="{{util.prePendHttp(match.casterUrl)}}" target="_blank">{{match.casterUrl}}</a></small></span>
                    </span>
                </td>
                <!-- ng-templates -->
                <ng-template #tbd>
                    <div class="" *ngIf="userCanSchedule(match) else userView">
                        <span *ngIf="match.scheduleDeadline">Schedule by:
              {{util.getFormattedDate(match.scheduleDeadline-604800000, "dddd M/D/YYYY")}}<br></span>
                        <span *ngIf="match.friendlyDeadline">Play by: {{match.friendlyDeadline}}<br></span>
                        <span>Schedule this match<br></span>
                        <span><button [disabled]="checkDate(match)" class="btn btn-sm btn-primary"
                (click)="scheduleMatch(match.matchId)">Schedule this!</button></span>
                        <span *ngIf="checkDate(match)"><br> <small class="text-danger">Schedule deadline was missed please contact
                admin!</small> </span>

                    </div>

                    <ng-template #userView>
                        <span>Not yet scheduled</span><br>
                    </ng-template>
                </ng-template>
                <ng-template #casterButton>
                    <div *ngIf="auth.isCaster() && !userCanSchedule(match)">
                        <button class="btn btn-success" (click)="claimMatch(match.matchId)">Caster One Click Claim</button>
                    </div>
                </ng-template>
                <ng-template #resultsButton>
                    <a *ngIf="match.matchId" [routerLink]="['/match/view/', match.matchId]" class="btn btn-primary">View Match Info</a>
                </ng-template>
                <!-- end template -->
            </tr>
        </tbody>
    </table>
</div>