<!-- Section Title -->
<app-banner-image [bannerTitle]="'Find Free Agents'"></app-banner-image>

<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="container paddings-mini">
        <!-- Content Text-->
        <div class="panel-box padding-b">

            <div class="row" *ngIf="!showSearch">
                <div class="col mt-3 text-center">
                    <span class="p-2 finger showlink badge badge-light badge-pill border border-dark" (click)="showSearch = !showSearch">Show search criteria</span>
                </div>
            </div>
            <div *ngIf="showSearch">
                <div class="row">
                    <div class="col">
                        <div class="row mt-3">
                            <div class="col text-center">
                                <span class="font-weight-bold">Search by In-Game Ranking:</span> <span class="ml-5 finger badge badge-pill pill-shadow badge-light" (click)=" searchParameters.divisions = []; selectedDivision=null;">Reset</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <mat-form-field class="mat-threeQuarter">
                                  <mat-label>Division</mat-label>
                                    <mat-select placeholder="Division:" [(ngModel)]="selectedDivision" (ngModelChange)="selected(selectedDivision)" disableOptionCentering>
                                        <mat-option *ngFor="let division of filterSelected()" [value]="division">{{division}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col text-center">
                                <div style="border-bottom-style: solid; border-bottom-width: 1px;">Selected Divisions:</div>
                                <div *ngFor="let div of searchParameters.divisions; let ind=index" [ngClass]="{oddRow : ind%2!=0}">
                                    {{div}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col text-center">
                        <div><span class="font-weight-bold">Search by Player Average MMR</span> <span class="ml-5 finger badge badge-pill pill-shadow badge-light" (click)="resetMMRS()">Reset</span></div>
                        <div class="row">
                            <div class="col text-center">
                                <mat-form-field>
                                  <mat-label>Lower MMR</mat-label>
                                    <input matInput type="number" placeholder="Lower MMR" [(ngModel)]="searchParameters.lowerMMR">
                                </mat-form-field>
                            </div>
                            <div class="col text-center">
                                <mat-form-field>
                                  <mat-label>Upper MMR</mat-label>
                                    <input matInput type="number" placeholder="Upper MMR" [(ngModel)]="searchParameters.upperMMR">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col text-center">
                        <div><span class="font-weight-bold">Player Competitive Level </span><span class="ml-5 finger badge badge-pill pill-shadow badge-light" (click)=" searchParameters.competitiveLevel = null">Reset</span>
                        </div>
                        <mat-form-field class="mat-threeQuarter">
                          <mat-label>Player Competitive Level</mat-label>
                            <mat-select placeholder="Player Competitive Level" [(ngModel)]="searchParameters.competitiveLevel">
                                <mat-option *ngFor="let level of competitonLevel" [value]="level.val">
                                    {{level.display}}
                                </mat-option>
                            </mat-select>
                            <mat-hint align="start"><strong>Generally how serious / competitively you're looking to play</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col text-center">
                        <div class=""><span class="font-weight-bold">Players who play these roles:</span> <span class="ml-5 finger badge badge-pill pill-shadow badge-light" (click)="resetRoles()">Reset</span></div>
                        <section class="mt-2">
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.tank">Tank</mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.offlane">Offlane
                            </mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.meleeassassin">Melee Assassin
                            </mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.rangedassassin">Ranged Assassin
                            </mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.support">Support
                            </mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.flex">Flex</mat-checkbox>
                        </section>
                    </div>
                </div>

                <div class="row mt-3" *ngIf="teamInfo">
                    <div class="col text-center">
                        <div class="mb-1"><span class="font-weight-bold">Times Available:</span> <span class="finger badge badge-pill pill-shadow badge-light" (click)="searchParameters.customTime=null">Reset</span></div>
                        <mat-radio-group class="ml-3" [(ngModel)]='searchParameters.customTime'>
                            <mat-radio-button class="example-margin" value="profile">Use my profile times</mat-radio-button>
                        </mat-radio-group>
                        <mat-radio-group class="ml-3" [(ngModel)]='searchParameters.customTime'>
                            <mat-radio-button class="example-margin" value="custom">Create custom time:</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>

                <div class="row mt-4" *ngIf="searchParameters.customTime  == 'custom'">
                    <div class="col text-center">
                        <app-times-available [availObj]="searchParameters.customAvail"></app-times-available>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-center">
                        <div class="mb-1"><span class="font-weight-bold">Timezone:</span> <span class="finger badge badge-pill pill-shadow badge-light" (click)="searchParameters.timezone=null">Reset</span></div>
                        <mat-radio-group class="ml-3" [(ngModel)]='searchParameters.timezone'>
                            <mat-radio-button class="example-margin" value="custom">Use Custom Timezone</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row mt-2" *ngIf="searchParameters.timezone == 'custom'">
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                          <mat-label>Timezone:</mat-label>
                            <mat-select placeholder="Timezone:" [(ngModel)]="searchParameters.customtimeZone">
                                <mat-option *ngFor="let zone of timezone.timezones" [value]="zone.value">
                                    {{zone.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col text-center">
                        <button class="btn btn-info" (click)="search()"> Search </button>
                    </div>
                    <div class="col text-center">
                        <button class="btn btn-light border border-dark" (click)="clear()"> Clear </button>
                    </div>
                </div>
            </div>

            <div *ngIf="rosterFull()" class="row mt-3">
                <div class="col text-center">
                    <span class="text-warning">
                      <h4>Your roster is full, you have to many members/pending members to invite more players.</h4>
                    </span>
                </div>
            </div>

            <div class="row" *ngIf="hasSearched && localResults.length==0">
                <div class="col text-center">
                    <h3>We did not find any players that matched your criteria.</h3>
                </div>
            </div>
            <!-- results go here -->
            <div class="row" *ngIf="displayArray.length>0">
                <div class="col">
                    <div class="row mt-4">
                        <div class="col text-center">
                            <h4 *ngIf="!showSearch">Showing All Players Looking For Group:</h4>
                            <h4 *ngIf="showSearch && localResults.length>0;">Showing Players That Meet Your Criteria</h4>
                        </div>
                    </div>
                    <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEventHandler($event)">

                    </mat-paginator>
                    <div class="row mt-2 p-3 rowBorder" *ngFor="let player of displayArray; let ind = index" [ngClass]="{oddRow : ind%2!=0}">
                        <!-- <div class="col">
                            <div class="row">
                                <div class="col">
                                    <img class="img-fluid" src="{{_team.imageFQDN(team.logo)}}">
                                </div>
                            </div>
                        </div> -->
                        <div class="col">
                            <app-user-deck [recPlayer]="player" [recTeamInfo]="teamInfo"></app-user-deck>
                        </div>
                    </div>
                </div>
            </div>
            <!-- if there are no results -->
            <div class="row mt-4" *ngIf="displayArray.length == 0">
                <div class="col text-center">
                    <h3>No Free Agents Currently!</h3>
                </div>
            </div>
            <div class="info-panel">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                </div>
            </div>

        </div>
        <!-- End Content Text-->

    </div>
</section>
<!-- End Section Area -  Content Central -->
