<!-- Footer -->
<div class="p-3 bg-dark m-auto">
    <div class="container footer">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        Quick Links
                        <ul>
                            <li><a class="footLink" [routerLink]="['/blog','3BLsIya6ZiWQWka4IeUw2']">Rules</a></li>
                            <li><a class="footLink" [routerLink]="['/blog']">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                Copyright NGS
            </div>
            <div class="col">
                <div class="row mt-2">
                    <div class="col">
                        <a href="https://discordapp.com/invite/mQMfTga" target="_blank"> <img class="img-fluid" src="/assets/Discord.png" alt="Discord"></a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <a href="https://www.youtube.com/channel/UCnfohSTrlMyqiCwI5-3jXmw" target="_blank"><img class="img-fluid" src="/assets/YouTube.png" alt="YouTube"></a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <a href="https://twitter.com/nexus_series?lang=en" target="_blank"> <img class="img-fluid" src="/assets/Twitter.png" alt="Twitter"></a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <a href="https://www.patreon.com/heroesnexusgamingseries" target="_blank"><img class="img-fluid" src="/assets/Patreon.png" alt="Patreon"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>