<!-- Footer -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div class="p-3 bg-dark m-auto">
    <div class="container footer">
        <div class="row">
            <div class="col text-center">
                Quick Links
                <ul>
                    <li><a class="footLink" [routerLink]="['/rules']">Rules</a></li>
                    <li><a class="footLink" [routerLink]="['/blog']">Blog</a></li>
                </ul>
            </div>
            <div class="col text-center">

            </div>
            <div class="col text-center">
                Social Media:
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://discordapp.com/invite/mQMfTga" target="_blank"> <i class="fab fa-3x footIco footLink fa-discord "></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/nexus_series?lang=en" target="_blank"> <i class="fab fa-3x footIco footLink  fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UCnfohSTrlMyqiCwI5-3jXmw" target="_blank"><i class="fab footIco fa-3x footLink  fa-youtube"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.patreon.com/heroesnexusgamingseries" target="_blank"><i class="fab footIco fa-3x footLink  fa-patreon"></i></a>
                    </li>
                </ul>
                <!-- <div class="row mt-2">
                    <div class="col">
                        <a href="https://discordapp.com/invite/mQMfTga" target="_blank"> <img class="img-fluid" src="/assets/Discord.png" alt="Discord"></a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <a href="https://www.youtube.com/channel/UCnfohSTrlMyqiCwI5-3jXmw" target="_blank"><img class="img-fluid" src="/assets/YouTube.png" alt="YouTube"></a>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                 <a href="https://twitter.com/nexus_series?lang=en" target="_blank"> <img class="img-fluid" src="/assets/Twitter.png" alt="Twitter"></a> -->


            </div>
        </div>

        <!-- <div class="row mt-2">
            <div class="col">
                <a href="https://www.patreon.com/heroesnexusgamingseries" target="_blank"><img class="img-fluid" src="/assets/Patreon.png" alt="Patreon"></a>
            </div>
        </div> -->
    </div>
</div>