<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="container">
        <div class="row">
            <div class="col">
                <app-loading [showLoading]="loading"></app-loading>
            </div>
        </div>
        <!-- Content Text-->
        <app-match-paginator [matches]="filterMatches"></app-match-paginator>
        <!-- End Content Text-->

    </div>

</section>
<!-- End Section Area -  Content Central -->
<ng-template #tbd>
    <span> TBD </span>
</ng-template>
