<div class="row">
    <div class="col">
        Avatar Image
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <img class="img-fluid" [src]="imageToDisplay" alt="" />
            </div>
        </div>
        <div class="row" [hidden]="!_showEdit">
            <div class="col">
                <span class="finger"><i (click)="editClicked=!editClicked" class="material-icons">launch</i></span>
            </div>
        </div>
        <div class="row" [hidden]="editClicked">
            <div class="col">
                <div class="row">
                    <div class="col" [hidden]="!_showEdit">
                        Upload New Avatar:
                    </div>
                </div>
                <div class="row">
                    <div class="col" [hidden]="!_showEdit">
                        <div>
                            <!-- <ngx-croppie *ngIf="croppieImage" #ngxCroppie [croppieOptions]="croppieOptions" [imageUrl]="croppieImage" [points]="[0,0,100,100]" (result)="newImageResultFromCroppie($event)"></ngx-croppie> -->
                        </div>
                        <div>
                            <input type="file" id="fileupload" #imageUpload (change)="imageUploadEvent($event)" accept="image/gif, image/jpeg, image/png" />
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelCroppieEdit()">Cancel</button>
                            <button type="button" class="btn btn-primary" (click)="saveImageFromCroppie()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
