<div class="container fullHeight">
    <div class="row">
        <div class="col">
            <a [routerLink]="['/_admin/dashboard']">Back to Dashboard</a>
        </div>
    </div>
    <div class="row fullHeight">
        <div class="col">
            <mat-tab-group class="fullHeight">
                <mat-tab label="Add Teams To Division">
                    <ng-template matTabContent>
                        <app-add-team></app-add-team>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Division Management">
                    <ng-template matTabContent>
                        <app-division-props></app-division-props>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Remove Teams From Division">
                    <ng-template matTabContent>
                        <app-remove-team></app-remove-team>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>