.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.mat-card {
    background-color: #F26A2F;
    color: white;
}

.m-t {
    margin-top: 10px;
}

.mat-card-image {
    background-color: white;
}

.anchor {
    color: #482262;
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}

.carousel-caption>h3,
.carousel-caption>p {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.blog-card {
    max-width: 300px;
    height: 100%
}

.carouselBackground {
    background: rgba(99, 0, 189, 0.6);
}

.carousel-control-prev {
    opacity: 1;
}

.carousel-control-next {
    opacity: 1;
}

iframe {
    width: 100%;
    height: 200px;
}
