<!-- <div class="container nav-padding"> -->


<!-- Page Content -->
<div class="backGround">
    <div class="container pb-4">
        <header>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div (click)="goToBlogPage(jumboSlide)" *ngFor="let jumboSlide of jumboTron let i = index" class="carousel-item finger" [ngClass]="{'active':i==0}" [style.background-image]="'url('+jumboSlide.fields.heroImage.fields.file.url+'?w=1080&h=475&fit=pad)'">
                        <div class="carousel-caption d-none d-md-block badge-pill carouselBackground">

                            <h3>{{jumboSlide.fields.title}}</h3>
                            <p [innerHTML]="md.convertMarkdown(jumboSlide.fields.description)"></p>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <div class="badge-pill carouselBackground" style="padding-top:5px;">
                            <span class="carousel-control-prev-icon" style="opacity: 1;" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </div>

                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <div class="badge-pill carouselBackground" style="padding-top:5px;">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </div>

                    </a>
                </div>
            </div>
        </header>

        <h1 class="my-4 text-center">Welcome to Nexus Gaming Series!</h1>

        <h2>Recent news</h2>
        <div class="row m-t" *ngFor="let row of rows">
            <div class="col-xs-12 col-md-4 mt-1" *ngFor="let item of row">
                <mat-card (click)="goToBlogPage(item)" class="blog-card finger">
                    <mat-card-header>
                        <img mat-card-avatar src="{{item.fields.author.fields.image.fields.file.url}}" class="author-image">
                        <mat-card-title><span class="anchor" (click)="goToBlogPage(item)">{{item.fields.title}}</span></mat-card-title>
                        <mat-card-subtitle>{{item.fields.author.fields.name}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{item.fields.heroImage.fields.file.url}}?w=400&h=225&fit=pad" alt="{{item.fields.heroImage.fields.description}}">
                    <mat-card-content>
                        <div [innerHTML]="md.convertMarkdown(item.fields.description)"></div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
</div>