<div class="row">
    <div class="col-md-4 text-center">
        <div class="img-hover">
            <!-- <img *ngIf="blog.postThumbnail" src="{{imageUrl}}" alt="" class="img-responsive image-height"> -->
            <app-image-getter class="img-responsive image-height" [imgId]="blog.postThumbnail"></app-image-getter>
            <div class="overlay">
                <a class="finger" (click)="blogCommon.goToBlogPage(blog)">+</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h5><a class="finger" (click)="blogCommon.goToBlogPage(blog)">{{blog.title}}</a></h5>
        <span class="data-info">{{date}} /
          <span *ngIf="blog | commonPipe:util.returnBoolByPath:'author'"> 
              <app-author-name [authorId]="blog.author"></app-author-name>
           </span> </span>
        <span>
          <p *ngIf="blog | commonPipe:util.returnBoolByPath:'excerpt'" [innerHTML]="blog.excerpt"></p>
          <span class="finger post-item linkColor" (click)="blogCommon.goToBlogPage(blog)">Read More [+]</span>
        </span>
    </div>
</div>