<!--The content below is only a placeholder and can be replaced.-->
<div id="container">
    <div id="header">
        <app-nav></app-nav>
    </div>
    <div class="container bg-white pb-5">
        <div class="row">
            <div class="col">
                <div id="content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfooter"></div>
    <div id="footer">
        <app-footer></app-footer>
    </div>
</div>

<!-- <app-home></app-home> -->
<!-- <section>

</section>
<app-footer></app-footer> -->