/* section {
    padding-top: 56px;
    height: 100%;
}

:host {
    box-sizing: border-box;
    display: block;
    height: 100%;
} */

.clearfooter {
    height: 1px;
    clear: both;
}

#footer {
    position: relative;
}

#content {
    padding-top: 56px;
    height: 100%;
}

#container {
    min-height: 100%;
    margin-bottom: -115px;
    position: relative;
}
.bg-white{
  box-shadow: 0px 0px 300px 150px rgb(69, 57, 82);
}