<div id="myDiv" class="container h-100">
    <script>
        console.log('asdfasdfa')
    </script>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Division {{divDisplay}} <span *ngIf="coastDisplay">- {{coastDisplay}}</span> </h2>
                </div>
            </div>
            <app-team-display [teams]="teams"></app-team-display>
        </div>
    </div>
</div>