<!-- Section Title -->
<app-banner-image [bannerTitle]="'Find Free Agents'"></app-banner-image>

<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="container paddings-mini">
        <!-- Content Text-->
        <div class="panel-box padding-b">
            <div class="row" *ngIf="!showSearch">
                <div class="col text-center mt-3">
                    <span class="p-2 finger showlink badge badge-light badge-pill border border-dark" (click)="showSearch = !showSearch">Show
             search criteria</span>
                </div>
            </div>
            <div *ngIf="showSearch">
                <div class="row">
                    <div class="col text-center">
                        <div>Search by division: <span class="ml-5 finger badge badge-pill pill-shadow badge-light" (click)=" searchParameters.divisions = []; selectedDivision=null;">Reset</span></div>
                        <mat-form-field>
                          <mat-label>Division:</mat-label>
                            <mat-select placeholder="Division:" [(ngModel)]="selectedDivision" (ngModelChange)="selected(selectedDivision)" disableOptionCentering>
                                <mat-option *ngFor="let division of filterSelected()" [value]="division">{{division.displayName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <div style="border-bottom-style: solid; border-bottom-width: 1px;">Selected Divisions</div>
                        <div *ngFor="let div of searchParameters.divisions; let ind = index;" [ngClass]="{oddRow : ind%2!=0}">
                            {{div.key}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <div>Search by Team Average MMR <span class="ml-5 finger badge badge-pill pill-shadow badge-light" (click)="resetMMRS()">Reset</span></div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field>
                                  <mat-label>Lower MMR</mat-label>
                                    <input matInput type="number" placeholder="Lower MMR" [(ngModel)]="searchParameters.lowerMMR">
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field>
                                  <mat-label>Upper MMR</mat-label>
                                    <input matInput type="number" placeholder="Upper MMR" [(ngModel)]="searchParameters.upperMMR">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <div>Team Competitive Level <span class="ml-5 finger badge badge-pill pill-shadow badge-light" (click)=" searchParameters.competitiveLevel = null">Reset</span>
                        </div>
                        <mat-form-field class="mat-threeQuarter">
                          <mat-label>Team Competitive Level</mat-label>
                            <mat-select placeholder="Team Competitive Level" [(ngModel)]="searchParameters.competitiveLevel">
                                <mat-option *ngFor="let level of competitonLevel" [value]="level.val">
                                    {{level.display}}
                                </mat-option>
                            </mat-select>
                            <mat-hint align="start"><strong>Generally how serious / competitively you're looking to play</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col text-center">
                        <div>Team looking for these roles: <span class="ml-5 finger badge badge-pill pill-shadow badge-light" (click)="resetRoles()">Reset</span></div>
                        <section class="mt-2">
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.tank">Tank</mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.offlane">Offlane
                            </mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.meleeassassin">Melee Assassin
                            </mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.rangedassassin">Ranged Assassin
                            </mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.support">Support
                            </mat-checkbox>
                            <mat-checkbox class="role-margin" [(ngModel)]="searchParameters.rolesNeeded.flex">Flex</mat-checkbox>
                        </section>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col text-center">
                        <div class="mb-2">Times Available: <span class="ml-5  finger badge badge-pill pill-shadow badge-light" (click)="searchParameters.customTime=null">Reset</span></div>
                        <mat-radio-group class="ml-3" [(ngModel)]='searchParameters.customTime'>
                            <mat-radio-button class="example-margin" value="profile">Use my profile times</mat-radio-button>
                        </mat-radio-group>
                        <mat-radio-group class="ml-3" [(ngModel)]='searchParameters.customTime'>
                            <mat-radio-button class="example-margin" value="custom">Create custom time:</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="row" *ngIf="searchParameters.customTime  == 'custom'">
                    <div class="col">
                        <app-times-available [availObj]="searchParameters.customAvail"></app-times-available>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-center">
                        <div class="mb-2">Timezone: <span class="ml-5 finger badge badge-pill pill-shadow badge-light" (click)="searchParameters.timezone=null">Reset</span></div>
                        <!-- <mat-radio-group class="ml-3" [(ngModel)]='searchParameters.timezone'>
                        <mat-radio-button class="example-margin" value="profile">Use Profile Timezone</mat-radio-button>
                    </mat-radio-group> -->
                        <mat-radio-group class="ml-3" [(ngModel)]='searchParameters.timezone'>
                            <mat-radio-button class="example-margin" value="custom">Use Custom Timezone</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row" *ngIf="searchParameters.timezone == 'custom'">
                    <div class="col text-center">
                        <mat-form-field class="mat-threeQuarter">
                          <mat-label>Timezone:</mat-label>
                            <mat-select placeholder="Timezone:" [(ngModel)]="searchParameters.customtimeZone">
                                <mat-option *ngFor="let zone of timezone.timezones" [value]="zone.value">
                                    {{zone.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col text-center">
                        <button class="btn btn-info" (click)="search()"> Search </button>
                    </div>
                    <div class="col text-center">
                        <button class="btn btn-light" (click)="clear()"> Clear </button>
                    </div>
                </div>
            </div>



            <div class="row mt-3" *ngIf="hasSearched && localResults.length==0">
                <div class="col text-center">
                    <h3>We did not find any teams that matched your criteria.</h3>
                </div>
            </div>
            <!-- results go here -->
            <div class="row" *ngIf="displayArray.length>0">
                <div class="col">
                    <div class="row mt-4">
                        <div class="col text-center">
                            <h4 *ngIf="!showSearch">Showing All Teams Looking For More:</h4>
                            <h4 *ngIf="showSearch && localResults.length>0;">Showing Teams That Meet Your Criteria</h4>
                        </div>
                    </div>
                    <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEventHandler($event)">

                    </mat-paginator>
                    <div class="row mt-2 p-3 rowBorder" *ngFor="let team of displayArray; let ind = index" [ngClass]="{oddRow : ind%2!=0}">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <img class="img-fluid" src="{{_team.imageFQDN(team.logo)}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col">
                                    <span class="titles">Team Name:</span> {{team.teamName}}
                                </div>
                                <div class="col">
                                    <span class="titles">Division: </span> <i *ngIf="!team.divisionDisplayName">(not assigned)</i>
                                    <span *ngIf="team.divisionDisplayName">{{team.divisionDisplayName}}</span>
                                </div>
                                <div class="col">
                                    <span class="titles">Captain:</span> {{team.captain}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="titles">Members:</span> {{team.teamMembers.length}}
                                </div>
                                <div class="col">
                                    <span class="titles">MMR:</span> {{team.teamMMRAvg}}
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <app-team-link [team]="team.teamName">View Team Profile</app-team-link>
                                </div>
                                <div class="col text-center" *ngIf="showRequestToJoin() ">
                                    <button class="btn btn-success" (click)="requestToJoin(team)">Request to Join Team</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Text-->
    </div>
</section>
<!-- End Section Area -  Content Central -->
