<app-banner-image [bannerTitle]="'NGS Blog'" [bannerCrumbLink]="'/blog'" [bannerCrumbRoot]="'Blog Home'" [bannerCrumbBranch]="'Post'"></app-banner-image>
<section class="content-info">

    <div class="container paddings-mini">
        <div class="row">

            <div class="col-lg-9 mx-auto">
                <!-- Content Text-->
                <div class="panel-box pb-3">
                    <div class="titles no-margin">
                        <h4>{{authorInf.fields.name}}</h4>
                    </div>
                    <div class="text-center pt-4"><img style="max-width: 250px;" src="{{authorInf.fields.image.fields.file.url}}" alt=""></div>
                    <div class="row">
                        <div class="info-panel col text-center" *ngIf="authorInf.fields.shortBio">
                            <p [innerHTML]="md.convertMarkdown(authorInf.fields.shortBio)"></p>
                        </div>
                    </div>
                </div>
                <!-- End Content Text-->

            </div>
        </div>
        <div class="row">

            <div class="col-lg-9 mx-auto">
                <!-- Content Text-->
                <div class="panel-box">
                    <div class="titles">
                        <h4>Articles</h4>
                    </div>
                    <div *ngIf="posts.length == 0" class="post-item">
                        <h5>No Posts Currently.</h5>
                    </div>
                    <div class="post-item" *ngFor="let post of posts">
                        <app-blog-headline [blogObj]="post"></app-blog-headline>
                    </div>
                </div>
                <!-- End Content Text-->

            </div>
        </div>
    </div>


</section>
