<div class="container forceFull">
    <div class="row">

        <div class="col mx-auto">
            <div class="card mt-5 mx-auto" style="max-width: 650px">
                <div class="card-header">
                    Welcome to the Nexus Gaming Series!
                    <!--NGS!-->
                </div>
                <div class="card-body">
                    <h5 class="card-title">You've been invited to join an elite group of players to test your mettle in the Nexus!</h5>
                    <div class="text-center"><a href="/api/auth/bnet" class="btn btn-primary bNet">Login with Battle.Net!</a></div>
                    <div class="text-center mt-1"><img class="text-center" src="assets/Blizz_Corp_RGB_LightBkgd.png" width="145"></div>
                    <p class="disclaimer">
                        We do not capture any private data (ie: email); however we do create a profile including your battle.net account and collect information regarding your play schedule and MMR etc.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
