<!-- this block is only visible on large screens -->
<div class="d-none d-sm-none d-md-block">
    <div class="row mt-3">
        <div class="col">
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" src="{{team.imageFQDN(match.home.logo)}}" width="150" alt="Team Logo">
                        </div>
                        <div class="col vertical-middle">
                            <div *ngIf="match.home.teamName">
                                <a [routerLink]="['/teamProfile/',team.routeFriendlyTeamName(match.home.teamName)]">{{match.home.teamName}}</a>
                            </div>

                        </div>
                        <div class="col vertical-middle">
                            <span> {{match.home.wins}} - {{match.home.losses}} </span>
                        </div>
                    </div>

                </div>
                <div class="col-2 vertical-middle text-center">
                    - VS -
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col vertical-middle">
                            <span> {{match.away.wins}} - {{match.away.losses}} </span>
                        </div>
                        <div class="col vertical-middle">
                            <div *ngIf="match.away.teamName; else bye">
                                <a [routerLink]="['/teamProfile/',team.routeFriendlyTeamName(match.away.teamName)]">{{match.away.teamName}}</a>
                            </div>
                        </div>
                        <div class="col">
                            <img class="img-fluid" src="{{team.imageFQDN(match.away.logo)}}" width="150" alt="Team Logo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                </div>
                <div class="col-7 text-center">
                    Scheduled Time: <span *ngIf="match.scheduledTime && match.scheduledTime.startTime != null else tbd">{{match.friendlyDate}}
  - {{match.friendlyTime}}
            {{match.suffix}}</span>
                    <ng-template #tbd><span> TBD </span></ng-template>
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row" *ngIf="match.casterName && match.casterUrl">
                <div class="col"></div>
                <div class="col-7 text-center">
                    <span> Casted by:</span> {{match.casterName}} : <a href="{{util.prePendHttp(match.casterUrl)}}" target="_blank">{{match.casterUrl}}</a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>
<!-- End large screen block -->

<!-- this block is only visible on small screens -->
<div class="d-block d-sm-none">
    <div class="row mt-4 p-3">
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <img class="img-fluid" src="{{team.imageFQDN(match.home.logo)}}" alt="Team Logo">
                </div>
                <div class="col text-center">
                    <a [routerLink]="['/teamProfile/',team.routeFriendlyTeamName(match.home.teamName)]">{{match.home.teamName}}</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <span> {{match.home.wins}} - {{match.home.losses}} </span>
                </div>
            </div>
            <div class="row p-1">
                <div class="col text-center">
                    VS
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <img class="img-fluid" src="{{team.imageFQDN(match.away.logo)}}" alt="Team Logo">
                </div>
                <div class="col text-center">
                    <a [routerLink]="['/teamProfile/',team.routeFriendlyTeamName(match.away.teamName)]">{{match.away.teamName}}</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <span> {{match.away.wins}} - {{match.away.losses}} </span>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    Scheduled Time: <span *ngIf="match.scheduledTime && match.scheduledTime.startTime != null  else tbd">{{match.friendlyDate}} - {{match.friendlyTime}} {{match.suffix}}</span>
                    <ng-template #tbd><span> TBD </span></ng-template>
                </div>
            </div>
            <div class="row" *ngIf="match.casterName">
                <div class="col text-center">
                    <span> Casted by:</span> {{match.casterName}} : <a href="{{util.prePendHttp(match.casterUrl)}}" target="_blank">{{match.casterUrl}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #bye>
    BYE
</ng-template>