<!--Items Club video -->
<div class="row no-line-height">
    <div class="col-md-12">
        <h3 class="clear-title">Recent Content</h3>
    </div>

    <!--Item Club News -->
    <div class="col-lg-6 col-xl-4">
        <!-- Widget Text-->
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><a href="#">Eliminatory to the world.</a></h4>
            </div>
            <iframe class="video" src="https://www.youtube.com/embed/Ln8rXkeeyP0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <!-- End Widget Text-->
    </div>
    <!--End Item Club News -->

    <!--Item Club News -->
    <div class="col-lg-6 col-xl-4">
        <!-- Widget Text-->
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><a href="#">Colombia classification</a></h4>
            </div>
            <iframe class="video" src="https://www.youtube.com/embed/Z5cackyUfgk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <!-- End Widget Text-->
    </div>
    <!--End Item Club News -->

    <!--Item Club News -->
    <div class="col-lg-6 col-xl-4">
        <!-- Widget Text-->
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><a href="#">World Cup goal</a></h4>
            </div>
            <iframe class="video" src="https://www.youtube.com/embed/hW3hnUoUS0k" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <!-- End Widget Text-->
    </div>
    <!--End Item Club News -->
</div>
<!--End Items Club video -->
