<!--Items Club video -->
<div class="row no-line-height">
    <div class="col-md-12">
        <h3 class="clear-title">Recent Content</h3>
    </div>

    <!--Item Club News -->
    <div class="col-lg-6 col-xl-4">
        <!-- Widget Text-->
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><a href="https://www.youtube.com/watch?list=PLCylT7hBfO1QeuiQil-GTE51yLadORZQ8&v=sfvf2oUNZg0&feature=emb_title" target="_blank">Game of the Week</a></h4>
            </div>
            <!-- https://www.youtube.com/embed?max-results=1&controls=0&showinfo=0&rel=0&listType=user_uploads&list=YOUR_CHANNEL_NAME_HERE -->
            <!-- <iframe class="video" [src]="showdownItem.url | safe" frameborder="0" allow="encrypted-media" allowfullscreen></iframe> -->
            <iframe src="https://www.youtube.com/embed/+lastest?list=PLCylT7hBfO1QeuiQil-GTE51yLadORZQ8" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- End Widget Text-->
    </div>
    <!--End Item Club News -->

    <!--Item Club News -->
    <div class="col-lg-6 col-xl-4">
        <!-- Widget Text-->
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><a href="https://www.youtube.com/watch?list=PLCylT7hBfO1SIMocVH3UWqrCywkKrM8JM&v=8EnIkmPcszI&feature=emb_title" target="_blank">Nexus Edge</a></h4>
            </div>
            <iframe src="https://www.youtube.com/embed/+lastest?list=PLCylT7hBfO1SIMocVH3UWqrCywkKrM8JM" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- End Widget Text-->
    </div>
    <!--End Item Club News -->

    <!--Item Club News -->
    <div class="col-lg-6 col-xl-4">
        <!-- Widget Text-->
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><a href="https://www.youtube.com/watch?list=PLCylT7hBfO1TfE4U-kdLMSvksc-nx4stD&v=5WjzEHUPrlc&feature=emb_title" target="_blank">Nexus Now Podcast</a></h4>
            </div>
            <iframe src="https://www.youtube.com/embed/+lastest?list=PLCylT7hBfO1TfE4U-kdLMSvksc-nx4stD" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- End Widget Text-->
    </div>
    <!--End Item Club News -->
</div>
<!--End Items Club video -->
