<!-- *ngIf="userProfile|async as resolvedUser; else loading" -->
<div class="container">
    <div class="bg-white">
        <div class="row">
            <div class="col">
                <div class="row" *ngIf="auth.getUser() === returnedProfile.displayName">
                    <div class="col-8 offset-2">
                        <div class="row mt-3">
                            <div class="col-6">
                                <p>Welcome to your player profile!</p>
                                <p>The more info you complete in your profile the more information teams will have to find you!</p>
                            </div>
                            <div class="col-6">
                                <div *ngIf="editOn == true">
                                    <button type="button" (click)="openEdit()" class="btn btn-primary float-right">Edit</button>
                                </div>
                                <div class="row" *ngIf="!editOn">
                                    <div class="col">
                                        <button type="button" (click)="openDialog()" class="mt-1 btn btn-danger "><span class="icon-align"><i class="material-icons">delete_forever</i>Delete</span></button>
                                    </div>
                                    <div class="col">
                                        <button type="button" [disabled]="!profileForm.valid" (click)="save()" class="mt-1 btn btn-success "><span class="icon-align"><i class="material-icons">check</i>Save</span></button>
                                    </div>
                                    <div class="col">
                                        <button type="button" (click)="cancel()" class="mt-1 btn btn-danger"><span class="icon-align"><i class="material-icons">close</i>Cancel</span></button>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <button *ngIf="!editOn" (click)="updateUserMMR()" class="ml-5 btn btn-outline-dark">
                                                                    Update MMR
                                                                </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row" *ngIf="showInvite">
                    <div class="col">
                        This player is eligible for an invite!
                    </div>
                    <div>
                        <button class="btn btn-success"> Invite to team </button>
                    </div>
                </div> -->
                <div class="row" *ngIf="adminShow()">
                    <div class="col">

                        <div class="row">
                            <div class="col">

                                <div class="mt-3  row p-2 border-team">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <h3>User Team Management:</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div>
                                                    Current Team ID: <span *ngIf="returnedProfile.teamId && returnedProfile.teamId != 'nil' else noTeam">{{returnedProfile.teamId}}</span>

                                                </div>
                                                <div>
                                                    Current Team Name: <span *ngIf="returnedProfile.teamName && returnedProfile.teamId != 'nil' else noTeam"></span>{{returnedProfile.teamName}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col" *ngIf="returnedProfile.teamId || returnedProfile.teamName">
                                                <button class="btn btn-info" (click)="removeTeam()"> Remove this team
                                                                            </button>
                                            </div>
                                            <div class="col" *ngIf="!returnedProfile.teamId || !returnedProfile.teamName">
                                                <div class="row">
                                                    <div class="col">
                                                        Add new team info:
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <app-team-search [buttonText]="'Select team'" (teamSelected)="newTeam($event)">
                                                        </app-team-search>
                                                    </div>
                                                </div>
                                                <div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <ng-template #noTeam>
                                    <span>No Team Currently</span>
                                </ng-template>

                                <div class="row mt-3">
                                    <div class="col">
                                        <h3>Other User Managable Info:</h3>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-success" (click)="adminSave()"> Save
                                                            </button>
                                    </div>
                                </div>
                                <div class="example-container mb-5">
                                    <mat-form-field class="mt-2">
                                        <input matInput placeholder="HotS Logs ID" [(ngModel)]="returnedProfile.hotsLogsPlayerID">
                                    </mat-form-field>
                                    <mat-slide-toggle class="mt-2" [(ngModel)]="returnedProfile.pendingTeam">
                                        Pending team invite.
                                    </mat-slide-toggle>
                                    <mat-form-field class="mt-2">
                                        <input matInput placeholder="Discord Tag" [(ngModel)]="returnedProfile.discordTag">
                                    </mat-form-field>
                                    <mat-slide-toggle class="mt-2" [(ngModel)]="returnedProfile.smurfAccount">
                                        Smurf / Banned Account
                                    </mat-slide-toggle>
                                </div>
                                <!-- <mat-form-field>
                                    <input matInput placeholder="Pending Team" [(ngModel)]="returnedProfile.pendingInvite">
                                </mat-form-field> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="example-container">
                            <mat-form-field>
                                <input matInput placeholder="Display Name" [(ngModel)]="returnedProfile.displayName" disabled="true">
                            </mat-form-field>
                            <div class="row mt-2" *ngIf="returnedProfile.teamName">
                                <div class="col">
                                    <div>Team Name:</div>
                                    <a [routerLink]="['/teamProfile/', team.routeFriendlyTeamName(returnedProfile.teamName)]" target="_blank">{{returnedProfile.teamName}}</a>
                                </div>
                            </div>
                            <div class="row mt-2" *ngIf="returnedProfile.toonHandle && returnedProfile.toonHandle.length>0">
                                <div class="col-12">
                                    <div>See this user's NGS Stats at Heroes Profile</div>
                                    <a href="{{hotsProfile.getHPPlayerLink(returnedProfile.toonHandle,returnedProfile.displayName)}}" target="_blank">{{returnedProfile.displayName}}</a>
                                </div>
                                <div class="col-12 mt-2" *ngIf="returnedProfile.ngsMmr">
                                    Users NGS Leauge MMR: {{returnedProfile.ngsMmr}}
                                </div>
                            </div>
                            <div class="row mt-2" *ngIf="returnedProfile.toonHandle && returnedProfile.toonHandle.length>0">
                                <div class="col-12">
                                    <div>Heroes Profile Career Profile:</div>
                                    <a href="{{hotsProfile.getHPProfileLink(returnedProfile.toonHandle,returnedProfile.displayName)}}" target="_blank">{{returnedProfile.displayName}}</a>
                                </div>
                                <div class="col-12 mt-2">
                                    <div>User Heroes Profile MMR: {{returnedProfile.heroesProfileMmr}}</div>
                                </div>
                            </div>
                            <div class="row mt-2" *ngIf="editOn">
                                <div class="col">
                                    <div>User Hots Log Profile:</div>
                                    <a href="{{hotsLogsService.returnProfileLink(returnedProfile.hotsLogsPlayerID)}}" target="_blank">HOTS LOGS Url</a>
                                </div>
                            </div>
                            <div class="row mt-2" *ngIf="returnedProfile.averageMmr">
                                <div class="col">
                                    <div>User HotsLogs MMR:</div>
                                    {{returnedProfile.averageMmr}}
                                </div>
                            </div>

                            <mat-form-field *ngIf="hotsLogsUrlReq" class="mt-3">
                                <input matInput placeholder="HOTS LOGS URL" [formControl]="hotsLogsFormControl" [(ngModel)]="returnedProfile.hotsLogsURL">
                                <mat-error *ngIf="hotsLogsFormControl.hasError('required')">
                                    HOTS Logs URL is required
                                </mat-error>
                                <mat-error *ngIf="hotsLogsFormControl.hasError('invalidurl')">
                                    This doesn't match the pattern we're looking for: https://www.hotslogs.com/Player/Profile?PlayerID=######
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="mt-3">
                                <input matInput placeholder="Discord Tag" [formControl]="discordTagFormControl" [(ngModel)]="returnedProfile.discordTag">
                                <mat-error *ngIf="discordTagFormControl.hasError('required')">
                                    Discord Tag is required.
                                </mat-error>
                                <mat-error *ngIf="discordTagFormControl.hasError('invalidTag')">
                                    Discord Tag pattern not recognized.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="mt-3">
                                <mat-select placeholder="Hero League Division" [formControl]="heroeLeagueDivisionControl" [(ngModel)]="returnedProfile.hlRankMetal" (ngModelChange)="modifyForm(returnedProfile.hlRankMetal)" disableOptionCentering>
                                    <mat-option *ngFor="let medal of hlMedals" [value]="medal">
                                        {{medal}}
                                    </mat-option>
                                    <mat-error *ngIf="heroeLeagueDivisionControl.hasError('required')">
                                        Hero League Division is required
                                    </mat-error>
                                </mat-select>
                            </mat-form-field>



                            <div *ngIf="returnedProfile.hlRankMetal != 'Unranked'">
                                <div class="pe-full-width" *ngIf="returnedProfile.hlRankMetal != 'Master' && returnedProfile.hlRankMetal != 'Grand Master'">
                                    <mat-form-field class="pe-full-width">
                                        <mat-select placeholder="Hero League Rank" [formControl]="heroeLeagueRankControl" [(ngModel)]="returnedProfile.hlRankDivision" disableOptionCentering>
                                            <mat-option *ngFor="let rank of hlDivision" [value]="rank">
                                                {{rank}}
                                            </mat-option>
                                            <mat-error *ngIf="heroeLeagueRankControl.hasError('required')">
                                                Hero League Rank is required
                                            </mat-error>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="pe-full-width" *ngIf="returnedProfile.hlRankMetal == 'Master' || returnedProfile.hlRankMetal == 'Grand Master'">
                                    <mat-form-field class="pe-full-width">
                                        <input matInput type="number" placeholder="Hero League Rank" [formControl]="heroeLeagueRankControl" [(ngModel)]="returnedProfile.hlRankDivision">
                                    </mat-form-field>
                                    <mat-error *ngIf="heroeLeagueRankControl.hasError('required')">
                                        Hero League Rank is required
                                    </mat-error>
                                </div>
                            </div>

                            <div class="row" *ngIf="hideLookingForGroup()">
                                <div class="col">
                                    <mat-slide-toggle disabled="{{editOn}}" [(ngModel)]="returnedProfile.lookingForGroup">
                                        Looking for team.
                                    </mat-slide-toggle>
                                </div>
                            </div>

                            <mat-form-field class="mt-3">
                                <mat-select placeholder="Competitive Level" disabled="{{editOn}}" [(ngModel)]="returnedProfile.competitiveLevel" disableOptionCentering>
                                    <mat-option *ngFor="let level of competitonLevel" [value]="level.val">
                                        {{level.display}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint align="start"><strong>Generally how serious / competitively you're looking to play</strong>
                                </mat-hint>
                            </mat-form-field>

                            <div class="row mt-3">
                                <div class="col">
                                    <mat-form-field class="pe-full-width">
                                        <mat-label>Describe your play history / style</mat-label>
                                        <textarea matInput cdkTextareaAutosize disabled="{{editOn}}" [(ngModel)]="returnedProfile.descriptionOfPlay"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- <div class="row mt-3">
                            <div class="col">
                                <mat-form-field class="pe-full-width">
                                    <input matInput placeholder="Enter your toon ID, we will use this tie your profile to submitted replays" [(ngModel)]="returnedProfile.toonId" disabled="{{editOn}}">
                                </mat-form-field>
                            </div>
                        </div> -->
                            <div class="row mt-1">
                                <div class="col">
                                    Roles:
                                    <section>
                                        <mat-checkbox class="role-margin" disabled="{{editOn}}" [(ngModel)]="returnedProfile.role.tank">Tank</mat-checkbox>
                                        <mat-checkbox class="role-margin" disabled="{{editOn}}" [(ngModel)]="returnedProfile.role.offlane">Offlane</mat-checkbox>
                                        <mat-checkbox class="role-margin" disabled="{{editOn}}" [(ngModel)]="returnedProfile.role.meleeassassin">Melee Assassin</mat-checkbox>
                                        <mat-checkbox class="role-margin" disabled="{{editOn}}" [(ngModel)]="returnedProfile.role.rangedassassin">Ranged Assassin</mat-checkbox>
                                        <mat-checkbox class="role-margin" disabled="{{editOn}}" [(ngModel)]="returnedProfile.role.support">Support</mat-checkbox>
                                        <mat-checkbox class="role-margin" disabled="{{editOn}}" [(ngModel)]="returnedProfile.role.flex">Flex</mat-checkbox>
                                    </section>
                                </div>
                            </div>
                            <!-- Availability Schedule -->

                            <!-- !editOn && !returnedProfile.availability.monday.available || editOn &&  -->
                            <app-times-available [customText]="'Availability'" [availObj]="returnedProfile.availability" (availValid)="recieveAvailTimeValidity($event)" [disabled]="editOn"></app-times-available>

                            <div class="row mt-3">
                                <div class="col">
                                    <mat-form-field class="pe-full-width">
                                        <mat-select placeholder="Timezone:" [formControl]="timezoneControl" [(ngModel)]="returnedProfile.timeZone" (ngModelChange)="timezoneUpdate()">
                                            <mat-option *ngFor="let zone of timezone.timezones" [value]="zone.value">
                                                {{zone.text}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="timezoneControl.hasError('required')">
                                            Timezone is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <ng-template #loading>
                <div class="row">
                    <div class="col">
                        <h3>Loading profile..</h3>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
