<div class="container">


    <div class="row forceFull">
        <div class="col">

            <div class="row mt-3">
                <div class="col">
                    <a [routerLink]="['/_admin/eventList']">Back to Event List</a>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col text-center">
                    <h3>Create or Modify Event:</h3>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <mat-form-field class="mat-FullWidth">
                        <input matInput placeholder="Event Name" [(ngModel)]="event.eventName">
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <app-date-picker [(date)]="this.event['eventDate']"></app-date-picker>
                </div>
                <div class="col">
                    <mat-form-field class="mat-FullWidth">
                        <mat-select placeholder="Start Time:" [(ngModel)]="friendlyTime">
                            <mat-option *ngFor="let time of times" [value]="time">
                                {{time}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="mat-FullWidth">
                        <mat-select placeholder="AM/PM:" [(ngModel)]="suffix">
                            <mat-option *ngFor="let suffix of amPm" [value]="suffix">
                                {{suffix}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


            </div>
            <div class="row mt-2">
                <div class="col">
                    <mat-form-field class="mat-FullWidth">
                        <input matInput placeholder="Event Blurb" [(ngModel)]="event.eventBlurb">
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <mat-form-field class="mat-FullWidth">
                        <input matInput placeholder="Event Description" [(ngModel)]="event.eventDescription">
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <mat-form-field class="mat-FullWidth">
                        <input matInput placeholder="Event Link" [(ngModel)]="event.eventLink">
                    </mat-form-field>
                </div>
            </div>


            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-success" (click)="saveEvent()"> Save Event </button>
                </div>
            </div>

            <!--  -->
            <div class="row mt-3" *ngIf="event._id">
                <div class="col">
                    <app-image-upload [objectType]="'event'" [imageType]="'event'" [objectId]="event._id" [existingImage]="event.eventImage" [width]="1280" [height]="720" [showEdit]="true"></app-image-upload>
                </div>
            </div>

        </div>
    </div>
</div>