<!-- layout-->
<div id="layout">
    <!-- Section Title -->
    <div class="section-title" style="background:url(img/slide/1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Page full width</h1>
                </div>

                <div class="col-md-4">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Inner Page</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section Title -->

    <!-- Section Area - Content Central -->
    <div class="mb-5" [innerHTML]="loadedHTML"></div>
    <!-- End Section Area -  Content Central -->

</div>
<!-- End layout-->
