<!-- Section Title -->
<div class="section-title-team">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="row">
                    <div class="col-md-3">
                        <img src="https://placekitten.com/150/150" alt="">
                    </div>

                    <div class="col-md-9">
                        <h1>{{returnedProfile.teamName}}</h1>
                        <ul class="general-info">
                            <li *ngIf="showDivision">
                                <h6><strong>Division:</strong>{{returnedProfile.divisionDisplayName}} </h6>
                            </li>
                            <li>
                                <h6><strong>Average MMR:</strong> {{returnedProfile.teamMMRAvg}}</h6>
                            </li>
                            <li>
                                <h6><strong>Captain:</strong>{{returnedProfile.captain}}</h6>
                            </li>
                            <!-- <li>
                                <h6><strong>Location:</strong> Colombia</h6>
                            </li>
                            <li>
                                <h6>
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <a href="https://themeforest.net/user/iwthemes/portfolio?ref=iwthemes" target="_blank">www.site.com</a>
                                </h6>
                            </li> -->
                        </ul>

                        <!-- <ul class="social-teams">
                            <li>
                                <div>
                                    <a href="#" class="facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="#" class="twitter-icon">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="#" class="youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </div>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image-team" [style.background-image]="'url('+ imageFQDN(returnedProfile.logo) +')'"></div>
</div>
<!-- End Section Title -->

<!-- Section Area - Content Central -->
<section class="content-info">

    <!-- Single Team Tabs -->
    <div class="single-team-tabs pb-5">
        <div class="container">
            <div class="row">
                <!-- Left Content - Tabs and Carousel -->
                <div class="col-xl-12 col-md-12">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs" id="myTab">
                        <li [ngClass]="{'active': index==0}"><a href="#overview" data-toggle="tab" (click)="index=0">Overview</a></li>
                        <li [ngClass]="{'active': index==1}"><a href="#squad" data-toggle="tab" (click)="index=1">Squad</a></li>
                        <li [ngClass]="{'active': index==2}"><a href="#fixtures" data-toggle="tab" (click)="index=2">Schedule</a></li>
                        <li [ngClass]="{'active': index==3}"><a href="#results" data-toggle="tab" (click)="index=3">RESULTS</a></li>
                        <li [ngClass]="{'active': index==4}"><a href="#stats" data-toggle="tab" (click)="index=4">STATS</a></li>
                    </ul>
                    <!-- End Nav Tabs -->
                </div>

                <div class="col-lg-9 padding-top-mini">
                    <!-- Content Tabs -->
                    <div class="tab-content">
                        <!-- Tab One - overview -->
                        <div class="tab-pane active" id="overview">

                            <div class="panel-box padding-b">
                                <div class="titles">
                                    <h4>Team Info</h4>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <app-roles [disabled]="disabled" [customDisplayText]="'Roles Needed:'" [(roles)]="returnedProfile.rolesNeeded"></app-roles>
                                            </div>
                                        </div>
                                        <!-- competitive level and description of play -->
                                        <div class="row">
                                            <div class="col">
                                            </div>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-6">
                                                <app-competitive-level [disabled]="disabled" [(message)]="returnedProfile.competitiveLevel">
                                                </app-competitive-level>
                                            </div>
                                            <div class="col-6">
                                                <app-play-history [disabled]="disabled" [(description)]="returnedProfile.descriptionOfTeam">
                                                </app-play-history>
                                            </div>
                                        </div>
                                        <!-- looking for group -->
                                        <div class="row mt-5" *ngIf="returnedProfile.lookingForMore">
                                            <div class="col">
                                                <mat-slide-toggle disabled="{{disabled}}" [(ngModel)]="returnedProfile.lookingForMore">
                                                    Looking for team.
                                                </mat-slide-toggle>
                                            </div>
                                        </div>
                                        <!-- times -->
                                        <div class="row mt-5">
                                            <div class="col">
                                                <h6>Player Availability and Time Zone:</h6>
                                                <!-- !disabled && !returnedProfile.availability.monday.available || disabled &&  -->
                                                <app-times-available [customText]="''" [availObj]="returnedProfile.availability" (availValid)="recieveAvailTimeValidity($event)" [disabled]="disabled">
                                                </app-times-available>
                                            </div>
                                        </div>
                                        <!-- timezone -->
                                        <div class="row mt-3">
                                            <div class="col">
                                                <app-timezone [(timezone)]="returnedProfile.timeZone" [disabled]="disabled"></app-timezone>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Tab One - overview -->

                        <!-- Tab Two - squad -->
                        <div class="tab-pane" id="squad">
                            <div *ngIf="index==1">
                                <app-members [members]="returnedProfile.teamMembers"></app-members>
                            </div>

                        </div>
                        <!-- End Tab Two - squad -->

                        <!-- Tab Theree - fixtures -->
                        <div class="tab-pane" id="fixtures">
                            <div *ngIf="index==2">
                                <app-team-schedule-table [team]="returnedProfile.teamName"></app-team-schedule-table>
                            </div>
                        </div>
                        <!-- End Tab Theree - fixtures -->

                        <!-- Tab Theree - results -->
                        <div class="tab-pane" id="results">
                            <div *ngIf="index==3">
                                <app-team-results-tiles [team]="returnedProfile.teamName"></app-team-results-tiles>
                            </div>
                        </div>
                        <!-- End Tab Theree - results -->

                        <!-- Tab Theree - stats -->
                        <div class="tab-pane" id="stats">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="stats-info">
                                        <ul>
                                            <li>
                                                Matches Played
                                                <h3>866</h3>
                                            </li>

                                            <li>
                                                Wins
                                                <h3>328</h3>
                                            </li>

                                            <li>
                                                Losses
                                                <h3>317</h3>
                                            </li>

                                            <li>
                                                Goals
                                                <h3>1,188</h3>
                                            </li>

                                            <li>
                                                Goals Conceded
                                                <h3>1,170</h3>
                                            </li>

                                            <li>
                                                Clean Sheets
                                                <h3>226</h3>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 col-xl-4">
                                    <!-- Attack -->
                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><i class="fa fa-calendar"></i>Attack</h4>
                                        </div>
                                        <ul class="list-panel">
                                            <li>
                                                <p>Goals <span>1,188</span></p>
                                            </li>
                                            <li>
                                                <p>Goals Per Match <span>1.37</span></p>
                                            </li>
                                            <li>
                                                <p>Shots <span>4,621</span></p>
                                            </li>
                                            <li>
                                                <p>Shooting Accuracy % <span>32%</span></p>
                                            </li>
                                            <li>
                                                <p>Penalties Scored <span>30</span></p>
                                            </li>
                                            <li>
                                                <p>Big Chances Created <span>293</span></p>
                                            </li>
                                            <li>
                                                <p>Hit Woodwork <span>107</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Attack -->
                                </div>

                                <div class="col-lg-6 col-xl-4">
                                    <!-- Attack -->
                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><i class="fa fa-calendar"></i>Team Play</h4>
                                        </div>
                                        <ul class="list-panel">
                                            <li>
                                                <p>Passes <span>140,417</span></p>
                                            </li>
                                            <li>
                                                <p>Passes Per Match <span>162.14</span></p>
                                            </li>
                                            <li>
                                                <p>Pass Accuracy % <span>76%</span></p>
                                            </li>
                                            <li>
                                                <p>Crosses <span>8,148</span></p>
                                            </li>
                                            <li>
                                                <p>Cross Accuracy % <span>22%</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Attack -->
                                </div>

                                <div class="col-lg-6 col-xl-4">
                                    <!-- Attack -->
                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><i class="fa fa-calendar"></i>Defence</h4>
                                        </div>
                                        <ul class="list-panel">
                                            <li>
                                                <p>Clean Sheets <span>226</span></p>
                                            </li>
                                            <li>
                                                <p>Goals Conceded <span>1,170</span></p>
                                            </li>
                                            <li>
                                                <p>Goals Conceded Per Match <span>1.35</span></p>
                                            </li>
                                            <li>
                                                <p>Saves <span>392</span></p>
                                            </li>
                                            <li>
                                                <p>Tackles <span>7,438</span></p>
                                            </li>
                                            <li>
                                                <p>Tackle Success % <span>75%</span></p>
                                            </li>
                                            <li>
                                                <p>Blocked Shots <span>1,208</span></p>
                                            </li>
                                            <li>
                                                <p>Interceptions <span>5,334</span></p>
                                            </li>
                                            <li>
                                                <p>Clearances <span>11,436</span></p>
                                            </li>
                                            <li>
                                                <p>Headed Clearance <span>3,710</span></p>
                                            </li>
                                            <li>
                                                <p>Aerial Battles/Duels Won <span>25,401</span></p>
                                            </li>
                                            <li>
                                                <p>Errors Leading To Goal <span>59</span></p>
                                            </li>
                                            <li>
                                                <p>Own Goals <span>27</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End Attack -->
                                </div>
                            </div>

                        </div>
                        <!-- End Tab Theree - stats -->
                    </div>
                    <!-- Content Tabs -->
                </div>

                <!-- Side info single team-->
                <div class="col-lg-3 padding-top-mini">
                    <!-- Diary -->
                    <div class="panel-box">
                        <div class="titles">
                            <h4><i class="fa fa-calendar"></i>Diary</h4>
                        </div>

                        <!-- List Diary -->
                        <ul class="list-diary">
                            <!-- Item List Diary -->
                            <li>
                                <h6>GROUP A <span>14 JUN 2018 - 18:00</span></h6>
                                <ul class="club-logo">
                                    <li>
                                        <img src="img/clubs-logos/rusia.png" alt="">
                                        <span>RUSSIA</span>
                                    </li>
                                    <li>
                                        <img src="img/clubs-logos/arabia.png" alt="">
                                        <span>SAUDI ARABIA</span>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Item List Diary -->

                            <!-- Item List Diary -->
                            <li>
                                <h6>GROUP E <span>22 JUN 2018 - 15:00</span></h6>
                                <ul class="club-logo">
                                    <li>
                                        <img src="img/clubs-logos/bra.png" alt="">
                                        <span>BRAZIL</span>
                                    </li>
                                    <li>
                                        <img src="img/clubs-logos/costa-rica.png" alt="">
                                        <span>COSTA RICA</span>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Item List Diary -->

                            <!-- Item List Diary -->
                            <li>
                                <h6>GROUP H <span>19 JUN 2018 - 15:00</span></h6>
                                <ul class="club-logo">
                                    <li>
                                        <img src="img/clubs-logos/colombia.png" alt="">
                                        <span>COLOMBIA</span>
                                    </li>
                                    <li>
                                        <img src="img/clubs-logos/japan.png" alt="">
                                        <span>JAPAN</span>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Item List Diary -->

                            <!-- Item List Diary -->
                            <li>
                                <h6>GROUP C <span>16 JUN 2018 - 15:00</span></h6>
                                <ul class="club-logo">
                                    <li>
                                        <img src="img/clubs-logos/fra.png" alt="">
                                        <span>FRANCE</span>
                                    </li>
                                    <li>
                                        <img src="img/clubs-logos/aus.png" alt="">
                                        <span>AUSTRALIA</span>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Item List Diary -->
                        </ul>
                        <!-- End List Diary -->
                    </div>
                    <!-- End Diary -->

                </div>
                <!-- end Side info single team-->

            </div>
        </div>
    </div>

</section>
