<!-- Section Title -->
<div class="section-title-team">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="row">
                    <div class="col-md-3">
                        <!-- <img src="https://placekitten.com/150/150" alt=""> -->
                    </div>

                    <div class="col-md-9">
                        <h1>{{returnedProfile.teamName}}</h1>
                        <ul class="general-info">
                            <li *ngIf="showDivision">
                                <h6><strong>Division:</strong>
                                    <app-division-if-public [divisionInfo]="returnedProfile.divisionConcat">
                                    </app-division-if-public>
                                </h6>
                            </li>
                            <li>
                                <h6><strong>Ticker:</strong> {{returnedProfile.ticker}}</h6>
                            </li>
                            <li>
                                <h6><strong>Captain:</strong>{{returnedProfile.captain}}</h6>
                            </li>
                            <li>

                            </li>
                            <!-- <li>
                                <h6><strong>HotSLogs MMR:</strong> {{returnedProfile.teamMMRAvg}}
                                </h6>
                            </li> -->
                            <li>
                                <h6><strong>HeroesProfile MMR:</strong> {{returnedProfile.hpMmrAvg}}
                                </h6>
                            </li>
                            <li>
                                <h6><strong>NGS MMR:</strong> {{returnedProfile.ngsMmrAvg}}
                                </h6>
                            </li>
                            <!-- <li>
                                <h6>
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <a href="https://themeforest.net/user/iwthemes/portfolio?ref=iwthemes" target="_blank">www.site.com</a>
                                </h6>
                            </li> -->
                        </ul>

                        <ul class="social-teams">
                            <li>
                                <a href="{{hpLink}}" target="_blank">
                                    <img style="max-width: 30px;" src="/assets/heroesprofilelogo.png">
                                </a>
                            </li>
                            <li *ngIf="returnedProfile.twitch">
                                <div>
                                    <a href="{{returnedProfile.twitch | commonPipe:util.prePendHttp }}" target="_blank" class="facebook">
                                        <i class="fab fa-twitch"></i>
                                    </a>
                                </div>
                            </li>
                            <li *ngIf="returnedProfile.twitter">
                                <div>
                                    <a href="{{returnedProfile.twitter | commonPipe:util.prePendHttp}}" target="_blank" class="twitter-icon">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div *ngIf="returnedProfile.youtube">
                                    <a href="{{returnedProfile.youtube | commonPipe:util.prePendHttp}}" target="_blank" class="youtube">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image-team" [style.background-image]="'url('+ team.imageFQDN(returnedProfile.logo, season) +')'"></div>
</div>
<!-- End Section Title -->

<!-- Section Area - Content Central -->
<section class="content-info">

    <!-- Single Team Tabs -->
    <div class="single-team-tabs">
        <div class="container">
            <div class="row pb-5">
                <!-- Left Content - Tabs and Carousel -->
                <div class="col-xl-12 col-md-12">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs" id="myTab">
                        <li *ngIf="registrationOpen" class="finger" [ngClass]="{'active': index==5}"><a (click)="setTab(5)">Registration</a></li>
                        <li class="finger" [ngClass]="{'active': index==0}"><a (click)="setTab(0)">Overview</a></li>
                        <li class="finger" [ngClass]="{'active': index==1}"><a (click)="setTab(1)">Squad</a></li>
                        <li class="finger" [ngClass]="{'active': index==2}"><a (click)="setTab(2)">Schedule</a></li>
                        <li class="finger" [ngClass]="{'active': index==3}"><a (click)="setTab(3)">Results</a></li>
                        <li class="finger" [ngClass]="{'active': index==4}"><a (click)="setTab(4)">Tournaments</a></li>

                    </ul>
                    <!-- End Nav Tabs -->
                </div>

                <div class="col-lg-9 padding-top-mini">
                    <!-- Content Tabs -->
                    <div class="tab-content pb-5">
                        <div class="tab_pane" [ngClass]="{active: index==5}" *ngIf="index==5">
                            <div *ngIf="registrationOpen">
                                <div class="row mt-3">
                                    <div class="col">
                                        <app-questionnaire [team]="returnedProfile">
                                        </app-questionnaire>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab One - overview -->
                        <div class="tab-pane" [ngClass]="{'active': index==0}" *ngIf="index==0">
                            <div>
                                <!-- captain buttons for editing -->

                                <div class="row" *ngIf="showEditDialog()">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col text-center text-success">
                                                <app-team-registered [team]="returnedProfile"></app-team-registered>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>Welcome to your team profile!</p>
                                                <p>The more info you complete in your profile the more information players will have to find you!</p>
                                            </div>
                                            <div class="col-6">
                                                <div *ngIf="disabled == true">
                                                    <button type="button" (click)="openEdit()" class="btn btn-primary float-right">Edit</button>
                                                </div>
                                                <div *ngIf="!disabled">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="dropdown">
                                                                <button type="button" class="mt-1 btn btn-danger dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="icon-align">
                                                  <i class="material-icons md-18">settings</i>
                                                  Manage
                                                </span>
                                              </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item finger" (click)="openCaptainChangeDialog()"><span
                                                    class="icon-align"><i class="material-icons">cached</i>Change
                                                    captain</span></a>
                                                                    <!-- <a class="dropdown-item finger" (click)="openDialog()"><span class="icon-align"><i class="material-icons">delete_forever</i>Delete team</span></a> -->
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col">
                                                            <button type="button" [disabled]="!validate()" (click)="save()" class="mt-1 btn btn-success ">Save</button>
                                                        </div>

                                                        <div class="col">
                                                            <button type="button" (click)="cancel()" class="mt-1 btn btn-danger">Cancel</button>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-1" *ngIf="errors.length>0">
                                                        <div class="col text-center">
                                                            <div class="alert alert-danger" *ngFor="let error of errors">{{error}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <button type="button" (click)="adminRefreshMMR()" class="mt-1 btn btn-primary">Update Team
                                              MMR</button>
                                                        </div>
                                                        <div class="col">
                                                            <button class="btn btn-dark assCapt" (click)="openAssCaptainChangeDialog()">Add Assistant Captain(s) <i
                                                           class="fas fa-baby-carriage"></i></button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- non template conforming captain functions -->
                                <div class="row mt-3 mb-3" *ngIf="!disabled">
                                    <div class="col">
                                        <div *ngIf="checkRosterSize() else sizeLimit">
                                            <h3>Invite users to your team!</h3>
                                            <mat-accordion>
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            Existing User:
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                            Invite a player that already has a profile on the NGS Website using their battle tag.
                                                        </mat-panel-description>
                                                    </mat-expansion-panel-header>
                                                    <app-user-search [filterUser]="filterUsers" [type]="'unteamed'" [buttonText]="'Invite User'" (userSelected)="invite($event)">
                                                    </app-user-search>
                                                </mat-expansion-panel>
                                                <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            New User:
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                            Invite a user to join the NGS Website!
                                                        </mat-panel-description>
                                                    </mat-expansion-panel-header>
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <mat-form-field class="mat-FullWidth">
                                                                <input matInput [formControl]="emailControl" [(ngModel)]="emailAddress" placeholder="Enter users email to send them an invite to the NGS Website!">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col">
                                                            <button type="button" [disabled]="emailControl.invalid" (click)="inviteEmail()">Invite!</button>
                                                        </div>
                                                    </div>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </div>
                                    </div>
                                    <ng-template #sizeLimit>
                                        <div class="text-center">
                                            <div> You have reached the team size limit! 9 Members </div>
                                            <div> {{returnedProfile.teamMembers.length}} members on roster </div>
                                            <div> {{returnedProfile.pendingMembers.length}} members pending roster add </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <div class="panel-box" *ngIf="!disabled">
                                    <div class="titles">
                                        <h4>Team Logo and Socials</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div>
                                                <app-image-upload [showEdit]="true" [teamName]="returnedProfile.teamName" [width]="500" [height]="350" [existingImage]="returnedProfile.logo" [imageType]="'teamlogo'"></app-image-upload>
                                            </div>
                                            <div class="mt-3">
                                                <app-twitch [(twitch)]="returnedProfile.twitch"></app-twitch>
                                            </div>
                                            <div class="mt-3">
                                                <app-twitter [(twitter)]="returnedProfile.twitter"></app-twitter>
                                            </div>
                                            <div class="mt-3">
                                                <app-youtube [(youtube)]="returnedProfile.youtube"></app-youtube>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="panel-box padding-b">
                                    <div class="titles">
                                        <h4>Team Info</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <app-roles [disabled]="disabled" [customDisplayText]="'Roles Needed:'" [(roles)]="returnedProfile.rolesNeeded"></app-roles>
                                                </div>
                                            </div>
                                            <!-- competitive level and description of play -->
                                            <div class="row">
                                                <div class="col">
                                                </div>
                                            </div>
                                            <div class="row mt-5">
                                                <div class="col-6">
                                                    <app-competitive-level [disabled]="disabled" [(competitiveLevel)]="returnedProfile.competitiveLevel">
                                                    </app-competitive-level>
                                                </div>
                                                <div class="col-6">
                                                    <app-play-history [disabled]="disabled" [(description)]="returnedProfile.descriptionOfTeam">
                                                    </app-play-history>
                                                </div>
                                            </div>
                                            <!-- looking for group -->
                                            <div class="row mt-5">
                                                <div class="col">
                                                    <mat-slide-toggle disabled="{{disabled}}" [(ngModel)]="returnedProfile.lookingForMore">
                                                        Looking for More.
                                                    </mat-slide-toggle>
                                                </div>
                                            </div>
                                            <!-- times -->
                                            <div class="row mt-5">
                                                <div class="col">
                                                    <h6>Team Availability and Time Zone:</h6>
                                                    <!-- !disabled && !returnedProfile.availability.monday.available || disabled &&  -->
                                                    <app-times-available [customText]="''" [availObj]="returnedProfile.availability" (availValid)="receiveValidTimes($event)" [disabled]="disabled">
                                                    </app-times-available>
                                                </div>
                                            </div>
                                            <!-- timezone -->
                                            <div class="row mt-3">
                                                <div class="col">
                                                    <app-timezone [(timezone)]="returnedProfile.timeZone" [disabled]="disabled" [(error)]="timezoneError"></app-timezone>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab One - overview -->

                        <!-- Tab Two - squad -->
                        <div class="tab-pane pb-3" [ngClass]="{'active': index==1}" *ngIf="index==1">
                            <div>
                                <app-members [teamProfile]=" returnedProfile "></app-members>
                                <div class="row ">
                                    <div class="col ">
                                        <h6>History</h6>
                                    </div>
                                </div>
                                <app-team-history [teamProfile]="returnedProfile "></app-team-history>
                                <div *ngIf="showEditDialog() ">
                                    <div class="row mt-3 ">
                                        <div class="col ">
                                            <h6>Pending Members:</h6>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-xl-4 col-lg-6 col-md-6 " *ngFor="let player of returnedProfile.pendingMembers ">
                                            <app-player-small-card [playerID]="player.displayName "></app-player-small-card>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Tab Two - squad -->

                        <!-- Tab Theree - fixtures -->
                        <div class="tab-pane " [ngClass]="{'active': index==2}" *ngIf="index==2">
                            <div *ngIf=" index==2 ">
                                <app-team-schedule-table [teamName]="returnedProfile.teamName " [season]="season "></app-team-schedule-table>
                                <div class="mt-4 ">
                                    <app-team-tournament-schedule-table [team]="returnedProfile " [season]="season "></app-team-tournament-schedule-table>
                                </div>
                            </div>
                        </div>
                        <!-- End Tab Theree - fixtures -->

                        <!-- Tab Theree - results -->
                        <div class="tab-pane " [ngClass]="{ 'active': index==3} " *ngIf="index==3">
                            <div *ngIf="index==3 ">
                                <app-team-results-tiles [team]="returnedProfile.teamName " [season]="season "></app-team-results-tiles>
                                <div class="mt-3 ">
                                    <app-team-tournament-results-tiles [teamId]="returnedProfile._id " [season]="season "></app-team-tournament-results-tiles>
                                </div>
                            </div>
                        </div>
                        <!-- End Tab Theree - results -->

                        <!-- Tab Theree - stats -->
                        <div class="tab-pane " [ngClass]="{ 'active': index==4} " *ngIf="index==4">
                            <div *ngIf="index==4 ">
                                <app-team-tournaments [team]="returnedProfile" [season]="season"></app-team-tournaments>
                            </div>
                        </div>
                        <!-- End Tab Theree - stats -->
                    </div>
                    <!-- Content Tabs -->
                </div>

                <!-- Side info single team-->
                <div class="col-lg-3 padding-top-mini " *ngIf="!season ">
                    <!-- Diary -->
                    <app-team-upcoming-match [team]="returnedProfile.teamName "></app-team-upcoming-match>

                </div>
                <!-- end Side info single team-->

            </div>
        </div>
    </div>

</section>
