<h1 mat-dialog-title>Manage Assistant Captains</h1>
<div mat-dialog-content>
    <section class="example-section">
        <div *ngFor="let member of data.members; let i = index">
            <mat-checkbox class="example-margin" [checked]="data.assistantCaptain.indexOf(member.displayName)>-1" (change)="updateSelected(member.displayName)" [disabled]="disableFn(member.displayName)">
                {{member.displayName}}
            </mat-checkbox>
        </div>
    </section>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.assistantCaptain" cdkFocusInitial>Ok</button>
</div>
