<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <div class="card mt-5">
                <div class="card-header">
                    You have been logged out of leagueUp!
                </div>
                <div class="card-body">
                    <p class="">You have been logged out of leagueUp, however battle.net does not provide a method for destroying your session with them, so please go to a battle.net webpage and action a logout.</p>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>