<div class="container-full forceFull">
    <div class="row">
        <div class="col">
            <a [routerLink]="['/_admin/dashboard']">Back to Dashboard</a>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">TimeStamp</th>
                        <th scope="col">Actor</th>
                        <th scope="col">Target</th>
                        <th scope="col">Action</th>
                        <th scope="col">Error</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of logs">
                        <td scope="row">{{ log.timeStamp | commonPipe: util.getFormattedDate:'MM/DD/YYYY hh:mm A' }}</td>
                        <td>{{log.actor}}</td>
                        <td>{{log.target}}</td>
                        <td>{{log.action}}</td>
                        <td>{{log.error}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>