<div class="container h-100">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to NGS!</h1>
        </div>
        <div class="col-md-12">
            You've been invited to join an elite group of players to test your mettle in the Nexus!
        </div>
        <div class="col-md-12">
            We use the Battle.net Oauth for authentication management, we have a profile for NGS league and system et all that collects no private information (IE: email, etc) but we do collect information in regards to your rank, desires to play in the league and
            your battle tag as returned from Battle.net Oauth
        </div>
        <div class="col-md-12">
            If you're ready to jump into the Nexus Gaming Series, click here to create your profile!
            <br>
            <a type="button" class="btn btn-success" href="/auth/bnet?emailCode={{auth.getReferral()}}">Login with Battle.Net!</a>
        </div>
    </div>
</div>