<!-- edit -->
<div class="row" *ngIf="!edit">
    <div class="col">
        <span class="h6">Competitive Level Update:</span>
        <div>
            <mat-form-field class="mt-3">
              <mat-label>Competitive Level</mat-label>
                <mat-select placeholder="Competitive Level" disabled="{{edit}}" [(ngModel)]="competitiveLevelValue" (ngModelChange)="updateValue()" disableOptionCentering>
                    <mat-option *ngFor="let level of competitonLevel" [value]="level.val">
                        {{level.display}}
                    </mat-option>
                </mat-select>
                <mat-hint align="start"><strong>Generally how serious / competitively you're
                        looking to play</strong>
                </mat-hint>
            </mat-form-field>
        </div>
    </div>
</div>
<!-- display -->
<div class="row" *ngIf="edit">
    <div class="col">
        <span class="h6">Competitive Level: </span><span *ngIf="competitiveLevelValue else nullTemplate">
          {{competitiveLevelDisplay}} </span>
    </div>
</div>
<ng-template #nullTemplate>
    <span>Not Selected</span>
</ng-template>
