<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="container">
        <!-- Content Text-->
        <div class="panel-box padding-b">
            <div class="row p-4">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h5>Filter Matches By:</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <app-division-selector (selectedDiv)="selected($event)"></app-division-selector>
                        </div>
                        <div class="col">
                            <mat-form-field class="mat-FullWidth">
                              <mat-label>Round:</mat-label>
                                <mat-select placeholder="Round:" [(ngModel)]="roundFlt" (ngModelChange)="doFilterMatches()" disableOptionCentering>
                                    <mat-option [value]="null"> </mat-option>
                                    <mat-option *ngFor="let round of rounds" [value]="round">{{round}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="mat-FullWidth">
                              <mat-label>Team Name</mat-label>
                                <input matInput placeholder="Team Name" [(ngModel)]="teamFlt" (ngModelChange)="doFilterMatches()">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-checkbox [(ngModel)]="scheduledOnlyFlt" (ngModelChange)="doFilterMatches()">Only Scheduled Matches.
                            </mat-checkbox>
                        </div>
                        <div class="col">
                            <mat-checkbox [(ngModel)]="tournamentOnlyFlt" (ngModelChange)="doFilterMatches()">Tournament Matches.
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <app-date-picker [(date)]="friendlyDate" (dateChange)="timeChanged()"></app-date-picker>
                        </div>
                        <div class="col ">
                            <mat-form-field class="mat-FullWidth ">
                              <mat-label>Start Time:</mat-label>
                                <mat-select placeholder="Start Time: " [(ngModel)]="friendlyTime" (ngModelChange)="timeChanged()">
                                    <mat-option *ngFor="let time of times " [value]="time ">
                                        {{time}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col ">
                            <mat-form-field class="mat-FullWidth ">
                              <mat-label>AM/PM:</mat-label>
                                <mat-select placeholder="AM/PM: " [(ngModel)]="suffix" (ngModelChange)="timeChanged()">
                                    <mat-option *ngFor="let suffix of amPm " [value]="suffix ">
                                        {{suffix}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="finger float-right badge badge-pill pill-shadow badge-light" (click)="resetTime()">Reset Time</span>
                        </div>
                    </div>
                    <mat-paginator [length]="length " [pageIndex]="pageIndex " [pageSize]="pageSize " (page)="pageEventHandler($event) ">

                    </mat-paginator>
                    <div *ngIf="displayArray.length==0 " style="height: 650px "></div>
                    <ng-container *ngFor="let match of displayArray; let ind=index;">
                        <app-caster-dashboard-match-display [recMatch]="match" [ind]="ind" [replayView]="replay"></app-caster-dashboard-match-display>
                    </ng-container>
                </div>
            </div>
        </div>
        <!-- End Content Text-->
    </div>

</section>
<!-- End Section Area -  Content Central -->
<ng-template #tbd>
    <span> TBD </span>
</ng-template>
