<!-- Header-->
<header class="header-2">
    <!-- End headerbox-->
    <div class="headerbox">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <!-- Logo-->
                <div class="col col-xl-2 text-center">
                    <div class="logo">
                        <a routerLink="" title="Return Home">
                            <img src="/assets/Lettermark.png" alt="Logo" class="logo_img">
                        </a>
                    </div>
                    <small appLStat></small>
                </div>
                <!-- End Logo-->

                <!-- Adds nav-->
                <div class="col col-xl-10">
                    <!-- mainmenu-->
                    <nav class="mainmenu">
                        <div class="container">
                            <!-- Menu-->
                            <ul class="sf-menu" id="menu">
                                <li class="current">
                                    <a class="finger linkColorFix">Rules</a>
                                    <ul class="sub-current" appHideMenu>
                                        <li>
                                            <a [routerLink]="['/stormrules']">Storm Rules</a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['/rules']">Community Rules</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a [routerLink]="['/faq']">FAQ</a>
                                </li>
                                <li class="current">
                                    <a class="finger linkColorFix">Community Spotlight</a>
                                    <ul class="sub-current" appHideMenu>
                                        <li>
                                            <a href="https://matcherino.com/tournaments/75322" target="_blank">Storm Division Matcherino</a>
                                        </li>
                                        <li>
                                            <a href="https://ngs-store-front.myshopify.com/" target="_blank">NGS Store Front</a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['/volunteers']">Volunteers</a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['/potg']">Play of the Game</a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['/mvp']">MVP</a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['/tournament']">Tournament Viewer</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="current">
                                    <a class="finger linkColorFix">Statistics</a>
                                    <ul class="sub-current" appHideMenu>
                                        <li>
                                            <a href="https://www.heroesprofile.com/NGS" target="_blank">Heroes
                                              Profile</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/ebshimizu/stats-of-the-storm" target="_blank">Stats of the
                                              Storm</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="current">
                                    <a class="linkColorFix finger">Divisions</a>
                                    <ul class="sub-current" #dropDownDiv>
                                        <li *ngFor="let division of divisions">
                                            <app-division-link [division]="division.divisionConcat">{{division.displayName}}</app-division-link>
                                        </li>
                                    </ul>
                                </li>


                                <li class="current">
                                    <a class="finger linkColorFix">Past Seasons</a>
                                    <ul class="sub-current" appHideMenu>
                                        <li>
                                            <a [routerLink]="['/pastSeasons']">Past Divisions</a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['/grandchamps']">NGS GOATs</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a [routerLink]="['/blog']">Blog</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/allTeams']">Teams</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/calendar']">Calendar</a>
                                </li>
                                <li [hidden]="Auth.isAuthenticated()">
                                    <a [routerLink]="['/login']">Login</a>
                                </li>
                                <!-- <ng-template #loggedIn> -->
                                <li class="current" [hidden]="!Auth.isAuthenticated()">
                                    <a class="linkColorFix finger">{{Auth.getUser()}}
                                      <span *ngIf="userMessages>0" class="badge badge-pill ml-1"><i class="linkColorFix fas fa-envelope"></i></span>
                                    </a>
                                    <ul class="sub-current" appHideMenu>
                                        <li>
                                            <a [routerLink]="['/messageCenter']">
                                                <div>
                                                    <span>Message Center</span>
                                                    <span class="badge badge-pill ml-1 badge-success" *ngIf="userMessages>0">{{userMessages}}</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="current">
                                            <a class="finger">Team</a>
                                            <ul class="sub-current">
                                                <ng-template #noTeam>
                                                    <li>
                                                        <a [routerLink]="['/teamCreate']">Create Team</a>
                                                    </li>
                                                    <li>
                                                        <a [routerLink]="['/findTeams']">Find Team</a>
                                                    </li>
                                                </ng-template>
                                                <ng-container *ngIf="Auth.getTeam(); else noTeam">
                                                    <li>
                                                        <app-team-link [team]="Auth.getTeam()">
                                                            Profile
                                                        </app-team-link>
                                                    </li>
                                                    <li>
                                                        <a [routerLink]="['/reporting',team.routeFriendlyTeamName( Auth.getTeam() )]">Result Reporting</a>
                                                    </li>
                                                </ng-container>

                                            </ul>
                                        </li>
                                        <li class="current">
                                            <a class="finger">Player</a>
                                            <ul class="sub-current">
                                                <li>
                                                    <app-player-link [player]="Auth.getUser()">My Profile
                                                    </app-player-link>
                                                </li>
                                                <li><a [routerLink]="['/findPlayers']">Find Free Agents</a></li>
                                                <li><a [routerLink]="['/playersearch']">Player Search</a></li>
                                            </ul>
                                        </li>
                                        <li *ngIf="Auth.getCaster()" class="current">
                                            <a class="finger">Caster Tools</a>
                                            <ul class="sub-current">
                                                <li>
                                                    <a [routerLink]="['/_casterDashboard']">Caster Dashboard</a>
                                                </li>
                                                <li>
                                                    <a [routerLink]="['/_casterPage']">My Casts</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a [routerLink]="['/replayBrowser']">Replay Browser</a></li>
                                        <li *ngIf="Auth.getAdmin() && Auth.getAdmin().length>0">
                                            <a [routerLink]="['/_admin/dashboard']">Admin Dashboard</a>
                                        </li>
                                        <li><a class="finger linkColorBigDropDown" (click)="logout()">Logout</a></li>
                                    </ul>
                                    <!-- <div class="sf-mega" appHideMenu>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h5>Team</h5>
                                                <ul *ngIf="Auth.getTeam(); else noTeam">
                                                    <li>
                                                        <app-team-link [team]="Auth.getTeam()">Profile</app-team-link>
                                                    </li>
                                                    <li><a [routerLink]="['/reporting',team.routeFriendlyTeamName( Auth.getTeam() )]">Result
                                                            Reporting</a></li>

                                                </ul>
                                                <ng-template #noTeam>
                                                    <ul>
                                                        <li>
                                                            <a [routerLink]="['/teamCreate']">Create Team</a>
                                                        </li>
                                                        <li><a [routerLink]="['/findTeams']">Find Team</a>
                                                        </li>
                                                    </ul>

                                                </ng-template>
                                            </div>
                                            <div class="col-md-4">
                                                <h5>Player</h5>
                                                <ul>
                                                    <li>
                                                        <app-player-link [player]="Auth.getUser()">My Profile
                                                        </app-player-link>
                                                    </li>
                                                    <li><a [routerLink]="['/findPlayers']">Find Free Agents</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-md-4">
                                                <h5>System</h5>
                                                <ul>
                                                    <li>
                                                        <a [routerLink]="['/messageCenter']">
                                                            <div>
                                                                <span>Message Center</span>
                                                                <span class="badge badge-pill ml-1 badge-success" *ngIf="userMessages>0">{{userMessages}}</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li><a [routerLink]="['/replayBrowser']">Replay Browser</a></li>
                                                    <li *ngIf="Auth.getCaster()"><a [routerLink]="['/_casterDashboard']">Caster Dashboard</a>
                                                    </li>
                                                    <li *ngIf="Auth.getCaster()"><a [routerLink]="['/_casterPage']">My Casts</a>
                                                    </li>
                                                    <li *ngIf="Auth.getAdmin() && Auth.getAdmin().length>0"><a [routerLink]="['/_admin/dashboard']">Admin Dashboard</a>
                                                    </li>
                                                    <li><a class="finger linkColorBigDropDown" (click)="logout()">Logout</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> -->
                                </li>
                                <!-- </ng-template> -->

                            </ul>
                            <!-- End Menu-->
                        </div>
                    </nav>
                    <!-- End mainmenu-->

                    <!-- Call Nav Menu-->
                    <a class="mobile-nav" href="#mobile-nav"><i class="fa fa-bars"></i></a>
                    <!-- End Call Nav Menu-->
                </div>
                <!-- End nav Header-->
            </div>
        </div>
    </div>
</header>

<!-- Mobile Nav-->
<div id="mobile-nav" #mobileNav>
    <!-- Menu-->
    <ul id="mobile-nav-list">
        <li>
            <a routerLink="">Home</a>
        </li>

        <li><a [routerLink]="['/rules']">Rules</a></li>
        <li><a [routerLink]="['/faq']">FAQ</a></li>
        <li>
            <a>Community Spotlight</a>
            <ul>
                <li>
                    <a href="https://matcherino.com/tournaments/75322" target="_blank">Storm Division Matcherino</a>
                </li>
                <li>
                    <a href="https://ngs-store-front.myshopify.com/" target="_blank">NGS Store Front</a>
                </li>
                <li>
                    <a [routerLink]="['/volunteers']">Volunteers</a>
                </li>
                <li>
                    <a [routerLink]="['/potg']">Play of the Game</a>
                </li>
                <li>
                    <a [routerLink]="['/mvp']">MVP</a>
                </li>
                <li>
                    <a [routerLink]="['/tournament']">Tournament Viewer</a>
                </li>
            </ul>
        </li>
        <li>
            <a>Divisions</a>
            <ul>
                <li class="mm-listitem" *ngFor="let division of divisions">
                    <app-division-link [division]="division.divisionConcat">
                        <span class="mm-listitem__text">{{division.displayName}}</span> </app-division-link>
                </li>
            </ul>
        </li>
        <li>
            <a>Past Seasons</a>
            <ul>
                <li>
                    <a [routerLink]="['/pastSeasons']">Past Divisions</a>
                </li>
                <li>
                    <a [routerLink]="['/grandchamps']">NGS GOATs</a>
                </li>
            </ul>
        </li>

        <li>
            <a [routerLink]="['/blog']">Blog</a>
        </li>
        <li>
            <a [routerLink]="['/allTeams']">Teams</a>
        </li>
        <li>
            <a [routerLink]="['/calendar']">Calendar</a>
        </li>
        <li [hidden]="Auth.isAuthenticated()">
            <a [routerLink]="['/login']">Login</a>
        </li>
        <li [hidden]="!Auth.isAuthenticated()">
            <a>
                <span>{{Auth.getUser()}}</span>
                <span *ngIf="userMessages>0" class="myFaStack fa" style="line-height:inherit;">
                <i class="far fa-envelope fa-stack-1x"></i>
                <span class="fa-stack-1x">!</span>
                </span>
            </a>
            <ul id="logged-in-panel-1">
                <li>
                    <a>Team</a>
                    <ul [hidden]="!Auth.getTeam()">


                        <!-- <a [routerLink]="['/teamProfile/',team.routeFriendlyTeamName(Auth.getTeam())]">Profile</a> -->
                        <app-team-link [team]="team.routeFriendlyTeamName(Auth.getTeam())">
                            <li>
                                Profile
                            </li>

                        </app-team-link>


                        <!-- <li><a [routerLink]="['/schedule/teamSchedule']">Schedule</a> -->
                        <!-- </li> -->
                        <li><a [routerLink]="['/findPlayers']">Find Players</a></li>
                    </ul>
                    <ul [hidden]="Auth.getTeam()">
                        <li><a [routerLink]="['/findTeams']">Find Team</a></li>
                    </ul>

                </li>
                <li>
                    <a>Player</a>
                    <ul>

                        <!-- <a [routerLink]="['/profile/', user.routeFriendlyUsername(Auth.getUser())]">Profile</a> -->
                        <app-player-link [player]="Auth.getUser()">
                            <li>Profile</li>
                        </app-player-link>

                    </ul>
                </li>
                <li>
                    <a>System</a>
                    <ul>
                        <li *ngIf="Auth.getCaster()"><a [routerLink]="['/_casterDashboard']">Caster Dashboard</a></li>
                        <!-- NOTE: caster changes -->
                        <li *ngIf="Auth.getCaster()"><a [routerLink]="['/_casterPage']">My Casts</a>
                        </li>
                        <li *ngIf="Auth.getAdmin() && Auth.getAdmin().length>0"><a [routerLink]="['/_admin/dashboard']">Admin Dashboard</a></li>
                    </ul>
                </li>
                <li><a [routerLink]="['/messageCenter']">Messages</a></li>
                <li>
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>
        </li>

    </ul>
</div>
