<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/blog','5fM1r95mrm4UkmuCAmgOyC']">Rules</a>
                </li>
                <!-- <li class="nav-item">
                    TODO: only when logged in and captain ???
                    <a class="nav-link" href="services.html">Reporting</a>
                </li> -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle finger" id="divisionDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Divisions</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" *ngFor="let division of divisions" [routerLink]="['/division/',division.divisionConcat]">{{division.displayName}}</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/blog']">Blog</a>
                </li>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" *ngIf="!Auth.isAuthenticated() else loggedIn">
                        <a class="nav-link" [routerLink]="['/login']">Login</a>
                    </li>
                    <ng-template #loggedIn>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false"> {{Auth.getUser()}} </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="navGo('/profile/',user.routeFriendlyUsername(userName))">Profile</a>
                                <div *ngIf="Auth.getTeam(); else noTeam">
                                    <a class="dropdown-item" (click)="navGo('/teamProfile/',team.routeFriendlyTeamName( Auth.getTeam() ) )" disabled="">Team</a>
                                    <a class="dropdown-item" (click)="navGo('/teamProfile/',team.routeFriendlyTeamName( Auth.getTeam() ) )" disabled="">Schedule</a>
                                    <div *ngIf="Auth.getCaptain()">
                                        <a class="dropdown-item" (click)="navGo('/teamProfile/',team.routeFriendlyTeamName( Auth.getTeam() ) )" disabled="">Find Players</a>
                                    </div>

                                </div>
                                <ng-template #noTeam>
                                    <a class="dropdown-item" [routerLink]="['/teamCreate']">Create Team</a>
                                    <a class="dropdown-item" (click)="navGo('/teamProfile/',team.routeFriendlyTeamName( teamName ) )" disabled="">Find Team</a>
                                </ng-template>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="Auth.destroyAuth()">Logout</a>
                            </div>
                        </li>
                    </ng-template>

                </ul>
            </ul>
        </div>
    </div>
</nav>