<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/blog','5fM1r95mrm4UkmuCAmgOyC']">Rules</a>
                </li>
                <!-- <li class="nav-item">
                    TODO: only when logged in and captain ???
                    <a class="nav-link" href="services.html">Reporting</a>
                </li> -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle finger" id="divisionDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
    Divisions
  </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/division/heroic']">
      Heroic
    </a>
                        <a class="dropdown-item" [routerLink]="['/division/storm']">
      Storm
    </a>
                        <a class="dropdown-item" [routerLink]="['/division/a/east']">
      Div A - East
    </a>
                        <a class="dropdown-item" [routerLink]="['/division/a/west']">
      Div A - West
    </a>
                        <a class="dropdown-item" [routerLink]="['/division/b/east']">
      Div B - East
    </a>
                        <a class="dropdown-item" [routerLink]="['/division/b/west']">
      Div B - West
    </a>
                        <a class="dropdown-item" [routerLink]="['/division/c/east']">
      Div C - East
    </a>
                        <a class="dropdown-item" [routerLink]="['/division/c/west']">
      Div C - West
    </a>
                        <a class="dropdown-item" [routerLink]="['/division/d/east']">
      Div D - East
    </a>
                        <a class="dropdown-item" [routerLink]="['/division/d/west']">
      Div D - West
    </a>
                        <a class="dropdown-item" [routerLink]="['/division/f/east']">
      Div F - East
    </a>
                        <a class="dropdown-item" [routerLink]="['/division/f/west']">
      Div F - West
    </a>
                    </div>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Divison
          </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/blog']">Blog</a>
                </li>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" *ngIf="!Auth.isAuthenticated() else loggedIn">
                        <a class="nav-link" [routerLink]="['/login']">Login</a>
                    </li>
                    <ng-template #loggedIn>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false"> {{Auth.getUser()}} </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="navGo('/profile/',user.routeFriendlyUsername(userName))">Profile</a>
                                <div *ngIf="Auth.getTeam(); else noTeam">
                                    <a class="dropdown-item" (click)="navGo('/teamProfile/',team.routeFriendlyTeamName( Auth.getTeam() ) )" disabled="">Team</a>
                                    <a class="dropdown-item" (click)="navGo('/teamProfile/',team.routeFriendlyTeamName( Auth.getTeam() ) )" disabled="">Find
  Players</a>
                                </div>
                                <ng-template #noTeam>
                                    <a class="dropdown-item" [routerLink]="['/teamCreate']">Create Team</a>
                                    <a class="dropdown-item" (click)="navGo('/teamProfile/',team.routeFriendlyTeamName( teamName ) )" disabled="">Find Team</a>
                                </ng-template>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="Auth.destroyAuth()">Logout</a>
                            </div>
                        </li>
                    </ng-template>

                </ul>
            </ul>
        </div>
    </div>
</nav>