/* .container {
    background-color: #F26A2F;
} */


/* .navbar {
    background-color: #F26A2F;
    color: white;
} */


/* .ngsImg {
    background-color: white;
    padding: 3px;
    height: 40px;
} */


/* .notify-container {
    position: relative;
    display: inline-block;
    margin-top: 10px;
} */


/* .notify-bubble {
    position: absolute;
    top: -8px;
    right: -7px;
    padding: 2px 5px 2px 6px;
    background-color: green;
    color: white;
    font-size: 0.65em;
    border-radius: 50%;
    box-shadow: 1px 1px 1px gray;
    display: none;
} */


/* display: inline-block; */


/* height: 2em; */


/* .myFaStack {
    top: -15px;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
} */

.linkColorFix {
    color: #232323
}

.linkColorFix:not([href]):not([tabindex]) {
    color: #232323;
}

.linkColorBigDropDown {
    color: #666
}

.linkColorBigDropDown:not([href]):not([tabindex]) {
    color: #666;
}

.sf-menu .sub-current .sub-current {
    left: -100%;
}
