<div class="container">
    <div class="row bg-white">
        <div class="col" *ngIf="recMatch">
            <div class="row matchBoxPadder" [ngClass]="{'matchBox':show}">
                <div class="col">
                    <div class="row">
                        <div class="col text-center">
                            <span class="text-warning" *ngIf="!recMatch.reported">Not Reported</span> <span class="text-success" *ngIf="recMatch.reported">Reported</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="row">
                                <div class="col-4">
                                    <img src="{{homeLogo}}" height="90" alt="Team Logo">
                                </div>
                                <div class="col vertical-middle">
                                    <div *ngIf="recMatch.home.teamName">
                                        <app-team-link [team]="recMatch.home.teamName">{{recMatch.home.teamName}}
                                        </app-team-link>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-1 vertical-middle">
                            - VS -
                        </div>
                        <div class="col">
                            <div class="row">
                                <!-- <div class="col-2 vertical-middle">
                                    <span> {{recMatch.away.wins}} - {{recMatch.away.losses}} </span>
                                </div> -->
                                <div class="col vertical-middle">
                                    <div *ngIf="recMatch.away.teamName">
                                        <app-team-link [team]="recMatch.away.teamName">
                                            {{recMatch.away.teamName}}
                                        </app-team-link>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <img src="{{awayLogo}}" height="90" alt="Team Logo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <button class="btn btn-info" (click)="showHide()"> <span *ngIf="!show">Open Reporting Deck</span> <span *ngIf="show">Close Reporting Deck</span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row reportingDiv" *ngIf="show">
                <div class="col">
                    <div class="row  m-t-20">
                        <div class="col">
                            <h6> Please select the maps that each team banned: </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Home Map Ban
                            <div class="row m-t-5">
                                <div class="col">
                                    <mat-select placeholder="Map " [(ngModel)]="mapBans.homeOne">
                                        <mat-option *ngFor="let map of returnMaps(mapBans.homeTwo, mapBans.awayOne, mapBans.awayTwo)" [value]="map">{{map}}</mat-option>
                                    </mat-select>

                                </div>
                            </div>
                        </div>
                        <div class="col">

                        </div>
                        <div class="col">
                            Away Map Ban
                            <div class="row">
                                <div class="col">
                                    <mat-select placeholder="Map " [(ngModel)]="mapBans.awayOne">
                                        <mat-option *ngFor="let map of returnMaps(mapBans.homeTwo, mapBans.homeOne, mapBans.awayTwo)" [value]="map">{{map}}
                                        </mat-option>
                                    </mat-select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            Home Map Ban
                            <div class="row m-t-5">
                                <div class="col">
                                    <mat-select placeholder="Map " [(ngModel)]="mapBans.homeTwo">
                                        <mat-option *ngFor="let map of returnMaps(mapBans.homeOne, mapBans.awayOne, mapBans.awayTwo)" [value]="map">
                                            {{map}}</mat-option>
                                    </mat-select>

                                </div>
                            </div>
                        </div>
                        <div class="col">

                        </div>
                        <div class="col">
                            Away Map Ban
                            <div class="row">
                                <div class="col">
                                    <mat-select placeholder="Map " [(ngModel)]="mapBans.awayTwo">
                                        <mat-option *ngFor="let map of returnMaps(mapBans.homeTwo, mapBans.homeOne, mapBans.awayOne)" [value]="map">
                                            {{map}}</mat-option>
                                    </mat-select>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row  m-t-20">
                        <div class="col">
                            <h6> Please select a player that was in the game from each team: </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Home Player
                            <div class="row m-t-5">
                                <div class="col">
                                    <mat-select placeholder="Player " [(ngModel)]="homeTeamPlayer">
                                        <mat-option *ngFor="let player of homeTeam.teamMembers" [value]="player.displayName">{{player.displayName}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                        <div class="col">

                        </div>
                        <div class="col">
                            Away Player
                            <div class="row">
                                <div class="col">
                                    <mat-select placeholder="Player " [(ngModel)]="awayTeamPlayer">
                                        <mat-option *ngFor="let player of awayTeam.teamMembers" [value]="player.displayName">{{player.displayName}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gameBorder" *ngFor="let game of games | keyvalue">

                        <div class="col">
                            <div class="row m-t-20">
                                <div class="col">
                                    Game {{game.key}} <span *ngIf="!recMatch.reported" (click)="removeGame(game.key, games)"><i class="float-right material-icons">close</i></span>
                                </div>
                            </div>
                            <!-- report match winner -->
                            <div class="row m-t-20 ">
                                <div class="col ">
                                    Who won this game? <span *ngIf="game.value.winner"><i class="material-icons text-success">done</i></span>
                                </div>
                            </div>
                            <div class="row m-t-5 ">
                                <div class="col ">
                                    <mat-radio-group [(ngModel)]='game.value.winner'>
                                        <mat-radio-button class="example-margin" [disabled]="recMatch.reported" value="home">Home</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col ">

                                </div>
                                <div class="col ">
                                    <mat-radio-group [(ngModel)]='game.value.winner'>
                                        <mat-radio-button class="example-margin" [disabled]="recMatch.reported" value="away">Away</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <!-- match replay -->
                            <div class="row m-t-20" *ngIf="!recMatch.reported">
                                <div class="col" *ngIf="!game.value.replay else fileReported">
                                    Select file*:
                                    <input type="file" ngf accept=".StormReplay" [(file)]="game.value.replay">
                                </div>
                                <ng-template #fileReported>
                                    <div class="col-7">
                                        {{game.value.replay.name}} <span *ngIf="game.value.replay"><i class="material-icons text-success">done</i></span>
                                    </div>
                                    <div class="col-2">
                                        <span class="float-right finger" (click)="resetReplay(game)"><i class="material-icons">close</i> Remove</span>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="uploading" class="row mt-3">
                        <div class="col  text-center">
                            <span class="border p-3">Uploading ... <i class="fas fa-sync fa-spin" style="font-size:24px"></i></span>
                        </div>
                    </div>
                    <div class="row m-t-20">
                        <div class="col" *ngIf="showAdd && !recMatch.reported">
                            <button class="btn btn-primary" (click)="addGame() ">Add Game</button>
                        </div>

                        <div class="col" *ngIf="showReportButton()">
                            <button [disabled]="uploading" class="btn btn-success" (click)="report() ">Report Match!</button>
                        </div>
                    </div>

                    <div class="mt-2">
                        <app-mvp-report [members]="allPlayers" [matchId]="recMatch.matchId"></app-mvp-report>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<!-- report hero bans -->
<!-- <div class="row m-t-10">
                                <div class="col">
                                    Home Hero Bans: <span *ngIf="game.value.homeBans.length == 3"><i class="material-icons text-success">done</i></span>

                                    <div class="row m-t-5" *ngIf="game.value.homeBans.length<3">
                                        <div class=" col ">
                                            <mat-select placeholder="Hero Banned " [(ngModel)]="game.value.tmp.leftSelect" (ngModelChange)="addBan(game.value.tmp.leftSelect, game.value.homeBans)">

                                                <mat-option *ngFor="let hero of returnFilteredHeroes(game)" [value]="hero ">{{hero}}</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div class="m-t-10 banBox">
                                        <div *ngFor="let ban of game.value.homeBans">{{ban}} <span *ngIf="!recMatch.reported" (click)="removeBan(ban, game.value.homeBans)"><i
                                                    class="float-right material-icons">close</i></span></div>
                                    </div>

                                </div>
                                <div class="col ">

                                </div>
                                <div class="col ">
                                    Away Hero Bans: <span *ngIf="game.value.awayBans.length == 3"><i class="material-icons text-success">done</i></span>

                                    <div class="row m-t-5 " *ngIf="game.value.awayBans.length<3 ">
                                        <div class="col ">
                                            <mat-select placeholder="Hero Banned " [(ngModel)]="game.value.tmp.rightSelect" (ngModelChange)="addBan(game.value.tmp.rightSelect, game.value.awayBans)">

                                                <mat-option *ngFor="let hero of returnFilteredHeroes(game)  " [value]="hero ">{{hero}}</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div class="banBox m-t-10">
                                        <div *ngFor="let ban of game.value.awayBans ">{{ban}}<span *ngIf="!recMatch.reported" (click)="removeBan(ban, game.value.awayBans) "><i
                                                    class="float-right material-icons ">close</i></span></div>
                                    </div>

                                </div>
                            </div> -->
