<section class="content-info">

    <div class="container">
        <div class="row portfolioContainer">

            <!-- Item Team Group A-->
            <div class="col-md-6 col-lg-4 col-xl-3 " *ngFor="let item of _teams">
                <div class="item-team">
                    <div class="head-team">
                        <img src="{{teamImage(item.logo)}}" alt="location-team">
                        <div class="overlay"><a href="single-team.html">+</a></div>
                    </div>
                    <div class="info-team">
                        <span class="logo-team">
              <img src="{{teamImage(item.logo)}}" alt="logo-team">
            </span>
                        <h4>{{item.teamName}}</h4>
                        <!-- <span class="location-team">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Stadium
            </span>
                        <span class="group-team">
              <i class="fa fa-trophy" aria-hidden="true"></i>
              Group A
            </span> -->
                    </div>
                    <a [routerLink]="['/teamProfile/', team.routeFriendlyTeamName(item.teamName)]" class="btn">Team
                      Profile <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <!-- End Item Team Group A-->

        </div>
    </div>

</section>