<div class="row">
    <div class="col" *ngIf="currentTournaments.length>0 else noTourn">

        <div class="row p-3">
            <div class="col text-center">
                <h3>Past Tournaments</h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <mat-form-field class="mat-60-width">
                  <mat-label>Tournament:</mat-label>
                    <mat-select placeholder="Tournament:" [(ngModel)]="selectedTournament" disableOptionCentering>
                        <mat-option *ngFor="let tourn of currentTournaments" [value]="tourn">
                            {{tourn.tournamentName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-challonge-tourn [tournamentLink]="selectedTournament.challonge_url">
                </app-challonge-tourn>
            </div>
        </div>
        <div class="row pb-2" *ngIf="selectedTournament.teamMatches.length>0">
            <div class="col">
                <h3>Matches:</h3>
                <app-schedule-table [matches]="selectedTournament.teamMatches" [disallowSchedule]="true">
                </app-schedule-table>
            </div>
        </div>

    </div>
    <ng-template #noTourn>
        <div class="p-5">
            <h4>Currently no active tournaments</h4>
        </div>
    </ng-template>
</div>
