<app-banner-image [bannerTitle]="'Caster Home'">
</app-banner-image>


<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="container paddings-mini">

        <div class="panel-box padding-b">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    These are required for the One Click Claim feature! <br> Note: Any changes here will not be reflected retroactively!
                </div>
                <div class="col text-center">
                    <span class="h6">Caster Name: </span><span *ngIf="!edit">{{returnedProfile.casterName}}</span>
                    <mat-form-field *ngIf="edit" class="mt-3 full-width">
                        <input matInput placeholder="Caster Name" [(ngModel)]="returnedProfile.casterName">
                    </mat-form-field>
                </div>
                <div class="col text-center">
                    <span class="h6">Twitch Url: </span><span *ngIf="!edit">{{returnedProfile.twitch}}</span>
                    <span *ngIf="edit">
                      <app-twitch [(twitch)]="returnedProfile.twitch">
                      </app-twitch>
                    </span>
                </div>
                <div class="col-12 mt-3 text-center">
                    <button *ngIf="!edit" class="btn btn-primary" (click)="edit = true;"> Edit </button>
                    <button *ngIf="edit" class="btn btn-success" (click)="save()"> Save </button>
                </div>
            </div>
        </div>

        <!-- <div class="panel-box padding-b">
            <div class="titles">
                <h4>{{day.key}}</h4>
            </div>
            <div class="info-panel">
                <div *ngFor="let match of day.value">
                    <app-match-view-verticle [passMatch]="match"></app-match-view-verticle>
                </div>


            </div>
        </div> -->

        <mat-tab-group dynamicHeight class="fullHeight mb-4">
            <mat-tab label="Upcoming Casts">
                <ng-template matTabContent>

                    <ng-container *ngTemplateOutlet="matches;context:{list:upcomingList}"></ng-container>

                </ng-template>
            </mat-tab>
            <mat-tab label="Past Casts">
                <ng-template matTabContent>
                    <ng-container *ngTemplateOutlet="matches;context:{list:pastList}"></ng-container>
                    <!-- <app-division-props></app-division-props> -->
                </ng-template>
            </mat-tab>
        </mat-tab-group>

        <ng-template #matches let-list="list">
            <div *ngIf="list.size>0 else noMatches">
                <div class="panel-box padding-b" *ngFor="let day of list | keyvalue">
                    <div class="titles">
                        <h4>{{day.key}}</h4>
                    </div>
                    <div class="info-panel">

                        <div class="table-responsive">
                            <table class=" table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Home</th>
                                        <th class="text-center">VS</th>
                                        <th>Away</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let match of day.value">

                                        <td>
                                            <img src="{{teamServ.imageFQDN(match.home.logo, seasonVal)}}" alt="icon">
                                            <strong>
                     <app-team-link [team]="match.home.teamName" [season]="seasonVal">{{match.home.teamName}}
                     </app-team-link>
                   </strong><br>
                                            <!-- <small class="meta-text">GROUP H.</small> -->
                                        </td>
                                        <td class="text-center">Vs</td>
                                        <td>
                                            <img src="{{teamServ.imageFQDN(match.away.logo, seasonVal)}}" alt="icon1">
                                            <strong>
                     <app-team-link [team]="match.away.teamName" [season]="seasonVal">{{match.away.teamName}}
                     </app-team-link>
                   </strong><br>
                                            <!-- <small class="meta-text">GROUP H.</small> -->
                                        </td>
                                        <td>
                                            {{match.vodLinks}}
                                            <strong>Match ID:</strong><span> {{match.matchId}}</span><br>
                                            <strong>Division:</strong><span> {{match.divisionConcat}}</span><br>
                                            <span *ngIf="match.scheduledTime && match.scheduledTime.startTime else tbd">{{util.getFormattedDate(match.scheduledTime.startTime, "MMM DD hh:mm A zz")}}<br>
                                            </span>
                                            <span *ngIf="!match.vodLinks || match.vodLinks.length==0">
                                              <a class="btn btn-primary" [href]="match.reportLink" target="_blank"> Report Form </a>
                                            </span>
                                            <span *ngIf="match.casterName">
                                              <br>
                                              <small class="meta-text">Caster: {{match.casterName}}, <a href="{{util.prePendHttp(match.casterUrl)}}" target="_blank">{{match.casterUrl}}</a></small>
                                            </span>
                                        </td>
                                        <!-- ng-templates -->
                                        <ng-template #tbd>

                                            <ng-template #userView>
                                                <span>Not yet scheduled</span>
                                            </ng-template>
                                        </ng-template>
                                        <!-- end template -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #noMatches>
            <div class="mt-3 mb-3">
                <h5>You currently have no claimed matches! (Or the matches were over 30 days old)</h5>
            </div>
        </ng-template>

        <!-- End Content Text-->
    </div>

</section>
<!-- End Section Area -  Content Central -->
<ng-template #tbd>
    <span> TBD </span>
</ng-template>
