<div class="row" (click)="showHide()">
    <div class="col">
        <div *ngIf="recMatch.home.teamName">{{recMatch.home.teamName}}</div>
    </div>
    <div class="col">
        - VS -
    </div>
    <div class="col">
        <div *ngIf="recMatch.away.teamName; else bye">{{recMatch.away.teamName}}</div>
    </div>
</div>

<ng-template #bye>
    BYE
</ng-template>

<div class="row" *ngIf="show">
    <div class="col">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        Score:
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="fullWidth">
                            <mat-select [formControl]="homeScoreControl" placeholder="{{recMatch.hometeamName}} Score:" [(ngModel)]="homeScore" (ngModelChange)="scoreSelected('home')">
                                <mat-option [value]="0">0</mat-option>
                                <mat-option [value]="1">1</mat-option>
                                <mat-option [value]="2">2</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <div class="col">

            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        Score:
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-select [formControl]="awayScoreControl" placeholder="{{recMatch.awayteamName}} Score:" [(ngModel)]="awayScore" (ngModelChange)="scoreSelected('away')">
                                <mat-option [value]="0">0</mat-option>
                                <mat-option [value]="1">1</mat-option>
                                <mat-option [value]="2">2</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" *ngIf="hideReplaySubmit()">

                Select file*:
                <input type="file" [formControl]="replay1Control" ngf accept=".StormReplay" [(file)]="replay1">
                <!-- <button (click)="parseFile(replay1)">Submit</button> -->

            </div>
            <div class="col" *ngIf="hideReplaySubmit()">

                Select file*:
                <input type="file" [formControl]="replay2Control" ngf accept=".StormReplay" [(file)]="replay2">
                <!-- <button (click)="parseFile(replay2)">Submit</button> -->

            </div>
        </div>
        <div class="row" [hidden]="hideButton">
            <div class="col">
                <button [disabled]="reportForm.invalid" (click)="report()"> Submit </button>
            </div>
        </div>
    </div>
</div>