<!-- Section Title -->
<app-banner-image [bannerTitle]="'Play of the Game'"></app-banner-image>
<!-- End Section Title -->

<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="container paddings-mini">
        <div class="row">

            <div class="col-lg">
                <!-- Content Text-->
                <div class="panel-box">
                    <div class="titles">
                        <h4>Play of the Game Clips</h4>
                    </div>
                    <div class="row">
                        <!-- Post Item -->
                        <div class="col-12 mb-2">
                            <span>
                              <button data-toggle="tooltip" data-placement="top" title="Sort by smiles." (click)="sort('likes')"><i
                                  class="far fa-laugh-squint"></i></button>
                              <button data-toggle="tooltip" data-placement="top" title="Sort by recent." (click)="sort('timeStamp')"> <i
                                  class="fas fa-clock"></i></button>
                            </span>
                        </div>

                        <div class="col-12">
                            <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEventHandler($event)">

                            </mat-paginator>
                        </div>
                        <div class="col-lg-4" *ngFor="let mvp of displayArray">
                            <app-potg-display [potg]="mvp"></app-potg-display>
                        </div>
                        <div class="col-12 text-center" *ngIf="mvpList.length == 0">
                            <div class="p-5">
                                No PotGs Yet!
                            </div>
                        </div>
                    </div>
                    <!-- End Post Item -->
                </div>
                <!-- End Content Text-->
            </div>
        </div>
    </div>