<div class="row">
    <div class="col-lg-12">
        <div class="panel-box padding-b">
            <div class="titles">
                <h4>External Sources:</h4>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div>To see more in depth league stats check this team's profile at Heroes Profile</div>
                    <a href="{{hpLink}}" target="_blank">
                      {{teamName}} </a>
                </div>
            </div>
        </div>
        <!-- <div class="stats-info">
            <ul>
                <li>
                    Matches Played
                    <h3>{{totalGames}}</h3>
                </li>

                <li>
                    Wins
                    <h3>{{totalWins}}</h3>
                </li>

                <li>
                    Losses
                    <h3>{{totalGames - totalWins}}</h3>
                </li>

                <li>
                    Takedowns
                    <h3>{{takedowns}}</h3>
                </li>
                <li>
                    Heroes Played
                    <h3>{{heroesPlayed}}</h3>
                </li>
            </ul>
        </div> -->
    </div>
</div>

<!-- <div class="row">
    <div class="col-lg-6 col-xl-4">
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><i class="fa fa-calendar"></i>Offense</h4>
            </div>
            <ul class="list-panel">
                <li>
                    <p>Average Hero Damage <span>{{statistics.stats.stats.average.HeroDamage}}</span></p>
                </li>
                <li>
                    <p>Average KDA <span>{{statistics.stats.stats.average.KDA}}</span></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6 col-xl-4">
        
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><i class="fa fa-calendar"></i>Siege</h4>
            </div>
            <ul class="list-panel">
                <li>
                    <p>Average Siege <span>{{statistics.stats.stats.average.SiegeDamage}}</span></p>
                </li>
                <li>
                    <p>Average Minion Damage<span>{{statistics.stats.stats.average.MinionDamage}}</span></p>
                </li>
                <li>
                    <p>Average MCPG<span>{{statistics.stats.stats.average.mercCaptures}}</span></p>
                    <p>Mercenary Captures Per Game</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6 col-xl-4">
        <div class="panel-box">
            <div class="titles no-margin">
                <h4><i class="fa fa-calendar"></i>Defence</h4>
            </div>
            <ul class="list-panel">
                <li>
                    <p>Average Damage Taken <span>{{statistics.stats.stats.average.DamageTaken}}</span></p>
                </li>
                <li>
                    <p>Average Healing <span>{{statistics.stats.stats.average.Healing}}</span></p>
                </li>
                <li>
                    <p>Average Time Hero Advantage <span>{{statistics.stats.stats.average.pctWithHeroAdv}}%</span>
                    </p>
                </li>
                <li>
                    <p>Time CC Enemy Heroes <span>{{statistics.stats.stats.average.TimeCCdEnemyHeroes}}</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div> -->