<div class="container">
    <div class="row forceFull">
        <div class="col panel-box p-2">
            <div class="row">
                <div class="col">
                    <a [routerLink]="['/_admin/dashboard']">Back to Dashboard</a>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h4>Select division for tournament:</h4>
                        </div>
                    </div>
                    <app-division-selector (selectedDiv)="selected($event)" [admin]="true"></app-division-selector>
                </div>
                <div class="col">
                    <h5>Or select from all teams:</h5>
                    <div> <button (click)="revealAllTeams()" class="btn btn-info">Reveal all teams:</button></div>
                </div>
            </div>

            <div *ngIf="fetching" class="row">
                <div class="col text-center">
                    <span>Fetching ... <i class="fas fa-sync fa-spin" style="font-size:24px"></i></span>
                </div>
            </div>

            <div *ngIf="showAll" class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-FullWidth">
                              <mat-label>Filter by name</mat-label>
                                <input matInput placeholder="Filter by name" [(ngModel)]="filterName" (ngModelChange)="filterTeams(filterName)">
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEventHandler($event)">

                    </mat-paginator>
                    <div class="row mt-2 p-3 rowBorder" *ngFor="let team of displayArray; let ind = index" [ngClass]="{oddRow : ind%2!=0}">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <span class="titles">Team Name:</span> {{team.teamName}}
                                </div>
                                <div class="col">
                                    <span class="titles">Division: </span> <i *ngIf="!team.divisionDisplayName">(not assigned)</i>
                                    <span *ngIf="team.divisionDisplayName">{{team.divisionDisplayName}}</span>
                                </div>
                                <div class="col">
                                    <span class="titles">Captain:</span> {{team.captain}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="titles">Members:</span> {{team.teamMembers.length}}
                                </div>
                                <div class="col">
                                    <span class="titles">MMR:</span> {{team.teamMMRAvg}}
                                </div>
                                <div class="col">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <button class="btn btn-secondary" [disabled]="teamInd(tournamentSeed, team)>-1" (click)="selectedFromList(team)">Add Team To Tournament</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    Place the teams in order of seeding!
                </div>
            </div>

            <div class="row">
                <div class="col" *ngIf="!showAll">
                    <div class="example-container">
                        <h2>Teams</h2>
                        <div cdkDropList #selectFromList="cdkDropList" [cdkDropListData]="standings" [cdkDropListConnectedTo]="[selectedList]" class="example-list" (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let standing of standings" cdkDrag>
                                No. {{standing.standing}} - {{standing.teamName}}</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="example-container">
                        <h2>Tournament Seeding</h2>

                        <div cdkDropList #selectedList="cdkDropList" [cdkDropListData]="tournamentSeed" [cdkDropListConnectedTo]="[selectFromList]" class="example-list" (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of tournamentSeed" cdkDrag>
                                <span *ngIf="item.standing">No. {{item.standing}} - </span>
                                <span>{{item.teamName}}</span>
                                <span *ngIf="item.teamMMRAvg"> Team MMR {{item.teamMMRAvg}}</span>
                                <span *ngIf="showAll" class="badge badge-info badge-pill finger" (click)="remove(item)">Remove</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col text-center">
                    <button (click)="reset()" class="btn btn-danger">Reset</button>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <p>Enter extra information about the tournament below:</p>
                    <p>If this is a tournament for the end of season playoff then make sure to include season number:</p>
                    <p>If this is a side tournament you should include name, and if it is a recurring event, a season IE what iteration it's on</p>
                    <i>Hint, if you don't we won't be able to find it.</i>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div><span class="text-danger">Required</span></div>
                    <mat-form-field class="mat-FullWidth">
                      <mat-label>Season</mat-label>
                        <input matInput type="number" placeholder="Season" [(ngModel)]="season">
                    </mat-form-field>
                </div>
            </div>
            <mat-checkbox [(ngModel)]="divisional">Divisional Season Brackets? <span class="text-warning"> Mark this if this is a division bracket!</span></mat-checkbox>
            <div class="row" *ngIf="showCups">
                <div class="col">
                    <div>Cup Number; please enter sequential cup number (1 more than the last) for this division</div>
                    <mat-form-field class="mat-FullWidth">
                      <mat-label>Cup:</mat-label>
                        <input matInput placeholder="Cup:" [(ngModel)]="cup">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div><span class="text-danger">Required</span> Tournament name</div>
                    <mat-form-field class="mat-FullWidth">
                      <mat-label>Tournament Name:</mat-label>
                        <input matInput placeholder="Tournament Name:" [formControl]="tournName" [(ngModel)]="name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>Tournament description.</div>
                    <mat-form-field class="mat-FullWidth">
                      <mat-label>Tournament Description:</mat-label>
                        <input matInput placeholder="Tournament Description:" [(ngModel)]="description">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="mat-FullWidth">
                      <mat-label>Division:</mat-label>
                        <mat-select placeholder="Division:" [(ngModel)]="selectedType" (ngModelChange)="typeSelected(selectedDivision)" disableOptionCentering>
                            <mat-option *ngFor="let type of tournTypes" [value]="type.type">
                                {{type.display}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col text-center">
                    <button [disabled]="disableGenerate()" (click)="generateBrackets()" class="btn btn-success">
                  Generate Tournament Matches
                </button>
                </div>
            </div>

        </div>
    </div>
</div>
