<div class="container pt-4 forceFull">
    <div class="row">
        <div class="col">
            <div *ngIf="checkDate()" class="row">
                <div class="col text-center text-danger">

                    This match was not scheduled before it's schedule due date!
                    <div> Please contact an admin</div>

                </div>
            </div>

            <div class="row" *ngIf="match">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            Week {{match.round}}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col text-center">
                            <div *ngIf="match.home.teamName">{{match.home.teamName}}</div>
                        </div>
                        <div class="col text-center">
                            - VS -
                        </div>
                        <div class="col text-center">
                            <div *ngIf="match.away.teamName; else bye">{{match.away.teamName}}</div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-4">
                <div class="col-6">
                    <mat-form-field class="mat-FullWidth">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="mydate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="mat-FullWidth">
                                <mat-select placeholder="Start Time:" [(ngModel)]="time">
                                    <mat-option *ngFor="let time of times" [value]="time">
                                        {{time}}
                                    </mat-option>
                                </mat-select>
                                <mat-hint>Times are localized</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field class="mat-FullWidth">
                                <mat-select placeholder="AM/PM:" [(ngModel)]="suffix">
                                    <mat-option *ngFor="let suffix of amPm" [value]="suffix">
                                        {{suffix}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row mt-2">
                <div class="col text-center">
                    <button [disabled]="checkDate()" type="button" class="btn btn-success" (click)="saveSched()">Save</button>
                </div>
            </div>

        </div>
    </div>
</div>