<!-- Section Title -->
<app-banner-image [bannerTitle]="'Calendar'"></app-banner-image>

<!-- Section Area - Content Central -->
<section class="content-info pb-5">

    <div class="container pb-5">
        <div class="row bg-white">
            <div class="col">
                <div class="row text-center mt-3">
                    <div class="col-md-4">
                        <div class="btn-group groupBorder">
                            <div class="btn btn-outline-secondary " mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                                Previous
                            </div>
                            <div class="btn btn-primary" mwlCalendarToday [(viewDate)]="viewDate">
                                Today
                            </div>
                            <div class="btn btn-outline-secondary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                                Next
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group groupBorder">
                            <div class="btn btn-primary" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
                                Month
                            </div>
                            <div class="btn btn-outline-secondary" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
                                Week
                            </div>
                            <div class="btn btn-primary" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
                                Day
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <app-loading [showLoading]="!isLoaded"></app-loading>
                <div *ngIf="isLoaded">
                    <div [ngSwitch]=" view ">
                        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month " [viewDate]="viewDate " [events]="events " [refresh]="refresh " [activeDayIsOpen]="activeDayIsOpen " (dayClicked)="dayClicked($event.day) " (eventClicked)="handleEvent(
                    'Clicked', $event.event) " [openDayEventsTemplate]="customOpenDayEventsTemplate " (eventTimesChanged)="eventTimesChanged($event) ">
                        </mwl-calendar-month-view>
                        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week " [viewDate]="viewDate " [events]="events " [refresh]="refresh " (eventClicked)="handleEvent( 'Clicked', $event.event) " (eventTimesChanged)="eventTimesChanged($event) ">
                        </mwl-calendar-week-view>
                        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day " [viewDate]="viewDate " [events]="events " [refresh]="refresh " (eventClicked)="handleEvent( 'Clicked', $event.event) " (eventTimesChanged)="eventTimesChanged($event) ">
                        </mwl-calendar-day-view>
                    </div>

                </div>
                <br><br>
                <div class="row ">
                    <div class="col ">
                        <h4>Event Key</h4>
                    </div>
                </div>
                <div class="row mt-2 ">
                    <div class="col-3 ">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th scope="col ">Color</th>
                                    <th scope="col ">Division / Event</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of key|keyvalue:sortOrder ">
                                    <td [style.background-color]="item.value.primary "></td>
                                    <td>{{item.value.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- NOTE: caster changes -->
                <div class="row mt-2 ">
                    <div class="col ">
                        <h4>Upcoming Matches:</h4>
                        <div class="panel-box padding-b " *ngFor="let day of list | keyvalue: asIsOrder ">
                            <div class="titles ">
                                <h4>{{day.key}}</h4>
                            </div>
                            <div class="info-panel ">

                                <app-schedule-table [divColumn]="true " [matches]="day.value " [showRound]="false "></app-schedule-table>

                            </div>
                        </div>
                    </div>
                </div>

                <ng-template #customOpenDayEventsTemplate let-events="events " let-eventClicked="eventClicked " let-isOpen="isOpen ">
                    <div class="cal-open-day-events " [@collapse] *ngIf="isOpen ">
                        <div *ngFor="let event of events; trackBy:event; " [ngClass]="event?.cssClass " mwlDraggable [dropData]="{event: event} " [dragAxis]="{x: event.draggable, y: event.draggable} ">
                            <span class="cal-event " [style.background-color]="event.color.primary "></span>
                            <mwl-calendar-event-title [event]="event " [customTemplate]="eventTitleTemplate " view="month " (mwlClick)="eventClicked.emit({event: event}) ">
                            </mwl-calendar-event-title>

                        </div>
                    </div>

                </ng-template>
                <ng-template #eventTitleTemplate let-event="event " let-view="month " let-mwlClick="mwlClick ">
                    <span class="finger "> {{event.title}}

                      <span *ngIf="event.meta.casted ">
                      &nbsp;<i style="color:#F2692E " class="fab fa-twitch "></i>&nbsp;

                    </span>
                    </span>
                </ng-template>

            </div>
        </div>
    </div>

</section>
