<div class="row forceFull">
    <div class="col">
        <div class="mt-3">
            <drag-scroll style="width: 100%; height: 100%" *ngIf="hasBracket else noBrackets">
                <div>
                    <div class="bracket mb-4">
                        <section class="round wombo">
                            <div class="winners" *ngIf="tournamentObject.rol16_1 && tournamentObject.rol16_2">
                                <div class="matchups">
                                    <div class="matchup" *ngIf="tournamentObject.rol16_1">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_1, 'home')}">
                                                <span *ngIf="tournamentObject.rol16_1.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_1.home.logo)}}" *ngIf="tournamentObject.rol16_1.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_1.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_1, 'away')}">
                                                <span *ngIf="tournamentObject.rol16_1.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_1.away.logo)}}" *ngIf="tournamentObject.rol16_1.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_1.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="matchup" *ngIf="tournamentObject.rol16_2">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_2, 'home')}">
                                                <span *ngIf="tournamentObject.rol16_2.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_2.home.logo)}}" *ngIf="tournamentObject.rol16_2.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_2.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_2, 'away')}">
                                                <span *ngIf="tournamentObject.rol16_2.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_2.away.logo)}}" *ngIf="tournamentObject.rol16_2.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_2.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="connector">
                                    <div class="merger"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                            <div class="winners" *ngIf="tournamentObject.rol16_3 && tournamentObject.rol16_4">
                                <div class="matchups">
                                    <div class="matchup" *ngIf="tournamentObject.rol16_3">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_3, 'home')}">
                                                <span *ngIf="tournamentObject.rol16_3.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_3.home.logo)}}" *ngIf="tournamentObject.rol16_3.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_3.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_3, 'away')}">
                                                <span *ngIf="tournamentObject.rol16_3.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_3.away.logo)}}" *ngIf="tournamentObject.rol16_3.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_3.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="matchup" *ngIf="tournamentObject.rol16_4">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_4, 'home')}">
                                                <span *ngIf="tournamentObject.rol16_4.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_4.home.logo)}}" *ngIf="tournamentObject.rol16_4.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_4.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_4, 'away')}">
                                                <span *ngIf="tournamentObject.rol16_4.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_4.away.logo)}}" *ngIf="tournamentObject.rol16_4.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_4.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="connector">
                                    <div class="merger"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                            <div class="winners" *ngIf="tournamentObject.rol16_5 && tournamentObject.rol16_6">
                                <div class="matchups">
                                    <div class="matchup" *ngIf="tournamentObject.rol16_5">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_5, 'home')}">
                                                <span *ngIf="tournamentObject.rol16_5.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_5.home.logo)}}" *ngIf="tournamentObject.rol16_5.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_5.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_5, 'away')}">
                                                <span *ngIf="tournamentObject.rol16_5.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_5.away.logo)}}" *ngIf="tournamentObject.rol16_5.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_5.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="matchup" *ngIf="tournamentObject.rol16_6">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_6, 'home')}">
                                                <span *ngIf="tournamentObject.rol16_6.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_6.home.logo)}}" *ngIf="tournamentObject.rol16_6.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_6.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_6, 'away')}">
                                                <span *ngIf="tournamentObject.rol16_6.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_6.away.logo)}}" *ngIf="tournamentObject.rol16_6.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_6.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="connector">
                                    <div class="merger"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                            <div class="winners" *ngIf="tournamentObject.rol16_7 && tournamentObject.rol16_8">
                                <div class="matchups">
                                    <div class="matchup" *ngIf="tournamentObject.rol16_7">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_7, 'home')}">
                                                <span *ngIf="tournamentObject.rol16_7.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_7.home.logo)}}" *ngIf="tournamentObject.rol16_7.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_7.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_7, 'away')}">
                                                <span *ngIf="tournamentObject.rol16_7.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_7.away.logo)}}" *ngIf="tournamentObject.rol16_7.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_7.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="matchup" *ngIf="tournamentObject.rol16_8">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_8, 'home')}">
                                                <span *ngIf="tournamentObject.rol16_8.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_8.home.logo)}}" *ngIf="tournamentObject.rol16_8.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_8.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.rol16_8, 'away')}">
                                                <span *ngIf="tournamentObject.rol16_8.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.rol16_8.away.logo)}}" *ngIf="tournamentObject.rol16_8.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.rol16_8.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="connector">
                                    <div class="merger"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </section>
                        <section class="round quarterfinals">
                            <div class="winners" *ngIf="tournamentObject.quarterFinal1 && tournamentObject.quarterFinal2">
                                <div class="matchups">
                                    <div class="matchup" *ngIf="tournamentObject.quarterFinal1">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.quarterFinal1, 'home')}">
                                                <span *ngIf="tournamentObject.quarterFinal1.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.quarterFinal1.home.logo)}}" *ngIf="tournamentObject.quarterFinal1.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.quarterFinal1.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.quarterFinal1, 'away')}">
                                                <span *ngIf="tournamentObject.quarterFinal1.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.quarterFinal1.away.logo)}}" *ngIf="tournamentObject.quarterFinal1.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.quarterFinal1.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="matchup" *ngIf="tournamentObject.quarterFinal2">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.quarterFinal2, 'home')}">
                                                <span *ngIf="tournamentObject.quarterFinal2.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.quarterFinal2.home.logo)}}" *ngIf="tournamentObject.quarterFinal2.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.quarterFinal2.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.quarterFinal2, 'away')}">
                                                <span *ngIf="tournamentObject.quarterFinal2.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.quarterFinal2.away.logo)}}" *ngIf="tournamentObject.quarterFinal2.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.quarterFinal2.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="connector">
                                    <div class="merger"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                            <div class="winners" *ngIf="tournamentObject.quarterFinal3 && tournamentObject.quarterFinal4">
                                <div class="matchups">
                                    <div class="matchup" *ngIf="tournamentObject.quarterFinal3">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.quarterFinal3, 'home')}">
                                                <span *ngIf="tournamentObject.quarterFinal3.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.quarterFinal3.home.logo)}}" *ngIf="tournamentObject.quarterFinal3.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.quarterFinal3.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.quarterFinal3, 'away')}">
                                                <span *ngIf="tournamentObject.quarterFinal3.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.quarterFinal3.away.logo)}}" *ngIf="tournamentObject.quarterFinal3.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.quarterFinal3.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="matchup" *ngIf="tournamentObject.quarterFinal4">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.quarterFinal4, 'home')}">
                                                <span *ngIf="tournamentObject.quarterFinal4.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.quarterFinal4.home.logo)}}" *ngIf="tournamentObject.quarterFinal4.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.quarterFinal4.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.quarterFinal4, 'away')}">
                                                <span *ngIf="tournamentObject.quarterFinal4.away else tbd">
                                                <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.quarterFinal4.away.logo)}}" *ngIf="tournamentObject.quarterFinal4.away.teamName != 'BYE'">
                                                <span>{{tournamentObject.quarterFinal4.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="connector">
                                    <div class="merger"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </section>
                        <section class="round semifinals">
                            <div class="winners" *ngIf="tournamentObject.semiFinalRight && tournamentObject.semiFinalLeft">
                                <div class="matchups">
                                    <div class="matchup" *ngIf="tournamentObject.semiFinalLeft">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.semiFinalLeft, 'home')}">
                                                <span *ngIf="tournamentObject.semiFinalLeft.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.semiFinalLeft.home.logo)}}" *ngIf="tournamentObject.semiFinalLeft.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.semiFinalLeft.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.semiFinalLeft, 'away')}">
                                                <span *ngIf="tournamentObject.semiFinalLeft.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.semiFinalLeft.away.logo)}}" *ngIf="tournamentObject.semiFinalLeft.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.semiFinalLeft.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="matchup" *ngIf="tournamentObject.semiFinalRight">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.semiFinalRight, 'home')}">
                                                <span *ngIf="tournamentObject.semiFinalRight.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.semiFinalRight.home.logo)}}" *ngIf="tournamentObject.semiFinalRight.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.semiFinalRight.home.teamName}}</span>
                                                </span>
                                            </div>

                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.semiFinalRight, 'away')}">
                                                <span *ngIf="tournamentObject.semiFinalRight.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.semiFinalRight.away.logo)}}" *ngIf="tournamentObject.semiFinalRight.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.semiFinalRight.away.teamName}}</span>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="connector">
                                    <div class="merger"></div>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </section>
                        <section class="round finals" *ngIf="tournamentObject.championship">
                            <div class="winners">
                                <div class="matchups">
                                    <div class="matchup">
                                        <div class="participants border border-secondary">
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.championship, 'home')}">
                                                <span *ngIf="tournamentObject.championship.home else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.championship.home.logo)}}" *ngIf="tournamentObject.championship.home.teamName != 'BYE'">
                                                    <span>{{tournamentObject.championship.home.teamName}}</span>
                                                </span>
                                            </div>
                                            <div class="participant" [ngClass]="{'winner': winner(tournamentObject.championship, 'away')}">
                                                <span *ngIf="tournamentObject.championship.away else tbd">
                                                    <img class="imgThumb img-fluid" src="{{_team.imageFQDN(tournamentObject.championship.away.logo)}}" *ngIf="tournamentObject.championship.away.teamName != 'BYE'">
                                                    <span>{{tournamentObject.championship.away.teamName}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </drag-scroll>
        </div>
        <ng-template #tbd>
            <span>TBD</span>
        </ng-template>


    </div>
</div>

<ng-template #noBrackets>
    <div class="text-center">
        <h3>No Brackets To Display Now</h3>
    </div>
</ng-template>
