<div class="container">
    <div class="row" *ngIf="!Auth.isAuthenticated(); else loggedIn">
        <div class="col-3"></div>
        <div class="col">
            <div class="card mt-5">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <h5 class="card-title">We manage authentication and login via Battle.net</h5>
                    <div class="text-center"><a href="/auth/bnet" class="btn btn-primary bNet">Login with Battle.Net!</a></div>
                    <div class="text-center mt-1"><img class="text-center" src="assets/Blizz_Corp_RGB_LightBkgd.png" width="145"></div>
                </div>
            </div>

            <p class="disclaimer">We do not capture any private data (ie: email); however we do create a profile including your battle.bet account and collect information regarding your play schedule and MMR etc.</p>
            <!-- <div class="mt-5">
                <div class="row">
                    <div class="col">
                        <h2>Login</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>We manage athentication an login via Battle.net:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><a type="button" class="btn btn-success" href="/auth/bnet">Login with Battle.Net!</a></div>
                </div>
            </div> -->
        </div>
        <div class="col-3"></div>
    </div>
    <ng-template #loggedIn>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <h2>Welcome to the Nexus Gaming Series app!</h2>
                <a type="button" class="btn btn-success" href="/profile/{{profile}}">Check out your profile!</a>
            </div>
            <div class="col-sm"></div>
        </div>
    </ng-template>
</div>