<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                Name: {{player.displayName}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div *ngIf="player.averageMmr; else noMmr">MMR: {{player.averageMmr}}</div>

            </div>
            <ng-template #noMmr>
                MMR: Player has not updated profile with hots logs URL, please contact them!
            </ng-template>
        </div>
        <div class="row">
            <div class="col">
                <div *ngIf="player.hlRankMetal && player.hlRankDivision; else noMetalDiv">
                    Hero League: {{player.hlRankMeatal}} - {{player.hlRankDivision}}
                </div>
                <ng-template #noMetalDiv>
                    Player has not recorded an ingame metal/div in their profole, please contact them!
                </ng-template>
            </div>
        </div>
    </div>
</div>