<div class="row">
    <div class="col" *ngIf="!errorState else errorTemplate">
        <div class="row">
            <div class="col">
                <strong>Name:</strong>
                <app-player-link [player]="player.displayName" [target]="'_blank'">{{player.displayName}}</app-player-link>
            </div>
        </div>
        <div class="row" *ngIf="player.smurfAccount">
            <div class="col">
                <span class="text-danger"> <i class="text-warning fas fa-exclamation-triangle"></i> !!! This account has been flagged
                  as a smurf / banned account !!!! <i class="text-warning fas fa-exclamation-triangle"></i> </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="player.heroesProfileMmr; else nohpMmr"><strong>Heros-Profile MMR:</strong> {{player.heroesProfileMmr}}</div>
                <div *ngIf="player.lowReplays">! This player has few replays !</div>
            </div>
            <ng-template #nohpMmr>
                Warning: Player does not have a heroes profile mmr!
            </ng-template>
        </div>
        <div class="row">
            <div class="col">
                <div *ngIf="player.verifiedRankHistory && player.verifiedRankHistory.length>0; else noMetalDiv">
                    <div> <strong>Storm Leauge Ranks:</strong></div>
                    <ng-container *ngFor="let r of player.verifiedRankHistory">
                        <div class="border p-2" *ngIf="r?.status == 'verified'">
                            <div>Year {{r.year}} Season {{r.season}}</div>
                            Storm League: {{r?.hlRankMetal}} - {{r?.hlRankDivision}}
                            <div>NGS Level: {{r.level}}</div>
                            <div>
                                <app-storm-league [ngsRankNumber]="r.level"></app-storm-league>
                            </div>
                        </div>
                    </ng-container>


                </div>
                <ng-template #noMetalDiv>
                    Player has no verified in game ranks!
                </ng-template>
            </div>
        </div>
    </div>
</div>
<ng-template #errorTemplate>
    <div class="col">
        <h1> An Unexpected Error has occured.</h1>
    </div>
</ng-template>
