<div class="container forceFull">
    <div class="row">
        <div class="col">

            <div class="row mt-3">
                <div class="col text-center">
                    <h3>User Message Center</h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col" *ngIf="messages.length>0 else noMessages">
                    <div class="list-group">
                        <div class="list-group-item" *ngFor="let message of messages" [ngClass]="{'border bg-secondary text-white': isSelected(message)}">
                            <div class="row">
                                <div class="col-10 finger" (click)="selectMessage(message)">
                                    <div class="row">
                                        <div class="col">Sender: {{message.sender}}</div>
                                        <div class="col">Time: {{util.getDateFromMS(message.timeStamp)}} {{util.getTimeFromMS(message.timeStamp)}} {{util.getSuffixFromMS(message.timeStamp)}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            Subject: {{message.subject}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div><span class="icon-align finger" (click)="deleteMessage(message)"><i class="material-icons">delete_forever</i>Delete</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noMessages>
                    <div class="col p-5 text-center">
                        <div>No messages!</div>
                        No news is good news!
                    </div>
                </ng-template>
            </div>
            <div style="height:100px"></div>

            <div class="row border border-secondary p-4" *ngIf="selectedMessage">
                <div class="col">
                    <div class="row mt-1">
                        <div class="col">
                            Sender: {{selectedMessage.sender}}
                        </div>
                        <div class="col">
                            Time: {{util.getDateFromMS(selectedMessage.timeStamp)}} {{util.getTimeFromMS(selectedMessage.timeStamp)}} {{util.getSuffixFromMS(selectedMessage.timeStamp)}}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            Subject: {{selectedMessage.subject}}
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            Content: {{selectedMessage.content}}
                        </div>
                    </div>
                    <!-- action -->
                    <div *ngIf="selectedMessage.request">
                        <div class="row p-4">
                            <div class="col" *ngIf="selectedMessage.request.instance=='team'">
                                <span>This message requires your attention! Please see below:</span>
                                <div class="mt-2">You can review this users profile and Accept or Decline this request.</div>
                                <div class="mt-1">If you approve the user will be added to the pending member queue and an admin will review the team join.</div>
                                <div>If you decline this request nothing further will occur.</div>
                            </div>
                            <div class="col" *ngIf="selectedMessage.request.instance=='user'">
                                <span>This message requires your attention! Please see below:</span>
                                <div class="mt-2">You can review this teams profile and Accept or Decline this request.</div>
                                <div class="mt-1">If you accept the invite you will be added to the pending member queue and an admin will review the team join.</div>
                                <div>If you decline this request nothing further will occur.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span *ngIf="selectedMessage.request.instance=='team'"> View User Profile <a [routerLink]="['/profile/', user.routeFriendlyUsername(selectedMessage.request.requester)]">{{selectedMessage.request.requester}}</a></span>
                                <span *ngIf="selectedMessage.request.instance=='user'"> View Team Profile <a [routerLink]="['/teamProfile/', team.routeFriendlyTeamName(selectedMessage.request.requester)]">{{selectedMessage.request.requester}}</a></span>
                            </div>
                            <div class="col text-center">
                                <button (click)="actionRequest(true, selectedMessage)" class="btn btn-success">Accept</button>
                                <button (click)="actionRequest(false, selectedMessage)" class="ml-2 btn btn-danger">Decline</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>