<!-- Section Title -->
<app-banner-image [bannerTitle]="'Message Center'"></app-banner-image>

<!-- Section Area - Content Central -->
<section class="content-info">
    <div class="container paddings-mini">
        <!-- Content Text-->
        <div class="panel-box padding-b">
            <div class="titles">
                <h4>Inbox</h4>
            </div>
            <div class="row mt-3">
                <div class="col" *ngIf="messages.length>0 else noMessages">
                    <div class="list-group">
                        <div class="list-group-item" *ngFor="let message of messages" [ngClass]="{'border bg-secondary text-white': isSelected(message)}">
                            <div class="row">
                                <div class="col-10 finger" (click)="selectMessage(message)">
                                    <div class="row">
                                        <div class="col"><strong>Sender:</strong> {{message.sender}}</div>
                                        <div class="col"><strong>Time:</strong> {{util.getFormattedDate(message.timeStamp, 'MM/DD/YYYY hh:mm A')}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <strong>Subject:</strong> {{message.subject}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div>
                                        <span class="icon-align finger" (click)="deleteMessage(message)">
                                          <i class="material-icons">delete_forever</i> Delete
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noMessages>
                    <div class="col p-5 text-center">
                        <div><strong>No messages!</strong></div>
                        No news is good news!
                    </div>
                </ng-template>
            </div>
        </div>
        <!-- End Content Text-->
        <div class="panel-box padding-b" *ngIf="selectedMessage">
            <div class="titles">
                <h4>Selected Message</h4>
            </div>
            <div class="row p-4">
                <div class="col">
                    <div class="row mt-1">
                        <div class="col">
                            <strong>Sender:</strong> {{selectedMessage.sender}}
                        </div>
                        <div class="col">
                            <strong>Time:</strong> {{util.getDateFromMS(selectedMessage.timeStamp)}} {{util.getTimeFromMS(selectedMessage.timeStamp)}} {{util.getSuffixFromMS(selectedMessage.timeStamp)}}
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <strong>Subject:</strong> {{selectedMessage.subject}}
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <strong>Content:</strong> {{selectedMessage.content}}
                        </div>
                    </div>
                    <!-- action -->
                    <div *ngIf="selectedMessage.request">
                        <div *ngIf="selectedMessage.request.instance=='team' || selectedMessage.request.instance=='user'">
                            <div class="row p-4">
                                <div class="col" *ngIf="selectedMessage.request.instance=='team'">
                                    <span>This message requires your attention! Please see below:</span>
                                    <div class="mt-2">You can review this users profile and Accept or Decline this request.</div>
                                    <div class="mt-1">If you approve the user will be added to the pending member queue and an admin will review the team join.</div>
                                    <div>If you decline this request nothing further will occur.</div>
                                </div>
                                <div class="col" *ngIf="selectedMessage.request.instance=='user'">
                                    <span>This message requires your attention! Please see below:</span>
                                    <div class="mt-2">You can review this teams profile and Accept or Decline this request.</div>
                                    <div class="mt-1">If you accept the invite you will be added to the pending member queue and an admin will review the team join.</div>
                                    <div>If you decline this request nothing further will occur.</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span *ngIf="selectedMessage.request.instance=='team'"> View User Profile
                                  <app-player-link [player]="selectedMessage.request.requester">
                                    {{selectedMessage.request.requester}}</app-player-link>
                                  </span>
                                    <span *ngIf="selectedMessage.request.instance=='user'"> View Team Profile
                                  <app-team-link [team]="selectedMessage.request.requester">
                                    {{selectedMessage.request.requester}}</app-team-link>
                                  </span>
                                </div>
                                <div class="col text-center">
                                    <button (click)="actionRequest(true, selectedMessage)" class="btn btn-success">Accept</button>
                                    <button (click)="actionRequest(false, selectedMessage)" class="ml-2 btn btn-danger">Decline</button>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <div *ngIf="selectedMessage.request.players && selectedMessage.request.players.length>0">
                                    <div class="mt-2" *ngFor="let player of selectedMessage.request.players">
                                        <app-player-link [player]="player">
                                            {{player}}
                                        </app-player-link>
                                    </div>
                                </div>
                                <div *ngIf="selectedMessage.request.teams && selectedMessage.request.teams.length>0">
                                    <div class="mt-2" *ngFor="let team of selectedMessage.request.teams">
                                        <app-team-link [team]="team">
                                            {{team}}
                                        </app-team-link>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>