.dominator {
    max-height: 110px;
    /* max-width: 75px; */
}

.match-border {
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
}

.dom-cont {
    color: white;
    position: relative;
    text-align: center;
}

.font-ad {
    font-size: 1.5em;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.winning {
    /* border-style: solid;
    border-color: #77d56e;
    */
    background-color: #77d56e;
    /* background: linear-gradient(90deg, #5ed419 5%, #00ffff00 30%); */
    /* background: linear-gradient(90deg, #5ed419 5%, #00ffff00 5%); */
    /* background: -moz-linear-gradient(left, rgba(125, 185, 232, 0) 0%, rgba(107, 200, 114, 0) 69%, rgba(103, 203, 89, 0.7) 81%, rgba(98, 208, 56, 1) 90%, rgba(94, 212, 25, 1) 100%); */
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(left, rgba(125, 185, 232, 0) 0%, rgba(107, 200, 114, 0) 69%, rgba(103, 203, 89, 0.7) 81%, rgba(98, 208, 56, 1) 90%, rgba(94, 212, 25, 1) 100%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to right, rgba(125, 185, 232, 0) 0%, rgba(107, 200, 114, 0) 69%, rgba(103, 203, 89, 0.7) 81%, rgba(98, 208, 56, 1) 90%, rgba(94, 212, 25, 1) 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#5ed419', GradientType=1); */
}