<!-- Section Title -->
<app-banner-image [bannerTitle]="'Match Scheduler'"></app-banner-image>

<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12">
                <ul class="nav nav-tabs" id="myTab">
                    <li [ngClass]="{'active': index==0}"><a href="#season" data-toggle="tab" (click)="index=0">Season</a></li>
                </ul>
                <div class="tab-content">
                    <!-- Content Text-->
                    <div class="tab-pane" [ngClass]="{'active': index==0}" id="season">
                        <div *ngIf="index == 0">
                            <div class="panel-box padding-b">
                                <div class="titles">
                                    <h4 *ngIf="match.round else noRound">Round {{match.round}}</h4>
                                    <ng-template #noRound>
                                        <h4>Round</h4>
                                    </ng-template>
                                </div>

                                <div class="info-panel">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- error message not scheduled in time -->
                                            <div class="row" *ngIf="checkDate()">
                                                <div class="col text-center text-danger">
                                                    This match was not scheduled before it's schedule due date!
                                                    <div> Please contact an admin</div>
                                                </div>
                                            </div>
                                            <!-- end error message -->
                                            <!-- match info: -->
                                            <app-match-results-header [match]="match"></app-match-results-header>
                                            <!-- end match info -->
                                            <!-- schedule form components -->
                                            <div class="row mt-4">
                                                <div class="col-lg-6 col-sm-12">
                                                    <app-date-picker [(date)]="matchDate"></app-date-picker>
                                                </div>
                                                <div class="col-lg-6 col-sm-12">
                                                    <div class="row">
                                                        <div class="col">
                                                            <mat-form-field class="mat-FullWidth">
                                                                <mat-select placeholder="Start Time:" [(ngModel)]="time">
                                                                    <mat-option *ngFor="let time of times" [value]="time">
                                                                        {{time}}
                                                                    </mat-option>
                                                                </mat-select>
                                                                <mat-hint>Times are localized</mat-hint>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col">
                                                            <mat-form-field class="mat-FullWidth">
                                                                <mat-select placeholder="AM/PM:" [(ngModel)]="suffix">
                                                                    <mat-option *ngFor="let suffix of amPm" [value]="suffix">
                                                                        {{suffix}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- save -->
                                            <div class="row mt-2">
                                                <div class="col text-center">
                                                    <button [disabled]="checkDate()" type="button" class="btn btn-success" (click)="saveSched()">Save</button>
                                                </div>
                                            </div>
                                            <!-- end form components -->
                                            <!-- show team schedules -->
                                            <div class="row mt-2">
                                                <div class="col text-center">
                                                    <button class="btn btn-primary" (click)="getTeamSchedules()">Load Team Schedules</button>
                                                </div>
                                            </div>
                                            <div class="row mt-3" *ngIf="showSchedules">
                                                <div class="col">
                                                    <div class="text-center">{{match.home.teamName}}</div>
                                                    <app-times-available [disabled]="true" [availObj]="homeTeam.availability">
                                                    </app-times-available>
                                                </div>
                                                <div class="col">
                                                    <div class="text-center">{{match.away.teamName}}</div>
                                                    <app-times-available [disabled]="true" [availObj]="awayTeam.availability">
                                                    </app-times-available>
                                                </div>
                                            </div>
                                            <!-- end show team schedules -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" [ngClass]="{'active': index==1}" id="tournament">
                        <div *ngIf="index == 1">

                        </div>
                    </div>
                    <!-- End Content Text-->
                </div>
            </div>
        </div>

    </div>
</section>
