<div class="container pt-4">
    <div class="row">
        <div class="col">
            <a [routerLink]="['/_admin/dashboard']">Back to Dashboard</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-team-search (teamSelected)="receiveTeam($event)" [buttonText]="'Select Team For Management'"></app-team-search>
        </div>
        <div class="col-3">
            <div class="row" *ngIf="turnOnForm">
                <div class="col">Review team below</div>
            </div>
        </div>
    </div>
    <div *ngIf="turnOnForm">
        <div class="row">
            <div class="col">
                <app-team-profile [source]="'admin'" [passedProfile]="recievedProfile"></app-team-profile>
            </div>
        </div>
    </div>
</div>