<div class="pb-5 pt-5 mb-5">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col">
                    <div class="dropdown">
                        <button type="button" class="mt-1 btn btn-danger dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="icon-align">
               <i class="material-icons md-18">settings</i>
               Manage
             </span>
           </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item finger" (click)="openAdminCaptainChangeDialog()"><span class="icon-align"><i
                   class="material-icons">cached</i>Change captain</span></a>
                            <a class="dropdown-item finger" (click)="openAdminDeleteDialog()"><span class="icon-align"><i
                   class="material-icons">delete_forever</i>Delete team</span></a>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <button type="button" (click)="adminRefreshMMR()" class="mt-1 btn btn-info">Update Team MMR</button>
                </div>
                <div class="col">
                    <button type="button" [disabled]="!updateTeamControlGroup.valid" (click)="adminSave()" class="mt-1 btn btn-success ">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-image-upload [showEdit]="true" [embedded]="true" [teamName]="returnedProfile.teamName" [width]="500" [height]="350" [existingImage]="returnedProfile.logo" [imageType]="'teamlogo'"></app-image-upload>
            <div class="mt-2">
                <strong>Team Id:</strong>{{returnedProfile._id}}
            </div>
            <app-team-name [formControl]="nameControl" [(ngModel)]="returnedProfile.teamName"></app-team-name>
            <mat-slide-toggle [disabled]="disabled" [(ngModel)]="returnedProfile.lookingForMore">
                Looking for More.
            </mat-slide-toggle>
            <div class="row">
                <div class="col">
                    HOTS LOGS MMR: {{returnedProfile.teamMMRAvg}}
                </div>
                <div class="col">
                    HEROES PROFILE MMR: {{returnedProfile.hpMmrAvg}}
                </div>
                <div class="col">
                    NGS MMR: {{returnedProfile.ngsMmrAvg}}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <app-team-ticker name="ticker" [(ngModel)]="returnedProfile.ticker"></app-team-ticker>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <app-twitch [(twitch)]="returnedProfile.twitch"></app-twitch>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <app-twitter [(twitter)]="returnedProfile.twitter"></app-twitter>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <app-youtube [(youtube)]="returnedProfile.youtube"></app-youtube>
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col ">
            <h2>Current Team Members:</h2>
        </div>
    </div>
    <!-- team members list -->
    <div class="row mt-3 ">
        <div class="col ">
            <div class="row mt-3 " *ngFor="let player of displayMembersLeft ">
                <!-- player name -->
                <div class="col-7 verticalAlign ">
                    <app-player-link [player]="player.displayName">
                        <i *ngIf=" team.captainLevel(returnedProfile, player.displayName) " class="fas fa-crown "></i> {{player.displayName}}
                    </app-player-link>
                </div>
                <!-- remove from team : shows for admin and captain -->
                <div *ngIf="!disabled " class="col ">
                    <button class="btn btn-danger " (click)="openConfirmRemove(player.displayName) " [disabled]="deleteUserButtonOn(player.displayName) "> X </button>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="row mt-3 " *ngFor="let player of displayMembersRight ">
                <!-- player name -->
                <div class="col ">
                    <app-player-link [player]="player.displayName">
                        <i *ngIf=" team.captainLevel(returnedProfile , player.displayName)" class="fas fa-crown "></i> {{player.displayName}}
                    </app-player-link>
                </div>
                <!-- remove from team : shows for admin and captain -->
                <div *ngIf="!disabled " class="col ">
                    <button class="btn btn-danger " (click)="openConfirmRemove(player.displayName) " [disabled]="deleteUserButtonOn(player.displayName) "> X </button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row mt-3 ">
            <div class="col ">
                <h2>Pending Members:</h2>
            </div>
        </div>
        <!-- team members list -->
        <div class="row mt-3 ">
            <div class="col ">
                <div class="row mt-3 " *ngFor="let player of displayPendingMembersLeft ">
                    <div class="col-7 verticalAlign ">
                        <app-player-link [player]="player.displayName">
                            {{player.displayName}}
                        </app-player-link>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="row mt-3 " *ngFor="let player of displayPendingMembersRight ">
                    <div class="col ">
                        <app-player-link [player]="player.displayName">
                            {{player.displayName}}
                        </app-player-link>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            Over ride registration status:
            <mat-checkbox [(ngModel)]="returnedProfile.questionnaire.registered">Registered</mat-checkbox>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <app-questionnaire [source]="source" [team]="returnedProfile"></app-questionnaire>
        </div>
    </div>
</div>