<div class="row mt-3">
    <div class="col">
        {{displayText}} <span class="req-field">*At least one time is required.</span>
        <div class="row" *ngIf="!editOn && errorReply.length>0">
            <div class="col req-field">
                {{errorReply}}
            </div>
        </div>
    </div>
</div>
<div [ngClass]="{'error-avail':errorAvail}">
    <div class="row mt-3">
        <div class="col">
            <mat-checkbox [(ngModel)]="availability.monday.available" [disabled]="editOn">Monday</mat-checkbox>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.monday.startTime" placeholder="Start Time" [disabled]="editOn">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput [(ngModel)]="availability.monday.endTime" type="time" placeholder="End Time" [disabled]="editOn">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-checkbox class="" [(ngModel)]="availability.tuesday.available" [disabled]="editOn">Tuesday</mat-checkbox>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.tuesday.startTime" placeholder="Start Time" [disabled]="editOn">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.tuesday.endTime" placeholder="End Time" [disabled]="editOn">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-checkbox class="" [(ngModel)]="availability.wednesday.available" [disabled]="editOn">Wednesday</mat-checkbox>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.wednesday.startTime" placeholder="Start Time" [disabled]="editOn">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.wednesday.endTime" placeholder="End Time" [disabled]="editOn">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-checkbox class="" [(ngModel)]="availability.thursday.available" [disabled]="editOn">Thursday</mat-checkbox>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.thursday.startTime" placeholder="Start Time" [disabled]="editOn">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.thursday.endTime" placeholder="End Time" [disabled]="editOn">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-checkbox class="" [(ngModel)]="availability.friday.available" [disabled]="editOn">Friday</mat-checkbox>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.friday.startTime" placeholder="Start Time" [disabled]="editOn">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.friday.endTime" placeholder="End Time" [disabled]="editOn">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-checkbox class="" [(ngModel)]="availability.saturday.available" [disabled]="editOn">Saturday</mat-checkbox>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.saturday.startTime" placeholder="Start Time" [disabled]="editOn">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.saturday.endTime" placeholder="End Time" [disabled]="editOn">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-checkbox class="" [(ngModel)]="availability.sunday.available" [disabled]="editOn">Sunday</mat-checkbox>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.sunday.startTime" placeholder="Start Time" [disabled]="editOn">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field>
                <input matInput type="time" [(ngModel)]="availability.sunday.endTime" placeholder="End Time" [disabled]="editOn">
            </mat-form-field>
        </div>
    </div>
</div>