<div class="row">
    <div class="col-7">
        <form class="teamSearchForm">
            <mat-form-field class="mat-FullWidth">
              <mat-label>Enter team name</mat-label>
                <input matInput placeholder="Enter team name" [(ngModel)]="selectedTeam" aria-label="Enter team name" [matAutocomplete]="auto" [formControl]="teamCtrl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let name of foundTeams " [value]="name">
                        {{name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div class="col">
        <button class="btn btn-primary" type="button" (click)="nameSelect(selectedTeam)"> {{btnTxt}} </button>
    </div>
</div>
