<div class="item-group">
    <ul>
        <li *ngFor="let team of teamList">
            <app-team-link [team]="team.teamName">
                <div class="row">
                    <div class="col-2">
                        <img src="{{team.logo}}" alt="">
                    </div>
                    <div class="col-10 text-center cust-word-break">
                        {{team.teamName}}
                    </div>
                </div>
            </app-team-link>
        </li>
    </ul>
</div>