<div class="container">
    <div class="row bg-white forceFull">
        <div class="col">
            <div class="row mt-2">
                <div class="col">
                    <a [routerLink]="['/_admin/dashboard']">Back to Dashboard</a>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="form-group">
                        <input matInput placeholder="Thread Name">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>