<div class="container">
    <div class="row bg-white forceFull">
        <div class="col">
            <div class="row mt-2">
                <div class="col">
                    <a [routerLink]="['/_admin/dashboard']">Back to Dashboard</a>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <form>
                        <div class="form-group">
                            <input matInput placeholder="Thread Name" [(ngModel)]="threadName">
                        </div>
                        <div class="form-group">
                            <p>
                                Registration Required:
                            </p>
                            <p>Simple Registration? Simple, yes opt in.</p>
                            <p>Registration Questions:</p>
                        </div>
                        <div class="form-group">
                            <p>
                                Invite Teams:
                            </p>
                        </div>
                    </form>



                    <button (click)="createThread(threadName)">Shut up</button>
                </div>
            </div>
        </div>
    </div>
</div>