<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                Match Details
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col">
                Schedule
            </div>
        </div>
        <div class="row">
            <div class="col">
                Caster Info
            </div>
        </div>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>