<!-- Section Title -->
<div class="section-title-team">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="row">
                    <div class="col-md-3">
                        <!-- <img src="https://placekitten.com/150/150" alt=""> -->
                    </div>

                    <div class="col-md-9">
                        <h1>{{divDisplay.displayName}}</h1>
                        <ul class="general-info">
                            <li>
                                <h6><strong>MMR Upper:</strong> {{divDisplay.maxMMR}}</h6>
                            </li>
                            <li>
                                <h6><strong>MMR Lower:</strong> {{divDisplay.minMMR}}</h6>
                            </li>
                            <li>
                                <h6><strong>Moderator:</strong> {{divDisplay.moderator}}</h6>
                            </li>
                            <!-- <li>
                                <h6><strong>Total Titles:</strong> 100+</h6>
                            </li>
                            <li>
                                <h6><strong>Location:</strong> Colombia</h6>
                            </li>
                            <li>
                                <h6>
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <a href="https://themeforest.net/user/iwthemes/portfolio?ref=iwthemes" target="_blank">www.site.com</a>
                                </h6>
                            </li> -->
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image-team" [style.background-image]="'url('+ divisionImage +')'">
    </div>
</div>
<!-- End Section Title -->

<!-- Section Area - Content Central -->
<section class="content-info">

    <!-- Single Team Tabs -->
    <div class="single-team-tabs">
        <div class="container">
            <div class="row pb-5">
                <!-- Left Content - Tabs and Carousel -->
                <div class="col-xl-12 col-md-12">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="finger" [ngClass]="{'active': index==0}"><a (click)="setTab(0)">Standings</a></li>
                        <li class="finger" [ngClass]="{'active': index==1}"><a (click)="setTab(1)">Teams</a></li>
                        <li class="finger" [ngClass]="{'active': index==2}"><a (click)="setTab(2)">Schedule</a></li>
                        <li class="finger" [ngClass]="{'active': index==3}"><a (click)="setTab(3)">Results</a></li>
                        <li class="finger" [ngClass]="{'active': index==4}"><a (click)="setTab(4)">Tournament</a></li>
                    </ul>
                    <!-- End Nav Tabs -->
                </div>

                <div class="col-lg-9 padding-top-mini pb-5">
                    <!-- Content Tabs -->
                    <div class="tab-content">
                        <!-- Tab One - overview -->
                        <div class="tab-pane" *ngIf="index == 0" [ngClass]="{'active': index==0}">

                            <app-standings-view [season]="passSeasonVal" [division]="divDisplay"></app-standings-view>

                        </div>
                        <!-- Tab One - overview -->

                        <!-- Tab Two - squad -->
                        <div class="tab-pane" *ngIf="index == 1" [ngClass]="{'active': index==1}">
                            <div *ngIf="index==1">
                                <app-team-display [teams]="teamAggregate" [season]="passSeasonVal"></app-team-display>
                            </div>
                        </div>
                        <!-- End Tab Two - squad -->

                        <!-- Tab Theree - schedule -->
                        <div class="tab-pane" *ngIf="index == 2" [ngClass]="{'active': index==2}">
                            <ng-container class="pb-5">
                                <app-schedule-view *ngIf="!divDisplay.cupDiv" [division]="divDisplay" [season]="passSeasonVal"></app-schedule-view>
                                <br>
                                <app-division-tournament-schedule-table *ngIf="!divDisplay.cupDiv" [division]="divDisplay" [season]="passSeasonVal"></app-division-tournament-schedule-table>
                                <app-division-cup-schedule *ngIf="divDisplay.cupDiv" [division]="divDisplay" [season]="passSeasonVal"></app-division-cup-schedule>
                            </ng-container>

                        </div>
                        <!-- End Tab Theree - results -->

                        <!-- Tab Theree - results -->
                        <div class="tab-pane" *ngIf="index == 3" [ngClass]="{'active': index==3}">
                            <div>
                                <app-division-results-tiles *ngIf="!divDisplay.cupDiv" [season]="passSeasonVal" [division]="divDisplay"></app-division-results-tiles>
                                <div class="mt-3">
                                    <app-division-tournament-results-tiles *ngIf="!divDisplay.cupDiv" [division]="divDisplay"></app-division-tournament-results-tiles>
                                </div>

                                <app-division-cup-results-tiles *ngIf="divDisplay.cupDiv" [division]="divDisplay"></app-division-cup-results-tiles>
                            </div>

                        </div>
                        <!-- End Tab Theree - results -->

                        <!-- Tab four - tournament -->
                        <div class="tab-pane" *ngIf="index == 4" [ngClass]="{'active': index==4}">
                            <div>
                                <div *ngIf="currentSeason>6 || passSeasonVal>6 else oldBracket">
                                    <app-challonge-tourn [season]="passSeasonVal? passSeasonVal : currentSeason" [division]="divDisplay">
                                    </app-challonge-tourn>
                                </div>
                                <ng-template #oldBracket>
                                    <app-tournament-view [season]="passSeasonVal ? passSeasonVal : currentSeason" [division]="divDisplay.divisionConcat">
                                    </app-tournament-view>
                                </ng-template>

                            </div>

                        </div>
                        <!-- End Tab four - results -->
                    </div>
                    <!-- Content Tabs -->
                </div>

                <!-- Side info single team-->
                <div class="col-lg-3 padding-top-mini">
                    <div *ngIf="!_passSeason">
                        <app-division-upcoming-matches [division]="divDisplay.divisionConcat">
                        </app-division-upcoming-matches>
                    </div>
                </div>
                <!-- end Side info single team-->

            </div>
        </div>
    </div>
    <!-- Single Team Tabs -->