<div class="panel-box">
    <div class="titles no-margin">
        <h4>Authors</h4>
    </div>
    <div class="info-panel">
        <ul class="list">
            <li><i *ngIf="selectedAuthor == 'all'" class="fa fa-check"></i><a (click)="selectAuthor('all')">All</a></li>
            <li *ngFor="let author of authors">
                <i *ngIf="selectedAuthor == 'all' || selectedAuthor == author.id" class="fa fa-check"></i>
                <a (click)="selectAuthor(author.id)">{{author.name}}</a>
            </li>
        </ul>
    </div>
</div>