<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<!-- footer-->
<div class="instagram-btn">
    <div class="btn-instagram">
        <i class="fab fa-discord"></i>
        <a href="https://discordapp.com/invite/mQMfTga" target="_blank">Join Discord</a>
    </div>
</div>
<footer id="footer">
    <!-- Footer Top-->
    <div class="top-footer">

        <!-- Logo Footer-->
        <div class="col-lg-12">
            <div class="logo-footer">
                <h2>Nexus Gaming Series</h2>
            </div>
        </div>
        <!-- End Logo Footer-->

        <!-- Social Icons-->
        <ul class="social">
            <li>
                <div>
                    <a href="https://twitter.com/nexus_series?lang=en" target="_blank" class="twitter-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="https://www.patreon.com/heroesnexusgamingseries" target="_blank" class="google-plus">
                        <i class="fab fa-patreon"></i>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="https://www.youtube.com/channel/UCnfohSTrlMyqiCwI5-3jXmw" target="_blank" class="youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </li>
        </ul>
        <!-- End Social Icons-->
    </div>
    <!-- End Footer Top-->

    <!-- Links Footer-->
    <div class="links-footer">
        <div class="container">
            <div class="row">

                <!-- Column Links -->
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <!-- <div class="info-links">
                        <h5>Organisation</h5>
                        <ul>
                            <li><a href="#">Volunteers</a></li>
                            <li><a href="#">Committees</a></li>
                            <li><a href="#">Official Documents</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div> -->
                </div>
                <!-- End Column Links -->

                <!-- Column Links -->
                <div class="col-lg-4 col-md-7 col-sm-7">
                    <div class="info-links">
                        <h5>Divisions</h5>
                        <ul class="columns">
                            <li *ngFor="let division of divisions">
                                <app-division-link [division]="division.divisionConcat">{{division.displayName}}</app-division-link>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Column Links -->

                <!-- Column Links -->
                <div class="col-lg-2 col-md-5 col-sm-5">
                    <div class="info-links">
                        <h5>Interesting Links</h5>
                        <ul>
                            <li><a [routerLink]="['/rules']">Rules</a></li>
                            <li><a [routerLink]="['/faq']">FAQ</a></li>
                            <li><a [routerLink]="['/volunteers']">Volunteers</a></li>
                            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeWoeBVcEe9z3t-tAxpL6k0WzOApjS5MFWrHzmRKRz6j0wQiw/viewform" target="_blank">Suggestions
                                / Bug Reporting</a></li>
                            <li><a [routerLink]="['/potg']">Play of the Game</a></li>
                            <li>
                                <a [routerLink]="['/mvp']">MVP</a>
                            </li>
                            <li>
                                <a href="https://matcherino.com/t/stormdivisions6" target="_blank">Storm Division Matcherino</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Column Links -->

                <!-- Column Links -->
                <div class="col-lg-4 col-md-7 col-sm-7">
                    <ul>
                        <li>
                            <a href="https://www.etsy.com/shop/NGSStoreFront" target="_blank">NGS Store Front</a>
                        </li>
                    </ul>

                </div>
                <!-- End Column Links -->

            </div>
        </div>
    </div>
    <!-- End Links Footer-->

</footer>
<!-- End footer-->

<!-- footer Down-->
<div class="footer-down">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; {{year}} Nexus Gaming Series . All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
