<div *ngIf="registrationOpen">
    <div class="container">
        <div class="questionnaireWrapper" *ngIf="showRegisteredQuestionnaire() else registered">
            <div class="row">
                <div class="col">
                    <h3>Season {{seasonNumber}} Registration / Questionnaire</h3>
                    <span>* Denotes required field</span>
                </div>
                <div class="col">
                    <button [disabled]="responses.registered" (click)="save()" class="btn btn-success">Save Questionnaire</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <h5>Team Name</h5>
                </div>
            </div>
            <div class="row" *ngIf="passedTeam.teamName">
                <div class="col">
                    <mat-form-field class="mat-FullWidth">
                      <mat-label>Team Name:</mat-label>
                        <input matInput placeholder="Team Name" disabled="true" value={{passedTeam.teamName}}>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <h5>How competitive is your team*</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-radio-group [(ngModel)]='responses.compLevel'>
                        <mat-radio-button class="checkboxMargin" value="Very Competitive">Very Competitive
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-radio-group [(ngModel)]='responses.compLevel'>
                        <mat-radio-button class="checkboxMargin" value="Balance winning with fun">Balance winning with fun
                        </mat-radio-button>
                    </mat-radio-group>
                    <mat-radio-group [(ngModel)]='responses.compLevel'>
                        <mat-radio-button class="checkboxMargin" value="Less competitive more for fun">Less competitive more for fun
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <h5>Did you or your team play in NGS last season?*</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-radio-group [(ngModel)]='responses.lastSeason'>
                        <mat-radio-button class="checkboxMargin" value="yes">Yes</mat-radio-button>
                    </mat-radio-group>
                    <mat-radio-group [(ngModel)]='responses.lastSeason'>
                        <mat-radio-button class="checkboxMargin" value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <!-- if the team did not play last season don't show these -->
            <div *ngIf="responses.lastSeason == 'yes'">
                <div class="row mt-3">
                    <div class="col">
                        <h5>If so, what team name did you play under?*</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                          <mat-label>Old Team Name:</mat-label>
                            <input matInput placeholder="Old Team Name:" [(ngModel)]="responses.oldTeam">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h5>What division did you play in?*</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                          <mat-label>Old Division:</mat-label>
                            <input matInput placeholder="Old Division" [(ngModel)]="responses.oldDivision">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h5>How many returning players do you have? Based on NGS divisions last season, what division were they?*</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                          <mat-label>Returning Players:</mat-label>
                            <input matInput placeholder="Returning players" [(ngModel)]="responses.returningPlayers">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                          <mat-label>Returning Players Dib</mat-label>
                            <input matInput placeholder="Returning players Div" [(ngModel)]="responses.returningPlayersDiv">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h5>Who are the new players, if any? Are there any other changes to the team that you feel increase your competitive skill level?</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                          <mat-label>New Players</mat-label>
                            <input matInput placeholder="New Players" [(ngModel)]="responses.newPlayers">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                          <mat-label>Team Changes</mat-label>
                            <input matInput placeholder="Team Changes" [(ngModel)]="responses.teamChanges">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h5>Based on last season's divisions, what division do you think you belong in?</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                          <mat-label>Division Placement</mat-label>
                            <input matInput placeholder="Division Placement" [(ngModel)]="responses.divisionPlacement">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h5>How would you rate your placement and competitive experience in NGS last season? Feedback and comments much appreciated.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                          <mat-label>Prior Placement</mat-label>
                            <input matInput placeholder="Prior Placement" [(ngModel)]="responses.priorPlacement">
                        </mat-form-field>
                    </div>
                </div>
                <!-- div branch end -->
            </div>

            <div class="row mt-3">
                <div class="col">
                    <h5>Has your team been played in any other competitions? If so, at what level and how competitive was the experience?
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="mat-FullWidth">
                      <mat-label>Other competitions</mat-label>
                        <input matInput placeholder="Other competitions" [(ngModel)]="responses.otherLeagues">
                    </mat-form-field>
                </div>
            </div>
            <!-- didn't play ngs -->
            <div *ngIf="responses.lastSeason == 'no'">
                <div class="row mt-3">
                    <div class="col">
                        <h5>If you didn’t play in NGS last season, what do you feel the overall playing skill of your team is? (Bronze, Silver, Gold, Plat…...)* </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="mat-FullWidth">
                          <mat-label>Skill Level</mat-label>
                            <input matInput placeholder="Skill Level" [(ngModel)]="responses.skillGuess">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <h5>Any pertinent history or relevant placement information you would like us to know?</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="mat-FullWidth">
                      <mat-label>Other Information:</mat-label>
                        <input matInput placeholder="Other Information:" [(ngModel)]="responses.otherInfo">
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <h5>Which time block (please pick one, or both) best fits your team’s availability?*</h5>
                    <small> <strong> Also please have one day Friday - Sunday available to make scheduling as easy as possible.</strong></small>
                    <br>
                    <small><strong>PLEASE NOTE THE TIMEZONES</strong></small>
                    <br>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">

                </div>
                <div class="col-12">
                    <div>
                        <mat-radio-group [(ngModel)]='responses.eastWest'>
                            <mat-radio-button class="example-margin" value="east">Monday - Thursday evenings, with match start times between 5 PM - 8 PM <strong>PT</strong></mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        <mat-radio-group [(ngModel)]='responses.eastWest'>
                            <mat-radio-button class="example-margin" value="west">Monday - Thursday evenings, with start times between 7 PM - 10 PM <strong>PT</strong></mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        <mat-radio-group [(ngModel)]='responses.eastWest'>
                            <mat-radio-button class="example-margin" value="either">Either</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col">

                </div>
                <div class="col-12">
                    <div>Note: The primary consideration in placement is competition. We do our best to place teams in their preferred time slot, but there is no guarantee.</div>
                </div>
            </div>

            <!-- <div class="row mt-3">
                <div class="col">
                    <h5>Pick 9 maps for the NGS season {{seasonNumber}} map pool.*</h5>
                </div>
            </div> -->
            <!-- <div class="row" *ngIf="pickedMaps.length<9">
                <div class="col">
                    <mat-form-field class="mat-FullWidth">
                        <mat-select placeholder="Select a map:" [(ngModel)]="selectedMap" disableOptionCentering (ngModelChange)="addMap(selectedMap)">
                            <mat-option *ngFor="let map of filterMaps()" [value]="map">{{map}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Selected Maps: {{pickedMaps.length}} of 9</h5>
                    <br>
                    <div> </div>
                    <table>
                        <tr *ngFor="let map of pickedMaps">
                            <td class="tdClass">
                                {{map}}
                            </td>
                            <td class="tdClass">
                                <span class="finger removeClass bg-danger" (click)="remove(map)"> X </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div> -->
            <div class="row mt-3">
                <div class="col">
                    <h5 style="text-decoration:underline">Change to where we're gathering MMR data</h5>
                    <p style="font-style: italic;">THIS WILL AFFECT YOUR PLACEMENTS</p>
                    <p>
                        In an attempt to better serve the community and perform better placements; we are moving to Heroes Profile to gather MMR from. As such it is incumbent on you and your team to ensure that you are uploading replays via the HeroesProfile uploader.
                    </p>
                    <p><a href="https://api.heroesprofile.com/upload" target="_blank">Heroes Profile API</a></p>
                    <p>This free tool uploads your replays an open community database; also this uploader shares the replays with hotslogs, so it's a win-win.</p>
                    <div class="row">
                        <div class="col text-center vertCentButton">
                            <mat-checkbox [(ngModel)]="responses.acknowledge">
                            </mat-checkbox>
                        </div>
                        <div class="col-11">
                            I understand that my team members will need to use the Heroes Profile uploader in order to allow NGS access to accurate MMR information for my team's season {{seasonNumber}} placement.
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-3">
                <div class="col">
                    <h5>Season {{seasonNumber}} Registration Check List</h5>
                    <div>
                        <table>
                            <tr>
                                <td>
                                    At least 5 members on team.
                                </td>
                                <td>
                                    <span *ngIf="!checkTeamMates()"><i class="material-icons text-danger">close</i></span><span *ngIf="checkTeamMates()" class="material-icons text-success">check</span>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>Maps Picked for Pool</td>
                                <td><span *ngIf="pickedMaps.length!=9"><i class="material-icons text-danger">close</i></span><span *ngIf="pickedMaps.length==9" class="material-icons text-success">check</span></td>
                            </tr> -->
                            <tr>
                                <td>Acknowledge that you are aware of the move to Heroes Profile and the need to upload replays via HotsAPI for accurate placement MMRs </td>
                                <td><span *ngIf="!responses.acknowledge"><i class="material-icons text-danger">close</i></span><span *ngIf="responses.acknowledge" class="material-icons text-success">check</span></td>
                            </tr>
                            <tr>
                                <td>Season {{seasonNumber}} Questionnaire Completed </td>
                                <td><span *ngIf="!checkQuestionnaire()"><i class="material-icons text-danger">close</i></span><span *ngIf="checkQuestionnaire()" class="material-icons text-success">check</span></td>
                            </tr>

                            <!-- <tr>
                                <td>Required SL Ranks Verified</td>
                                <td>
                                    <span *ngIf="!ranksVerified">
                                    <i class="material-icons text-danger">close</i>
                                  </span>
                                    <span *ngIf="ranksVerified" class="material-icons text-success">check</span>
                                </td>
                            </tr> -->

                        </table>

                    </div>
                </div>
                <div class="col vertCentButton">
                    <button [disabled]="!checkValid()" (click)="completeRegistration()" class="btn btn-info">Register for Season {{seasonNumber}}!</button>
                </div>
            </div>
        </div>

        <ng-template #registered>
            <div *ngIf="auth.getUser()==passedTeam.captain">
                <div class="text-center text-success p-5"> Thanks for registering for NGS Season {{seasonNumber}}! Good Luck and We'll see you in the Nexus</div>
            </div>
            <div *ngIf="auth.getUser()!=passedTeam.captain">
                <div class="text-center text-warning p-5"> Only the captain can register the team!</div>
            </div>
        </ng-template>

    </div>
</div>
